@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Html 5 Element
$audio-canvas-video: false; // True | False

// = Grid
// -----------------------------

// Max width wrapper
// $wrapper-width: pxtoem(1140, 16);

// = Prefix
// -----------------------------

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

// = Responsive
// -----------------------------

// $width-desktop: 75em; // 1200/16
// $width-tablet: 62em; // 992/16
// $width-mobile: 48em; // 768/16
//

// Fonts
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Metamorphous");
$font-metamorphous: 'Metamorphous', $font-family-serif ;
$font-baskerville: 'Libre Baskerville', $font-family-serif ;
$font-icon: 'FontAwesome';

// = Colors
// -----------------------------

// Graphic chart

//GREY SHADES
$coal: #1E1A0D;
$coal-2: #1f1c11;
$coal-transparent: rgba(31, 28, 17,0.7);
$coal-transparent-2: rgba(31, 28, 17,0.4);
$grey-dark: #56534A;
$grey: #bdb8b4;
$grey-2: #c4c3c0;
$grey-light: #d9d6d4;
$grey-light-2: #f2f2f1;
$grey-light-3: #eeeeee;
$grey-light-transparent: rgba(217, 214, 212, 0.4);
$grey-light-transparent-2: rgba(217, 214, 212, 0.1);
$white-transparent: rgba(255,255,255,0.7);
$white-transparent-2: rgba(255,255,255,0.3);
//BROWN SHADES
$brown-dark: #312e27;
$brown-dark-transparent: rgba(49, 46, 39, 0.3);
$brown: #57544a;
$brown-transparent: rgba(87, 84, 74, 0.2);
$brown-btn-1: $coal;
$brown-btn-2: #353126;
$brown-btn-3: #4B483E;
$brown-btn-4: #625F56;
//GOLD SHADES
$gold-dark: #665924;
$gold: #b2932f;
$gold-btn: #BFA544;
//METAL SHADES
$platinum: #e2f4f7;
$gold-2: #e8cc0f;
$silver: #d0cbc7;
$copper: #db8d12;
//RED SHADES
$red: #9D1A00;
$red-transparent: rgba(157,26,0,0.6);
$red-light: #c82020;
$red-dark: #5c1000;
//BLUE SHADES
$teal: #057882;
$teal-light: #33939c;
$teal-transparent: rgba(51, 147, 156, 0.7);
$teal-transparent-1: rgba(51, 147, 156, 0.1);
$teal-dark: #004f53;
$teal-dark-2: #002d33;
$blue-marine: #3b5a9f;
//GREEN SHADES
$green: #33905B;

$color1: $teal;
$color2: $red-light;

// Text
$color-text-base: $brown-dark;

// link
$color-link: $color1;
$color-link-hover: darken($color1, 10%);

// Mixin Placeholder
$color-mixin-placeholder: $grey-light;

// Selection
$color-selection: $teal-transparent;

// Btn
$bg-btn: $red;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: $teal-transparent;
$clr-btn-hover: darken($clr-btn, 10%);

//Textures
$img-texture-1: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png');
$img-texture-2: url('../img/bg/bg_texture.png');

// GRADIENT
@mixin gradient-grey-dark {
  @include gradient-radial-multiple-image($img-texture-1, center 160px, circle closest-corner, $brown, $brown-dark, 0%, 100%);
}
@mixin gradient-grey-light {
  @include gradient-radial-multiple-image($img-texture-1, center 160px, circle closest-corner, $grey-light-2, $grey-2, 0%, 100%);
}
@mixin gradient-input {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); //IE9 SVG, needs conditional override of 'filter' to 'none'
  @include gradient-linear-with-color-stop(left, top, bottom, $grey-light-3, white, 0%, 100%, 100% 100%, $pie:"false");
  //@include gradient-linear($grey-light-3, white, 100% 100%, $pie:"false");
}
@mixin gradient-transparent-white {
  @include gradient-radial-multiple-image($img-texture-1, center 160px, circle closest-corner, rgba(255,255,255,0.1), rgba(255,255,255,0.2), 0%, 100%);
}