[data-toggle="dropdown"], .sp-menu-toggle {
  @include no-select-text();
}
.dropdown, .dropdown-toggle, .is-pointer {
  &, & > * {
    @include selection(inherit, transparent !important);
  }
}

// Slide Menu Dropdown
.create-dropdown-container {
  float: left;
  width: 100%;
  @include font-size(18);
}
.create-dropdown.dropdown-toggle {
  color: $sp-menu-grey-dark;
  background: $sp-menu-grey-light $img-texture-1 repeat left top;
  line-height: 18px;
  //padding-top: 0;
  //padding-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
  .create-dropdown-name {float: left;
    max-width: 84%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
//app.css
.popover {
  min-width: 270px;
}// end app.css