/* ==|====================
   Module/Tree
   ======================= */

.leaves {
  overflow: hidden;

  .leaf {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $screen-sm) {
      //min-height: 310px;
      max-width: 100%;
    }
  }
}

.leaf {
  overflow: hidden;
  margin-bottom: ($grid-gutter-width/2);
  .content { @include font-size(16); }
}