// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result.is-pointer(click-to-edit='userResource.name', on-save="updateUserResource(userResource)")
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        .row.btn-container
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy', ng-click='copy()')
                //i.icon.fa.fa-copy
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-3.is-pointer(title='Delete', tabindex='-1',data-target='#delete-chronicle-modal', role='button', data-toggle='modal')
                i.icon.fa.fa-trash-o
.row.l-section.result-content
    .form-group
        label.col-xs-2.control-label  Synopsis
        .col-xs-10
            textarea.form-control(type='text', rows=rows, name="Synopsis", placeholder="chronicle synopsis", ng-model="chronicle.synopsis")
include _confirm-delete-chronicle