// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.container(ng-repeat="userResource in chronicle")
    .row(ng-switch="userResource.resourceType")
        .col-md-12(ng-switch-when="encounter")
            include ../edit/_encounter
        .col-md-12(ng-switch-when="user-monster")
            include _user-monster
        .col-md-12(ng-switch-when="user-npc")
            include _user-npc
        .col-md-12(ng-switch-when="user-text")
            include _user-text
        .col-md-12(ng-switch-when="user-illustration")
            include _user-image-resource
        .col-md-12(ng-switch-when="user-map")
            include _user-image-resource
        .col-md-12(ng-switch-when="user-spell")
            include _user-spell
        .col-md-12(ng-switch-when="user-feat")
            include _user-feat
        .col-md-12(ng-switch-when="user-item")
            include _user-item
        h3(ng-switch-when="binder")
            | {{userResource.title}}