// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#delete-chronicle-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='profile_modal-label',aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button#close-delete-chronicle.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3#profile_modal-label Delete Chronicle
            .modal-body
                #error-alert.alert.alert-danger.hidden {{errorMessage}}
                #success-alert.alert.alert-success.hidden {{successMessage}}
                p. Deleting a chronicle is an unrecoverable operation and will delete all the chronicle's content including custom monsters, npcs, items,...
                .row
                    .col-xs-12.col-md-12
                        form
                            .form-group
                                label.control-label(for='confirm-name') Please enter the chronicle's name below to continue.
                                input.form-control.input-md(type='text', ng-model="confirmName", name='confirm-name',required='')
                            .form-group
                                button.btn.btn-primary(type="submit", ng-click="delete()", ng-disabled="confirmName!==chronicle.name") Delete
                                | &nbsp;
                                button.btn(href='#', data-dismiss='modal', aria-hidden='true') Cancel