// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result {{monster.Name}}
        small Source: {{monster.Source}}
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        h3.t-title CR
            | &nbsp;{{monster.CR | numberToFractionString}}
        strong XP
        | &nbsp;{{monster.XP}}
        .row.btn-container
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy',ng-click='copyMonster()')
                i.icon.fa.fa-copy
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Settings')
                i.icon.fa.fa-cogs
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Favourite',ng-click='toggleFavourite()')
                i(ng-show="favourite").icon.fa.fa-heart
                i(ng-hide="favourite").icon.fa.fa-heart-o
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Delete')
                i.icon.fa.fa-times

.row.l-section.result-content
    .col-xxs-12.col-xs-12.cat
        p.intro.underlined {{monster.Description_Visual}}
        ul.list-inline
            li
                span
                    strong XP
                    | &nbsp;{{monster.XP}}
            li(ng-if="monster.Gender||monster.Race||monster.Classes")
                span {{monster.Gender}} {{monster.Race}} {{monster.Classes|classesToString}}
            li
                span
                    strong {{monster.Alignment}}
                    | &nbsp;{{monster.Size}} {{monster.Type}} {{monster.SubType}}
            li
                span
                    strong Init
                    | &nbsp;{{monster.Init}}
            li
                span
                    strong Senses
                    | &nbsp;{{monster.Senses}}
        ul.list-inline(ng-if="monster.Aura")
            li
                span
                    strong Aura
                    | &nbsp;{{monster.Aura}}
    .col-xxs-12.col-xs-12
        .row
            .col-lg-6.cat.decor
                legend.cat-heading.t-legend.t-title Offense
                ul.cat-content.list-unstyled
                    li
                        span
                            strong SPD
                            | &nbsp;{{monster.Speed}}
                    li(ng-if="monster.Melee")
                        span
                            strong Melee
                            | &nbsp;{{monster.Melee}}
                    li(ng-if="monster.Ranged")
                        span
                            strong Ranged
                            | &nbsp;{{monster.Ranged}}
                    li
                        span
                            strong Space
                            | &nbsp;{{monster.Space}}
                            | &nbsp;
                        span
                            strong Reach
                            | &nbsp;{{monster.Reach}}
                    li(ng-if='monster.SpecialAttacks')
                        span
                            strong Special Attacks
                            | &nbsp;{{monster.SpecialAttacks}};
                    li(ng-if='monster.SpellsKnown')
                        spell-list(spell-string="{{monster.SpellsKnown}}")
                    li(ng-if='monster.Bloodline')
                        span
                            strong Bloodline
                            | &nbsp;{{monster.Bloodline}}
                    li(ng-if='monster.SpellsPrepared')
                        spell-list(spell-string="{{monster.SpellsPrepared}}" )
                    li(ng-bind-html='monster.SLASafe' ,linkify='monster.SLASafe',linkify-type="spell", mythic="monster.Mythic")
            .col-lg-6.cat.decor
                legend.cat-heading.t-legend.t-title Defense
                ul.cat-content.list-unstyled
                    li
                        span
                            strong
                                abbr(title='Armor Class') AC
                            | &nbsp;{{monster.AC}}; {{monster.AC_Mods}}
                    li
                        span
                            strong HP
                            | &nbsp;{{monster.HP}} {{monster.HD}}
                    li
                        span
                            strong Fort
                            | &nbsp;{{monster.Fort}},
                        span
                            strong Ref
                            | &nbsp;{{monster.Ref}},
                        span
                            strong Will
                            | &nbsp;{{monster.Will}}
                    li(ng-if='monster.DR')
                        span
                            strong DR
                            | &nbsp;{{monster.DR}};
                    li(ng-if='monster.Immune')
                        span
                            strong Immune
                            | &nbsp;{{monster.Immune}};
                    li(ng-if='monster.Resist')
                        span
                            strong Resist
                            | &nbsp;{{monster.Resist}};
                    li(ng-if='monster.Weaknesses')
                        span
                            strong Weaknesses
                            | &nbsp;{{monster.Weaknesses}};
                    li(ng-if='monster.SR')
                        span
                            strong SR
                            | &nbsp;{{monster.SR}}

    .col-xxs-12.col-xs-12
        .row
            .col-lg-6.cat.decor
                legend.cat-heading.t-legend.t-title Statistics
                ul.cat-content.list-unstyled
                    li
                        span
                            strong Str
                            | &nbsp;{{monster.Str}},
                        span
                            strong Dex
                            | &nbsp;{{monster.Dex}},
                        span
                            strong Con
                            | &nbsp;{{monster.Con}},
                        span
                            strong Int
                            | &nbsp;{{monster.Int}},
                        span
                            strong Wis
                            | &nbsp;{{monster.Wis}},
                        span
                            strong Cha
                            | &nbsp;{{monster.Cha}}
                    li
                        span
                            strong Base Atk
                            | &nbsp;{{monster.BaseAtk}};
                        span
                            strong CMB
                            | &nbsp;{{monster.CMB}};
                        span
                            strong CMD
                            | &nbsp;{{monster.CMD}}
                    li(ng-if='monster.Feats')
                        span
                            strong Feats&nbsp;
                            span(linkify="monster.Feats",linkify-type="feat", mythic="monster.Mythic")
                    li(ng-if='monster.Skills || monster.RacialMods')
                        span(ng-if='monster.Skills')
                            strong Skills
                            | &nbsp;{{monster.Skills}}
                        span(ng-if='monster.RacialMods')
                            strong Racial Modifiers
                            | &nbsp;{{monster.RacialMods}}
                    li(ng-if='monster.Languages')
                        span
                            strong Languages
                            | &nbsp;{{monster.Languages}}
                    li(ng-if='monster.SQ')
                        span
                            strong SQ
                            | &nbsp;{{monster.SQ}}
            .col-lg-6.cat.decor(ng-if='monster.Environment || monster.Organization || monster.Treasure')
                div
                    legend.cat-heading.t-legend.t-title Ecology
                div
                    ul.cat-content.list-unstyled
                        li(ng-if='monster.Environment')
                            span
                                strong Environment
                                | &nbsp;{{monster.Environment}}
                        li(ng-if='monster.Organization')
                            span
                                strong Organization
                                | &nbsp;{{monster.Organization}}
                        li(ng-if='monster.Treasure')
                            span
                                strong Treasure
                                | &nbsp;{{monster.Treasure}}
    .col-xxs-12.col-xs-12.cat.decor(ng-if='monster.SpecialAbilitiesSafe')
        span
            legend.cat-heading.t-legend.t-title Special Abilities
            // FIXME Use jQuery to change the <h5> tags into <p> or <div>
            .cat-content(ng-bind-html='monster.SpecialAbilitiesSafe')
    .col-xxs-12.col-xs-12.cat.decor(ng-if='monster.Description')
        legend.cat-heading.t-legend.t-title Description
        .cat-content(ng-bind-html='monster.DescriptionSafe')
