// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result {{userResource.Name}}
        small Source: {{userResource.Source}}
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        h3.t-title CR
            | &nbsp;{{userResource.CR | numberToFractionString}}
        strong XP
        | &nbsp;{{userResource.XP}}
        .row.btn-container(ng-show="showButtons")
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy',ng-click='copy()')
                i.icon.fa.fa-copy
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Edit', ng-click="edit()")
                i.icon.fa.fa-edit
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-3.is-pointer(title='Delete', on-confirm="delete()", confirm-click="Are you sure ?", confirm-title="Delete npc")
                i.icon.fa.fa-trash-o
.row.l-section.result-content
    .col-xs-12.cat
        p.intro.underlined {{userResource.Description_Visual}}
        ul.list-inline
            li
                span
                    strong XP
                    | &nbsp;{{userResource.XP}}
            li(ng-if="userResource.Gender||userResource.Race||userResource.Classes")
                span {{userResource.Gender}} {{userResource.Race}} {{userResource.Classes|classesToString}}
            li
                span
                    strong {{userResource.Alignment}}
                    | &nbsp;{{userResource.Size}} {{userResource.Type}} {{userResource.SubType}}
            li
                span
                    strong Init
                    | &nbsp;{{userResource.Init}}
            li
                span
                    strong Senses
                    | &nbsp;{{userResource.Senses}}
        ul.list-inline(ng-if="userResource.Aura")
            li
                span
                    strong Aura
                    | &nbsp;{{userResource.Aura}}
    .col-xs-12
        .row
            .col-xs-12.cat.decor
                legend.t-legend.t-title Defense
                ul.list-unstyled
                    li
                        span
                            strong
                                abbr(title='Armor Class') AC
                            | &nbsp;{{userResource.AC}}; {{userResource.AC_Mods}}
                    li
                        span
                            strong HP
                            | &nbsp;{{userResource.HP}} {{userResource.HD}}
                    li
                        span
                            strong Fort
                            | &nbsp;{{userResource.Fort}},
                        span
                            strong Ref
                            | &nbsp;{{userResource.Ref}},
                        span
                            strong Will
                            | &nbsp;{{userResource.Will}}
                    li(ng-if='userResource.DR')
                        span
                            strong DR
                            | &nbsp;{{userResource.DR}};
                    li(ng-if='userResource.Immune')
                        span
                            strong Immune
                            | &nbsp;{{userResource.Immune}};
                    li(ng-if='userResource.Resist')
                        span
                            strong Resist
                            | &nbsp;{{userResource.Resist}};
                    li(ng-if='userResource.Weaknesses')
                        span
                            strong Weaknesses
                            | &nbsp;{{userResource.Weaknesses}};
                    li(ng-if='userResource.SR')
                        span
                            strong SR
                            | &nbsp;{{userResource.SR}}
            .col-xs-12.cat.decor
                legend.t-legend.t-title Offense
                ul.list-unstyled
                    li
                        span
                            strong SPD
                            | &nbsp;{{userResource.Speed}}
                    li
                        span
                            strong Melee
                            | &nbsp;{{userResource.Melee}}
                    li(ng-if="userResource.Ranged")
                        span
                            strong Ranged
                            | &nbsp;{{userResource.Ranged}}
                    li
                        span
                            strong Space
                            | &nbsp;{{userResource.Space}}
                            | &nbsp;
                        span
                            strong Reach
                            | &nbsp;{{userResource.Reach}}
                    li(ng-if='userResource.SpecialAttacks')
                        span
                            strong Special Attacks
                            | &nbsp;{{userResource.SpecialAttacks}};
                    li(ng-if='userResource.SpellsKnown')
                        spell-list(spell-string="{{userResource.SpellsKnown}}")
                    li(ng-if='userResource.Bloodline')
                        span
                            strong Bloodline
                            | &nbsp;{{userResource.Bloodline}}
                    li(ng-if='userResource.SpellsPrepared')
                        spell-list(spell-string="{{userResource.SpellsPrepared}}" )
                    li(ng-bind-html='userResource.SpellLikeAbilities | toTrustedHtml' ,linkify='userResource.SpellLikeAbilities',linkify-type="spell", mythic="userResource.Mythic")
            .col-xs-12
        .row
            .col-lg-6.cat.decor
                legend.t-legend.t-title Statistics
                ul.list-unstyled
                    li
                        span
                            strong Str
                            | &nbsp;{{userResource.Str}},
                        span
                            strong Dex
                            | &nbsp;{{userResource.Dex}},
                        span
                            strong Con
                            | &nbsp;{{userResource.Con}},
                        span
                            strong Int
                            | &nbsp;{{userResource.Int}},
                        span
                            strong Wis
                            | &nbsp;{{userResource.Wis}},
                        span
                            strong Cha
                            | &nbsp;{{userResource.Cha}}
                    li
                        span
                            strong Base Atk
                            | &nbsp;{{userResource.BaseAtk}};
                        span
                            strong CMB
                            | &nbsp;{{userResource.CMB}};
                        span
                            strong CMD
                            | &nbsp;{{userResource.CMD}}
                    li(ng-if='userResource.Feats')
                        span
                            strong Feats&nbsp;
                            span(linkify="userResource.Feats",linkify-type="feat", mythic="userResource.Mythic")
                    li(ng-if='userResource.Skills || userResource.RacialMods')
                        span(ng-if='userResource.Skills')
                            strong Skills
                            | &nbsp;{{userResource.Skills}}
                        span(ng-if='userResource.RacialMods')
                            strong Racial Modifiers
                            | &nbsp;{{userResource.RacialMods}}
                    li(ng-if='userResource.Languages')
                        span
                            strong Languages
                            | &nbsp;{{userResource.Languages}}
                    li(ng-if='userResource.SQ')
                        span
                            strong SQ
                            | &nbsp;{{userResource.SQ}}
            .col-lg-6.cat.decor(ng-if='userResource.Environment || userResource.Organization || userResource.Treasure')
                div
                    legend.t-legend.t-title Ecology
                div
                    ul.list-unstyled
                        li(ng-if='userResource.Environment')
                            span
                                strong Environment
                                | &nbsp;{{userResource.Environment}}
                        li(ng-if='userResource.Organization')
                            span
                                strong Organization
                                | &nbsp;{{userResource.Organization}}
                        li(ng-if='userResource.Treasure')
                            span
                                strong Treasure
                                | &nbsp;{{userResource.Treasure}}
    .col-xs-12.cat.decor(ng-if='userResource.SpecialAbilities')
        legend.cat-heading.t-legend.t-title Special Abilities
        span.cat-content(ng-bind-html='userResource.SpecialAbilities | toTrustedHtml')
    .col-xs-12.cat.decor(ng-if='userResource.Description')
        legend.cat-heading.t-legend.t-title Description
        span.cat-content(ng-bind-html='userResource.Description | toTrustedHtml')