/* ==|====================
   Layout/Header
   ======================= */

.l-header {
}

//.l-navbar-header {
//  @media (max-width: $screen-xs-max) {
//    padding-left: 0;
//    padding-right: 0;
//  }
//}

.l-nav-top {
  min-height: 140px;
  .l-nav-social {
    margin-top: 12px;
    color: $red;
    a {
      color: $red;
      &:hover { color: white; }
      @include transition(all 0.3s ease-in-out)
    }
  }
  .navbar-brand {
    //@include initials;
    font-size: 30px;
    padding-top: 80px;
    color: white;
    @include transition(all 0.3s ease-in-out);
    @include opacity(1);
    &:hover { @include opacity(0.6); }
  }

  @media (max-width: $screen-xxs-max) {
    min-height: 80px;
    .navbar-brand { padding-top: 45px;}
  }
  @media (max-width: $screen-sm-max) {
    min-height: 80px;
    .navbar-brand { padding-top: 45px;}
  }
  @media (min-width: $screen-xs-min) {
    min-height: 80px;
    .navbar-brand { padding-top: 45px;}
  }
  @media (min-width: $screen-sm-min) {
    min-height: 100px;
    .navbar-brand { padding-top: 58px;}
  }
  @media (min-width: $screen-md-min) {
    min-height: 140px;
    .navbar-brand { padding-top: 80px;}
  }
  @media (min-width: $screen-lg-min) {
    min-height: 160px;
    .navbar-brand { padding-top: 94px;}
  }
}
.l-nav-feedback a {
  background-color: $red;
  color: white;
  &:hover {
    background-color: $red-light;
  }
  //position: fixed;
}