/* ==|====================
   Layout/Main
   ======================= */

.l-main {
}

html, body { height: 100%; min-height: 100%; }
div[ng-view='ng-view'] {
  height: 100%;
  min-height: 100%;
  //overflow-x: hidden;
  position: relative;
  padding-top: 50px; //header height
}

/*[class*="col-"].no-padding-left {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $screen-sm-min) { padding-right: ($grid-gutter-width/2); }
}
[class*="col-"].no-padding-right {
  padding-right: 0;
  padding-left: 0;
  @media (min-width: $screen-sm-min) { padding-left: ($grid-gutter-width/2); }
}*/
.l-tab-content{
  &:before, &:after {
    content: " ";
    display: table;
  }
}
.l-app-content {
  margin-bottom: $grid-gutter-width;
  /*padding-left: 0;
  padding-right: 0;
  @media (min-width: $screen-sm-min) {
    padding-left: ($grid-gutter-width/2);
    padding-right: ($grid-gutter-width/2);
    &.no-padding-left { padding-left: 0; }
    &.no-padding-right { padding-right: 0; }
  }*/
}
.l-encounter-well-container, .l-filters {
  @media (max-width: $screen-xs-max) {
    //max-width: 320px;
    //position: absolute;
  }
  /*position: absolute;
  @media (min-width: $screen-sm-min) {
    position: relative;
  }*/
}
.l-tabs-container {
  @media (min-width: $screen-sm-min) { padding-left: 0; }
}
.l-section {
  overflow: hidden;
  background-color: $grey-light;
  &.sidebar-nav, &.result-list {
    padding-top: ($grid-gutter-width/2);
    padding-bottom: ($grid-gutter-width/2);
    @media (min-width: $screen-sm-min) { margin-right: 0; }
  }
}

@media (min-width: 767px) {

  #wrapper {
    padding-left: 350px;
    transition: all 0.4s ease 0s;
  }

  #sidebar-wrapper {
    margin-top:50px;
    margin-left: -300px;
    left: 300px;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }

  #page-content-wrapper {
    width: 100%;
  }

}

@media (max-width: 768px) {

  #wrapper {
  }

  #sidebar-wrapper {
    display: none;
  }

  #page-content-wrapper {
    width: 100%;
  }

}

.home {
  background-color: $brown-dark;
  @include box-shadow(0,0,0,rgba(0,0,0,0.175));

  h1, h2, h3, .t-title {
    color: white;
    font-size: 1.5em;
    padding: ($grid-gutter-width/2);
    margin: 0;
    font-weight: 300;
    background-color: $brown-dark;
  }

  a {
    display: block;
    color: white;
    font-size: 1em;
    font-weight: 300;
    &:hover {
      background-color: $brown-dark;
      text-decoration: none;
    }
  }
}