.l-search-tabs {
  border-bottom: 0px solid transparent;
  margin-bottom: 0px;
  li {
    border-right: 1px solid $coal-transparent;
    margin-bottom: 0;
    &:last-child, &.last { a { margin-right: 0; border-right-width: 0;} }

    background: $red repeat-x left top;
    &:nth-child(1), &.tab-1 { background-position: 0 0; }
    &:nth-child(2), &.tab-2 { background-position: -20% 0; }
    &:nth-child(3), &.tab-3 { background-position: -40% 0; }
    &:nth-child(4), &.tab-4 { background-position: -60% 0; }
    &:nth-child(5), &.tab-5 { background-position: -80% 0; }
    a {
      @include border-radius($radius : 0px);
      font-family: $font-metamorphous;
      margin-right: 0;
      color: $grey-light;
      padding: 10px;
      background: transparent $img-texture-1 repeat left top;
      &:hover {
        color: white;
        border-color: transparent;
      }
    }
    &:hover {
      color: white;
      background-color: $red-light;
    }
    &.active {
      background-color: $brown-dark;
      a, a:hover {
        color: white;
        background-color: transparent;
        border-top-color: $brown-transparent;
        border-bottom-color: $coal-transparent;
        border-left-color: $brown-transparent;
        border-right-color: $coal-transparent;
      }
    }
    .icon { margin-right: 0.5em; }

    @media (max-width: $screen-xxs-max) {
      font-size: 18px;
      span { display: none; }
    }
    @media (max-width: $screen-sm-max) {

        .icon {
          font-size: 1.5em;
          margin: 0 auto;
          display: block;
      }
    }
    @media (min-width: $screen-xs-min) {
      font-size: 13px;
      span { font-size: 0.75em; }
    }
    @media (min-width: $screen-sm-min) {
      font-size: 15px;
      a { padding: 12px 10px; }
    }
    @media (min-width: $screen-md-min) {
      font-size: 13px;
      span { font-size: 0.9575em; }
    }
    @media (min-width: $screen-lg-min) {
      font-size: 17px;
      a { padding: 15px; }
    }
  }
}