.form-inline.form-group(ng-show="refreshingMonsters || monsters")
    .col-xs-12
        label(for='sort') Sort by:&nbsp;
        select.form-control#monster-sort(ng-model='orderProp')
            option(value='name') Name
            option(value='cr') Challenge Rating

table.monsters.table.table-striped(ng-show="refreshingMonsters || monsters")
    thead
        tr.result-row
            th Name
            th CR
            th(colspan='3', ng-hide="userCreated") Source
    tbody
        tr.is-pointer.monster-row(ng-repeat='monster in monsters')
            td.name-container(ng-class='{selected: selectedMonsterId && (selectedMonsterId === monster.id|| selectedMonsterId === monster._id)}', ng-click='selectMonster(monster.id||monster._id)')
                span {{monster.Name}}
            td.price-container(ng-class='{selected: selectedMonsterId && (selectedMonsterId === monster.id|| selectedMonsterId === monster._id)}', ng-click='selectMonster(monster.id||monster._id)')
                span {{monster.CR | numberToFractionString}}
            td.src-container(ng-hide="userCreated", ng-class='{selected: selectedMonsterId && (selectedMonsterId === monster.id|| selectedMonsterId === monster._id)}', ng-click='selectMonster(monster.id||monster._id)')
                abbr(title='{{monster.Source}}')
                    small {{monster.Source | abbreviateSource}}
            //td.input-container(ng-class='{selected: selectedMonsterId && (selectedMonsterId === monster.id|| selectedMonsterId === monster._id)}')
                input(type='text', placeholder='1', ng-model='monster.amountToAdd')
            td.btn-container.text-right(ng-class='{selected: selectedMonsterId && (selectedMonsterId === monster.id|| selectedMonsterId === monster._id)}')
                // FIXME should be disabled sometimes
                button.add-item-btn(ng-click='addMonster(monster)')
                    i.icon.icon-plus
                        | +

p.text-center(ng-hide="refreshingMonsters || monsters")
    | No monsters found.

.text-center(ng-show="refreshingMonsters || monsters")
    pagination.pagination-sm.page.is-pointer(boundary-links='true', total-items='totalItems', page='currentPage', items-per-page='itemsPerPage', max-size='maxSize', previous-text='‹', next-text='›', first-text='«', last-text='»')