// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.
.form-group.col-xs-12
    input.form-control#monster-search(type='text', name='search', placeholder='Search something…', ng-model='nameSubstring')
.form-group.col-xs-12
    select.form-control#type(ng-model='type')
        // FIXME: this is weird
        option(value='any') Any type
        option(value='aberration') Aberration
        option(value='animal') Animal
        option(value='construct') Construct
        option(value='dragon') Dragon
        option(value='fey') Fey
        option(value='humanoid') Humanoid
        option(value='magical beast') Magical Beast
        option(value='monstrous humanoid') Monstrous Humanoid
        option(value='ooze') Ooze
        option(value='outsider') Outsider
        option(value='plant') Plant
        option(value='undead') Undead
        option(value='vermin') Vermin
.form-group.col-xs-12
    select.form-control#type(ng-model='climate')
        option(value='any') Choose climate
        option(value='any') Any
        option(value='cold') Cold
        option(value='temperate') Temperate
        option(value='warm') Warm
.form-group.col-xs-12
    select.form-control#type(ng-model='terrain')
        option(value='any') Choose terrain
        option(value='any') Any
        optgroup(label="Standard")
            option(value='aquatic') Aquatic
            option(value='coastline') Coastline
            option(value='desert') Desert
            option(value='forest') Forest
            option(value='hills') Hills
            option(value='jungle') Jungle
            option(value='mountains') Mountains
            option(value='ocean') Ocean
            option(value='plains') Plains
            option(value='river') River
            option(value='lake') Lakes
            option(value='swam') Swamp
            option(value='marshes') Marsh
        optgroup(label="Planar")
            option(value='abaddon') Abaddon [NE]
            option(value='abyss') Abyss [CE]
            option(value='elysium') Elysium [CG]
            option(value='heaven') Heaven [LG]
            option(value='hell') Hell [LE]
            option(value='plane of air') Plane of Air
            option(value='plane of earth') Plane of Earth
            option(value='plane of fire') Plane of Fire
            option(value='plane of water') Plane of Water
        optgroup(label="Special")
            option(value='urban') Urban
            option(value='underground') Underground
.col-xs-12
    .col-xxs-4.col-xs-4
        .row
            label(for='monsterCRSlider') <strong>CR</strong> {{minCR | number}} - {{maxCR | number }}
    .col-xxs-8.col-xs-8
        nouislider(min="minCR", max="maxCR",range-min="0",range-max="40")
.col-xs-12
    .checkbox
        label(for='usercreated-checkbox')
            input#usercreated-checkbox(type='checkbox',ng-model='userCreated')
            | Search my custom Monsters