// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

//.form-inline.form-group
    .col-xxs-12.col-xs-12
        label(for='sort') Sort by:&nbsp;
        select.form-control#spell-sort(ng-model='sortBy')
            option(value='name') Name
table.spells.table.table-striped(ng-show="refreshingSpells || spells")
    thead
        tr.result-row
            th Name
            th(colspan='3') Source
    tbody
        tr.is-pointer.spell-row(ng-repeat='spell in spells')
            td.name-container(ng-class='{selected: selectedSpellId == spell.id}', ng-click='selectSpellById(spell.id)')
                span {{spell.name}}
            td.src-container(ng-class='{selected: selectedSpellId == spell.id}', ng-click='selectSpellById(spell.id)')
                abbr(title='{{spell.source}}') {{spell.source | abbreviateSource}}

p.text-center(ng-hide="refreshingSpells || spells")
    | No spells found.

.text-center(ng-show="refreshingSpells || spells")
    pagination.pagination-sm.page.is-pointer(boundary-links='true', total-items='totalSpells', page='currentPage', items-per-page='spellsPerPage', max-size='maxSize', previous-text='‹', next-text='›', first-text='«', last-text='»')
