<script>
    DEMONSQUID.closeFeedbackForever = function () {
        var threeYears = 3 * 365;
        $('#feedback').popover('hide');
        $.cookie('neverShowFeedbackPopover', true, { expires: threeYears });
    }
</script>

<p>
    We are currently in early Beta and we'd love to know what you think.<br/>
    Get involved and share your ideas!<br/>
    Thanks!
</p>
<p>
    <a onclick="$('#feedback').popover('hide')" class="pointer">
        <strong></strong><small>Remind me later</small></strong>
    </a>
    &nbsp;
    &nbsp;
    <a onclick="DEMONSQUID.closeFeedbackForever()" class="pointer">
        <small>Don't show this again</small>
    </a>
</p>
