<link rel="stylesheet" href="css/PF.css">
<div><h2>{{monster.Name}}</h2>

    <h3><i>{{monster.Description_Visual}}</i></h3><br/></div>
<div class="heading"><p class="alignleft">{{monster.Name}}</p>

    <p class="alignright">CR {{monster.CR | numberToFractionString}}</p>

    <div style="clear: both;"></div>
</div>
<div><h5><b>XP </b>{{monster.XP}}</h5><h5>{{monster.Alignment}} {{monster.Size}} {{monster.Type}}
    {{monster.SubType}}</h5><h5><b>Init </b>{{monster.Init}} <b>Senses </b>{{monster.Senses}}</h5></div>
<hr/>
<div><h5><b>DEFENSE</b></h5></div>
<hr/>
<div><h5><b>AC </b>{{monster.AC}}</h5><h5><b>hp </b>{{monster.HP}}</h5><h5><b>Fort </b>{{monster.Fort}},
    <b>Ref </b>{{monster.Ref}}, <b>Will </b>{{monster.Will}}</h5><h5><b>DR </b>{{"[TODO : DR]"}} <b>SR </b>{{"[TODO :
    SR]"}}</h5></div>
<hr/>
<div><h5><b>OFFENSE</b></h5></div>
<hr/>
<div><h5><b>Spd </b>{{monster.Speed}}</h5><h5><b>Melee </b>{{monster.Melee}} </h5><h5><b>Space </b>{{monster.Space}} <b>Reach </b>{{monster.Reach}}
</h5><h5><b>Special Attacks </b>{{"[TODO : special attacks]"}} </h5><h5><b>Spell-Like Abilities</b> {{"[TODO :
    spell-like abilities]"}} </h5></div>
<hr/>
<div><h5><b>STATISTICS</b></h5></div>
<hr/>
<div><h5><b>Str</b> {{"[TODO : Str]"}}, <b>Dex</b> {{"[TODO : Dex]"}}, <b>Con</b> {{"[TODO : Con]"}}, <b>Int</b>
    {{"[TODO : Int]"}}, <b>Wis</b>
    {{"[TODO : Wis]"}}, <b>Cha</b> {{"[TODO : Cha]"}}</h5><h5><b>Base Atk </b>{{"[TODO : Base Atk]"}};
    <b>CMB </b>{{"[TODO : CMB]"}}; <b>CMD </b>{{"[TODO : CMD]"}}</h5><h5><b>Feats </b>{{monster.Feats}}</h5><h5><b>Skills </b>{{monster.Skills}}
    <b>Racial
        Modifiers </b>{{monster.RacialMods}}</h5><h5><b>Languages </b>{{monster.Languages}}</h5><h5><b>SQ </b>{{monster.SQ}}
</h5></div>
<hr/>
<div><h5><b>ECOLOGY</b></h5></div>
<hr/>
<div><h5><b>Environment </b>{{monster.Environment}}</h5><h5><b>Organization </b>{{monster.Organization}}
</h5><h5><b>Treasure </b>{{monster.Treasure}}</h5></div>
<hr/>
<div><h5><b>SPECIAL ABILITIES</b></h5></div>
<hr/>
<div><h5>{{"[TODO : special abilities]"}}</h5></div><br/>
<div>
    <h4>
        <div ng-bind-html="monster.DescriptionSafe"></div>
    </h4>
</div>