<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="cr">Challenge Rating</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="monsters">
        <li ng-repeat="monster in monsters" class="thumbnail">
          <a href="/api/monster/{{monster._id}}">{{monster.name}}</a>
          <p>CR : {{monster.cr}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
