html, body { height: 100%; min-height: 100%; }
div[ng-view='ng-view'] {
  height: 100%;
  min-height: 100%;
  //overflow-x: hidden;
  position: relative;
}

.app-content {
  margin-bottom: $grid-gutter-width;
}

.section {
  overflow: hidden;
  &.sidebar-nav, &.result-list {
    padding-top: ($grid-gutter-width/2);
    padding-bottom: ($grid-gutter-width/2);
  }
}

.col-fifth {
  width: 20%;
}

