footer {
  position: relative;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  margin-top: $grid-gutter-width;
}
.footer-bottom {
  overflow: hidden;
  background-color: $red-dark;
  color:white;
  font-size: 13px;
  a, span {
    text-decoration: none;
    display: inline-block;
    padding-left: ($grid-gutter-width/2);
    padding-right: ($grid-gutter-width/2);
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    @media (min-width: $screen-sm-min) {
      padding-top: ($grid-gutter-width/2);
      padding-bottom: ($grid-gutter-width/2);
    }
    @media (min-width: $screen-md-min) {
      padding-top: ($grid-gutter-width/2);
      padding-bottom: ($grid-gutter-width/2);
    }
    @media (min-width: $screen-lg-min) {
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
    }

    background-color: transparent;
    color: white;
    &.pointer:hover {
      background-color: $red;
    }
  }
}