#feedback {
  background-color: #E2753A;
  color: white;
  //position: fixed;
}

.nav-list-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}

//.navbar .dropdown {
//  min-width: 160px;
//  a {
//    width: 100%;
//  }
//}