.navbar-header {
  @media (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-top {
  min-height: 140px;
  .nav-social {
    margin-top: 12px;
    color: $red;
    a {
      color: $red;
      &:hover { color: white; }
      @include transition(all,0.3s,ease-in-out)
    }
  }
  .navbar-brand {
    font-size: 30px;
    padding-top: 80px;
    color: white;
    @include transition(all,0.3s,ease-in-out);
    @include opacity(1);
    &:hover { @include opacity(0.6); }
  }
}


.navbar {
  min-height: 50px;
  height: 50px;
  border-width: 0;
  a { color: white; }
  &.navbar-red {
    background-color: $red-transparent;
  }
}

.nav-list-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}

#encounter-dropdown-container {
  float: left;
  width: 100%;
  font-size: 18px;
}

.encounter-dropdown.dropdown-toggle {
  background-color: $red;
  line-height: 18px;
  padding-top: ($grid-gutter-width/2.222222222222222);
  padding-bottom: ($grid-gutter-width/2.222222222222222);
  overflow: hidden;
  .encounter-dropdown-name {float: left;
    max-width: 84%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $red-light;
  border-color: $red-light;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: $red-light;
  border-color: $red-light;
}
#feedback {
  background-color: $red;
  color: white;
  &:hover {
    background-color: $red-light;
  }
  //position: fixed;
}

//.navbar .dropdown {
//  min-width: 160px;
//  a {
//    width: 100%;
//  }
//}