#search-tabs {
  background-color: $red;
  li {
    margin-bottom: 0;
    &:last-child, &.last { a { margin-right: 0; } }

    background-color: transparent;
    background-image: url('../img/bg/bg_texture.png');
    background-repeat: repeat-x;
    background-position: left top;
    &:nth-child(1), &.tab-1 { background-position: 0 0; }
    &:nth-child(2), &.tab-2 { background-position: -20% 0; }
    &:nth-child(3), &.tab-3 { background-position: -40% 0; }
    &:nth-child(4), &.tab-4 { background-position: -60% 0; }
    &:nth-child(5), &.tab-5 { background-position: -80% 0; }
    a {
      @extend .no-radius;
      @extend .font-title;
      border-width: 0;
      margin-right: 0;
      color: $grey-light;
      background: transparent url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png') repeat left top;
      &:hover {
        color: white;
        background-color: $red-transparent;
      }
    }
    &:hover {
      color: white;
      background-color: $red-light;
    }
    &.active {
      background-color: $brown-dark;
      a {
        color: white;
        background-color: transparent;
      }
    }
    .icon { margin-right: 0.5em; }

    @media (max-width: $screen-xxs-max) {
      font-size: 18px;
      span { display: none; }
    }
    @media (max-width: $screen-sm-max) {

        .icon {
          font-size: 1.5em;
          margin: 0 auto;
          display: block;
      }
    }
    @media (min-width: $screen-xs-min) {
      font-size: 14px;
      span { font-size: 0.75em; }
    }
    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 14px;
      span { font-size: 1em; }
    }
    @media (min-width: $screen-lg-min) {
      font-size: 18px;
    }
  }
}