.sidebar-nav {
  background: url("../img/bg/bg_texture.png") repeat-x center top;
}
.sidebar-nav, .result-list {
  background-color: $grey-light-2;
  label {
    font-size: 13px;
  }
  input, select {
    @include border-radius(3px);
    @include box-shadow-inset(0px,1px,4px,$coal-transparent-2);
    @include gradientInput();
    border: 1px solid $grey;
    color: $coal;
  }
}
.result-list {

  .table th { color: $grey-dark; }
  .table td {
    input {
      max-width: 25px;
      @extend .text-center;
    }
    vertical-align: middle;
    font-size: 12px;
    &.price {
      text-align: right;
    }
    &.price, &.source {
      font-size: 0.925em;
    }
  }
  .table > tbody > tr > td:first-child {
    max-width: 30%;
    overflow: hidden;
  }
}