.search-result {
  .result-heading {
    position: relative;
    color: white;
    background: url("../img/bg/bg_texture.png") repeat-x top center;
    background-image: url("../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png"), url("../img/bg/bg_texture.png");
    background-repeat: repeat, repeat-x;
    background-position: center center, top center;
    min-height: 100px;
    h2, h3, h4 {
      margin-top: 0;
    }
    .cr-container {
      h2, h3, h4 { margin-bottom: 0; }
    }
    .title {
      font-size: 24px;
    }
  }
  .name-container, .cr-container, .result-content {
    padding-top: ($grid-gutter-width/2);
    padding-bottom: ($grid-gutter-width/2);
  }
  .cr-container {
    padding-bottom: $grid-gutter-width;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 140px;
    @extend .text-center;
    background-color: $red;
    background-image: url("../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png"), url("../img/bg/bg_texture.png");
    background-repeat: repeat, repeat-x;
    background-position: center center, top center;
    .btn-container {
      position: absolute;
      width: 100%;
      background-color: $coal;
      bottom: 0;
      .action-btn {
        //width: 100%;
        display: inline-block;
        padding-top: 2px;
        padding-bottom: 2px;
        color: $gold-btn;
        background-color: $brown-btn-1;
        &:first-child, &.btn-1 { background-color: $brown-btn-1; }
        &:nth-child(2), &.btn-2 { background-color: $brown-btn-2; }
        &:nth-child(3), &.btn-3 { background-color: $brown-btn-3; }
        &:last-child, &.btn-4 { background-color: $brown-btn-4; }
        &:hover {
          color: white;
          background-color: $red;
        }
      }
      font-size: 1em;
      @media (max-width: $screen-xxs-max) {
        font-size: 1em;
      }
      @media (min-width: $screen-xs-min) {
        font-size: 1.25em;
        .title { font-size: 24px; }
        font-size: 24px;
      }
      @media (min-width: $screen-sm-min) {
        font-size: 1em;
      }
      @media (min-width: $screen-md-min) {
        font-size: 1.25em;
      }
      @media (min-width: $screen-lg-min) {
        font-size: 1.5em;
      }
    }
  }
  .result-content {
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    @include gradientGreyLight2;
    .cat {
      padding-bottom: ($grid-gutter-width/3);
    }
    .decor {
      position: relative;
      overflow: hidden;
      padding-bottom: ($grid-gutter-width/2);
      &:after {
        content: "â–";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        font-size: 1.25em;
        line-height: 1;
        color: $grey-light-transparent;
        text-shadow: 1px 1px 0 $brown-transparent;
      }

    }
    .underlined {
      padding-bottom: 10px;
      border-bottom: 1px solid $brown-transparent;
    }

    strong, b { color: $brown-dark; }
    hr, .legend { border-color: $brown-transparent; }
    .legend {
      color: $teal;
      font-size: 20px;
      margin-bottom: ($grid-gutter-width/2);
    }
    ul.list-unstyled li {
      border-bottom: 1px solid $teal-transparent-1;
      padding: 3px 0;
      &:last-child {
        border-width: 0;
      }
    }
    ul.list-inline {
      margin-left: 0;
      li { border-width: 0; }

    }
    li > span {
      margin-right: 5px;
      display: inline-block;
    }
    table { width: 100%; }
    p { text-indent: 1em; }
  }
}