// BOOTSTRAP OVERWRITE
.navbar {
  height: auto;
}
.navbar-nav.navbar-right:last-child { margin-right: 0; }
.navbar-nav { margin: 0; }

// UI
.animate { @include transition(all 0.3s ease-in-out); }
.is-pointer { @include is-pointer; }

// Exceptions
.gte-ie9 {
  .gradient { filter: none; }
}

// Type
@include selection(white, $teal-transparent);

// Layout
.l-xs-nopadding {
  @media (max-width: $screen-xs-max) {
    padding-right: 0;
    padding-left: 0;
  }
}
.l-xs-nomargin {
  @media (max-width: $screen-xs-max) {
    margin-right: 0;
    margin-left: 0;
  }
}
.l-no-padding {
  padding-right: 0;
  padding-left: 0;
}
.col-sixth {
  width: 16.6%;
}
.col-fifth {
  width: 20.0%;
}
.col-fourth {
  width: 25.0%;
}
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }
.no-padding { padding-left: 0; padding-right: 0; }

.round { @include border-radius(50%); }
.no-border { border-width: 0; }
.no-radius { @include border-radius(0); }

.l-shadow { @include box-shadow(0,5px,15px,rgba(0,0,0,.5)); }

.user-monster {
  max-width: 600px;
}

.overflow-y {
  overflow-y: auto;
  &.modal-body {
    max-height: 400px;
    @media (min-width: $screen-sm-min) {
      max-height: 400px;
    }
    @media (min-width: $screen-md-min) {
      max-height: 600px;
    }
    @media (min-width: $screen-lg-min) {
      max-height: 800px;
    }
  }
}