#password_modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='password-modal-label',aria-hidden='true',ng-controller="PasswordController")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3#password-modal-label Change Password
            .modal-body
                .form-group
                    label.col-md-4.control-label(for='current_password') Current Password
                    .controls
                        input.form-control.input-md(type='password', name='current_password',required='')
                .control-group
                    label.col-md-4.control-label(for='new_password') New Password
                    .controls
                        input.form-control.input-md(type='password', name='new_password',required='', ng-model="password1", equals="{{password2}}")
                .control-group
                    label.col-md-4.control-label(for='confirm_password') Confirm Password
                    .controls
                        input.form-control.input-md(type='password', name='confirm_password',required='', ng-model="password2", equals="{{password1}}")
            .modal-footer
                    button.btn(href='#', data-dismiss='modal', aria-hidden='true') Close
                    button#password_modal_save.btn.btn-primary(href='#') Save changes
