div.encounter(ng-show="encounter")
    .row.heading
        .col-sm-12
            .pull-right
                a.pointer.remove-encounter(ng-click="removeEncounter(encounter)", confirm-click="Are you sure ?", confirm-title="Delete encounter")
                    i.icon.icon-remove
                        | &#10008;
            h3.encounter-title.font-title
                span.encounter-name.pointer(click-to-edit='encounter.Name', on-save="encounterChanged()")
        .col-sm-12
            span#encounter-cr.pull-right
                strong CR&nbsp;
                | {{encounter.CR | numberToFractionString}}
            span#encounter-xp.pull-left
                strong XP&nbsp;
                | {{encounter.xp | number}}
        .col-sm-12
            .pull-right
                a.pointer.print-encounter(ng-click="printSelectedEncounter()")
                    i.icon.fa.fa-print
                    | &nbsp;
    .row.content.content-monsters(ng-if="!atLeastOneMonster()&&!atLeastOneNpc()")
        .col-sm-12
            span
                em You can add a monster or NPC from the search results.
    .row.content.content-monsters(ng-if="atLeastOneMonster()")
        .col-sm-12
            legend.legend
                span Monsters
                i.icon.fa.fa-bug.pull-left
            table#encounter-monsters.table.encounter-list
                tbody
                    tr.encounter-row.encounter-monster-row(ng-repeat='(id,monster) in encounter.Monsters')
                        td.badge-container
                            span.badge.red.pointer.monster-amount {{monster.amount}}
                        td.name-container
                            span.monster-name
                                a.pointer(ng-click='selectMonsterById(id)') {{monster.Name}}
                        td.cr-container
                            span.monster-cr
                                strong
                                    small CR&nbsp;
                                    | {{monster.CR | numberToFractionString}}
                        td.btn-container
                            span.encounter-monsters-buttons.pointer.pull-right
                                button.item-btn.remove-monster-btn(ng-click='removeMonsterById(id)')
                                    i.icon.icon-remove
                                        | ×
    .row.content.content-npcs(ng-if="atLeastOneNpc()")
        .col-sm-12
            legend.legend
                span NPCs
                i.icon.fa.fa-user.pull-left
            table#encounter-npcs.table.encounter-list
                tbody
                    tr.encounter-row.encounter-npc-row(ng-repeat='(id,npc) in encounter.Npcs')
                        td.badge-container
                            span.badge.red.pointer.npc-amount {{npc.amount}}
                        td.name-container
                            span.npc-name
                                a.pointer(ng-click='selectNpcById(id)') {{npc.Name}}
                        td.cr-container
                            span.npc-cr
                                strong
                                    small CR&nbsp;
                                    | {{npc.CR | numberToFractionString}}
                        td.btn-container
                            span.encounter-npcs-buttons.pointer.pull-right
                                button.item-btn.remove-npc-btn(ng-click='removeNpcById(id)')
                                    i.icon.icon-remove
                                        | ×

    .row.content.content-treasure
        .col-sm-12
            legend.legend
                span Treasure
                i.icon.fa.fa-flask.pull-left
                a.pointer.randomize-loot.pull-right(title='Randomize', ng-click="randomizeLoot(encounter)" , confirm-click="Are you sure ?", confirm-title="Randomize treasure")
                    i.icon.fa.fa-random
            table.table.encounter-list#encounter-items
                tbody
                    tr.encounter-row.encounter-item-row(ng-repeat='(id,item) in encounter.items')
                        td.badge-container
                            span.badge.red.pointer.item-amount {{item.amount}}
                        td.name-container
                            span.item-name
                                a.pointer(ng-click='selectItemById(id)') {{item.Name}}
                        td.price-container
                            span.item-price
                                | {{item.Price}}&nbsp;{{item.PriceUnit}}
                        td.btn-container
                            span.encounter-items-buttons.pointer.pull-right
                                //button.item-btn.light-grey.decrement-item-btn(ng-class="{disabled: item.amount<=1}", ng-disabled="item.amount<=1", ng-click='decrementItem(item)')
                                    i.icon.fa.fa-minus
                                //button.item-btn.light-grey.increment-item-btn(ng-click='incrementItem(item)')
                                    i.icon.fa.fa-plus
                                button.item-btn.remove-item-btn(ng-click='removeItemById(id)')
                                    i.icon.icon-remove
                                        | ×
            tfoot
                tr.encounter-row
                    td
                    td(colspan='3')
                        .row
                            .col-xs-8.text-right
                                strong Coins
                            .col-xs-4
                                ul.list-unstyled.text-right
                                    li
                                        span.coins.encounter-coins-pp.pointer.underline-dotted(click-to-edit='encounter.coins.pp', display="{{encounter.coins.pp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.platinum(title='Platinum Pieces')
                                    li
                                        span.coins.encounter-coins-gp.pointer.underline-dotted(click-to-edit='encounter.coins.gp', display="{{encounter.coins.gp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.gold(title='Gold Pieces')
                                    li
                                        span.coins.encounter-coins-sp.pointer.underline-dotted(click-to-edit='encounter.coins.sp', display="{{encounter.coins.sp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.silver(title='Silver Pieces')
                                    li
                                        span.coins.encounter-coins-cp.pointer.underline-dotted(click-to-edit='encounter.coins.cp', display="{{encounter.coins.cp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.copper(title='Copper Pieces')
                            .col-xs-8.text-right
                                strong Value
                            .col-xs-4
                                .text-right
                                    span#encounter-loot-value {{encounter.lootValue | number}}


div.encounter-no-encounter(ng-hide="encounter")
    | There is no encounter. Please
    | &nbsp;
    a.pointer(ng-click="createFirstEncounter()")
        | create one
    | .