div.encounter
    header.row.heading
        .col-sm-12
            .pull-right
                a.is-pointer.remove-encounter(on-confirm="removeEncounter(encounter)", confirm-click="Are you sure ?", confirm-title="Delete encounter")
                    i.icon.icon-remove
                        | &#10008;
            h3.t-title.t-encounter-title
                span.encounter-name.is-pointer(click-to-edit='encounter.Name', on-save="encounterChanged()")
        .col-sm-12
            span#encounter-cr.pull-right
                strong CR&nbsp;
                | {{encounter.CR | numberToFractionString}}
            span#encounter-xp.pull-left
                strong XP&nbsp;
                | {{encounter.xp | number}}
        .col-sm-12
            .pull-right
                a.is-pointer.print-encounter(ng-click="printSelectedEncounter()")
                    i.icon.fa.fa-print
                    | &nbsp;
    .row.content.content-monsters(ng-if="!atLeastOneMonster()&&!atLeastOneNpc()")
        .col-sm-12
            span
                em You can add a monster or NPC from the search results.
    .row.content.content-monsters(ng-if="atLeastOneMonster()")
        .col-sm-12
            legend.t-legend
                span Monsters
                i.icon.fa.fa-bug.pull-left
            table#encounter-monsters.table.encounter-list
                tbody
                    tr.encounter-row.encounter-monster-row(ng-repeat='(id,monster) in encounter.Monsters')
                        td.badge-container
                            span(click-to-edit='monster.amount', on-save="encounterChanged()", display-class="badge red pointer monster-amount", edit-class="badge red pointer monster-amount badge-editing", icon-class="hide", numeric="true")
                        td.name-container
                            span.monster-name
                                a.is-pointer(ng-click='selectMonsterById(id,monster.userCreated)') {{monster.Name}}
                        td.encounter-cr-container
                            span.monster-cr
                                strong
                                    small CR&nbsp;
                                    | {{monster.CR | numberToFractionString}}
                        td.encounter-btn-container
                            span.encounter-monsters-buttons.is-pointer.pull-right
                                button.item-btn.remove-monster-btn(ng-click='removeMonsterById(id)')
                                    i.icon.icon-remove
                                        | ×
    .row.content.content-npcs(ng-if="atLeastOneNpc()")
        .col-sm-12
            legend.t-legend
                span NPCs
                i.icon.fa.fa-user.pull-left
            table#encounter-npcs.table.encounter-list
                tbody
                    tr.encounter-row.encounter-npc-row(ng-repeat='(id,npc) in encounter.Npcs')
                        td.badge-container
                            span(click-to-edit='npc.amount', on-save="encounterChanged()", display-class="badge red pointer npc-amount", edit-class="badge red pointer npc-amount badge-editing", icon-class="hide", numeric="true")
                        td.name-container
                            span.npc-name
                                a.is-pointer(ng-click='selectNpcById(id,npc.userCreated)') {{npc.Name}}
                        td.encounter-cr-container
                            span.npc-cr
                                strong
                                    small CR&nbsp;
                                    | {{npc.CR | numberToFractionString}}
                        td.encounter-btn-container
                            span.encounter-npcs-buttons.is-pointer.pull-right
                                button.item-btn.remove-npc-btn(ng-click='removeNpcById(id)')
                                    i.icon.icon-remove
                                        | ×
    .row.content.content-treasure
        .col-sm-12
            legend.t-legend
                span Treasure
                i.icon.fa.fa-flask.pull-left
                a.is-pointer.randomize-loot.pull-right(tabindex='-1',data-target='#loot-generator-modal', role='button', data-toggle='modal',title='Randomize')
                    i.icon.fa.fa-random
                //a.is-pointer.randomize-loot.pull-right(title='Randomize', on-confirm="randomizeLoot(encounter)" , confirm-click="Are you sure ?", confirm-title="Randomize treasure")
                    i.icon.fa.fa-random
            table.table.encounter-list#encounter-items
                tbody
                    tr.encounter-row.encounter-item-row(ng-repeat='(id,item) in encounter.items')
                        td.badge-container
                            span(click-to-edit='item.amount', on-save="encounterChanged()", display-class="badge red pointer item-amount", edit-class="badge red pointer item-amount badge-editing", icon-class="hide", numeric="true")
                        td.name-container
                            span.item-name
                                a.is-pointer(ng-click='selectItemById(id,item.userCreated)') {{item.Name}}
                        td.price-container
                            span.item-price
                                | {{item.Price}}&nbsp;{{item.PriceUnit}}
                        td.btn-container
                            span.encounter-items-buttons.is-pointer.pull-right
                                //button.item-btn.light-grey.decrement-item-btn(ng-class="{disabled: item.amount<=1}", ng-disabled="item.amount<=1", ng-click='decrementItem(item)')
                                    i.icon.fa.fa-minus
                                //button.item-btn.light-grey.increment-item-btn(ng-click='incrementItem(item)')
                                    i.icon.fa.fa-plus
                                button.item-btn.remove-item-btn(ng-click='removeItemById(id)')
                                    i.icon.icon-remove
                                        | ×
            tfoot
                tr.encounter-row
                    td
                    td(colspan='3')
                        .row
                            .col-xxs-8.col-xs-8.text-right
                                strong Coins
                            .col-xxs-12.col-xs-12
                                ul.list-unstyled.text-right
                                    li.coin-list
                                        span.coins.encounter-coins-pp.is-pointer.t-underline-dotted(click-to-edit='encounter.coins.pp', display="{{encounter.coins.pp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.platinum(title='Platinum Pieces')
                                    li.coin-list
                                        span.coins.encounter-coins-gp.is-pointer.t-underline-dotted(click-to-edit='encounter.coins.gp', display="{{encounter.coins.gp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.gold(title='Gold Pieces')
                                    li.coin-list
                                        span.coins.encounter-coins-sp.is-pointer.t-underline-dotted(click-to-edit='encounter.coins.sp', display="{{encounter.coins.sp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.silver(title='Silver Pieces')
                                    li.coin-list
                                        span.coins.encounter-coins-cp.is-pointer.t-underline-dotted(click-to-edit='encounter.coins.cp', display="{{encounter.coins.cp | number}}", on-save="encounterChanged()", numeric="true")
                                        i.icon.fa.fa-bullseye.copper(title='Copper Pieces')
                            .col-xxs-8.col-xs-8.text-right
                                strong Value
                            .col-xxs-4.col-xs-4
                                .text-right
                                    span#encounter-loot-value {{encounter.lootValue | number}}
include _loot-generation-modal