div.encounter
    header.heading.col-sm-12
        .ect-remove.pull-right
            a.is-pointer.remove-encounter(on-confirm="removeEncounter(leaf)", confirm-click="Are you sure ?", confirm-title="Delete encounter")
                i.icon.icon-remove
                    | &#10008;
        h3.ect-title.t-title.t-encounter-title
            a.encounter-name.is-pointer(ng-click="selectLeaf(leaf)")
                | {{leaf.Name}}
        .ect-xp
            span#encounter-cr.pull-right
                strong CR&nbsp;
                | {{leaf.CR | numberToFractionString}}
            span#encounter-xp.pull-left
                strong XP&nbsp;
                | {{leaf.xp | number}}

    .content.content-monsters.col-sm-12
        legend.t-legend
            span Monsters
            i.icon.fa.fa-bug.pull-left
        table#encounter-monsters.table.encounter-list
            tbody
                tr.encounter-row.encounter-monster-row(ng-repeat='(id,monster) in leaf.Monsters')
                    td.badge-container
                        span.badge.red.monster-amount {{monster.amount}}
                    td.name-container
                        span.monster-name
                            a.is-pointer(ng-click='selectMonsterById(id)') {{monster.Name}}
                    td.cr-container
                        span.monster-cr
                            strong
                                small CR&nbsp;
                                | {{monster.CR | numberToFractionString}}
    .content.content-npcs.col-sm-12
        legend.t-legend
            span NPCs
            i.icon.fa.fa-user.pull-left
        table#encounter-npcs.table.encounter-list
            tbody
                tr.encounter-row.encounter-npc-row(ng-repeat='(id,npc) in leaf.Npcs')
                    td.badge-container
                        span.badge.red.npc-amount {{npc.amount}}
                    td.name-container
                        span.npc-name
                            | {{npc.Name}}
                    td.cr-container
                        span.npc-cr
                            strong
                                small CR&nbsp;
                                | {{npc.CR | numberToFractionString}}
    .content.content-treasure.col-sm-12
        legend.t-legend
            span Treasure
            i.icon.fa.fa-flask.pull-left
        table.table.encounter-list#encounter-items
            tbody
                tr.encounter-row.encounter-item-row(ng-repeat='(id,item) in leaf.items')
                    td.badge-container
                        span.badge.red.item-amount {{item.amount}}
                    td.name-container
                        span.item-name
                           | {{item.Name}}
                    td.price-container
                        span.item-price
                            | {{item.Price}}&nbsp;{{item.PriceUnit}}
            tfoot
                tr.encounter-row
                    td
                    td(colspan='3')
                        .row
                            .col-xxs-8.col-xs-8.text-right
                                strong Value
                            .col-xxs-4.col-xs-4
                                .text-right
                                    span#encounter-loot-value {{leaf.lootValue | number}}