table.feats.table.table-striped(ng-show="feats")
    thead
        tr.result-row
            th Name
            th(colspan='3') Source
    tbody
        tr.is-pointer.feat-row(ng-repeat='feat in feats')
            td.name-container(ng-class='{selected: selectedFeatId == feat.id}', ng-click='selectFeatById(feat.id)')
                span {{feat.name}}
            td.src-container(ng-class='{selected: selectedFeatId == feat.id}', ng-click='selectFeatById(feat.id)')
                abbr(title='{{feat.source}}') {{feat.source | abbreviateSource}}

p.text-center(ng-hide="feats || refreshingFeats")
    | No feats found.

.text-center(ng-show="feats")
    pagination.pagination-sm.page.is-pointer(boundary-links='true', total-items='totalItems', page='currentPage', items-per-page='itemsPerPage', max-size='maxSize', previous-text='‹', next-text='›', first-text='«', last-text='»')