.form-group.col-xs-12
    input.form-control#npc-search(type='text', name='search', placeholder='Search something…', ng-model='featNameSubstring')
.form-group.col-xs-12
    select.form-control#type(ng-model='type')
        option(value='any') Any
            option(value='Achievement') Achievement
            option(value='Combat') Combat
            option(value='Companion / Familiar') Companion / Familiar
            option(value='Critical') Critical
            option(value='General') General
            option(value='Grit') Grit
            option(value='Item Creation') Item Creation
            option(value='Metamagic') Metamagic
            option(value='Monster') Monster
            option(value='Mythic') Mythic
            option(value='Performance') Performance
            option(value='Racial') Racial
            option(value='Story') Story
            option(value='Teamwork') Teamwork