.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result {{feat.name}} {{feat.typeFlags}}
        small Source: {{feat.source}}
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        .row.btn-container
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy',ng-click='copyFeat()')
                i.icon.fa.fa-copy
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Settings')
            //    i.icon.fa.fa-cogs
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Favourite',ng-click='toggleFavourite()')
                i(ng-show="favourite").icon.fa.fa-heart
                i(ng-hide="favourite").icon.fa.fa-heart-o
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Delete')
                i.icon.fa.fa-times
.row.l-section.result-content
    .col-xxs-12.col-xs-12.cat
        span.cat-content {{feat.description}}
    .col-xxs-12.col-xs-12.cat
        ul.cat-content.list-unstyled
            li(ng-if="feat.prerequisites")
                span
                    strong Prerequisites
                    | :&nbsp;
                    span(linkify='feat.prerequisites',linkify-type="feat", mythic="false")
            li(ng-if="feat.benefit")
                span
                    strong Benefit
                    | : {{feat.benefit}}
            li(ng-if="feat.normal")
                span
                    strong Normal
                    | : {{feat.normal}}
            li(ng-if="feat.special")
                span
                    strong Special
                    | : {{feat.special}}
