// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section#top.top(name='top')
.navbar-wrapper
    include _navbar
.nav-top-wrapper.hidden-xs
    .l-nav-top.col-xs-12
        .navbar-brand
            span#main-title
                span.title-username.is-pointer(ng-bind="user.username", ng-click="goToChronicles()")
                span(ng-show="chronicleName") &nbsp;/&nbsp;
                span.t-title.title-chroniclename.is-pointer(ng-bind="chronicleName", ng-click="goToChronicle()")

//.navbar-wrapper
    .container.l-xs-nopadding
        include _navbar