section#top.top(name='top')
.navbar-wrapper
    include _navbar
.nav-top-wrapper.hidden-xs
    .container.l-xs-nopadding
        .l-nav-top
            a.t-title.navbar-brand(href='/', title='Go to home page')
                | Encounter Builder
            .l-nav-social.pull-right
                a(href='https://www.facebook.com/EncounterBuilder', target='_blank', title='Like us on Facebook')
                    i.icon.icon-lg.square.fa.fa-facebook
                a(href='https://twitter.com/buildEncounters', target='_blank', title='Follow us on Twitter')
                    i.icon.icon-lg.square.fa.fa-twitter
                a(href='https://plus.google.com/100708201261690131120', target='_blank', title='Join us on Google+')
                    i.icon.icon-lg.square.fa.fa-google-plus
//.navbar-wrapper
    .container.l-xs-nopadding
        include _navbar