section#top.top(name='top')
.navbar-wrapper
    include _navbar
.nav-top-wrapper.hidden-xs
    .l-nav-top
        a.t-title.navbar-brand(href='/', title='Go to home page')
            | Encounter Builder

//.navbar-wrapper
    .container.l-xs-nopadding
        include _navbar