.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result {{item.Name}}
        small Source: {{item.Source}}
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        h3.t-title CL
            | {{item.CL || '0'}}
        strong {{item.Price}}&nbsp;{{item.PriceUnit}}
        strong(ng-if="item.Group === 'Gem'")
            em &nbsp;(average)
        .row.btn-container
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy')
                i.icon.fa.fa-copy
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Settings')
                i.icon.fa.fa-cogs
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Favourite',ng-click='toggleFavourite()')
                i(ng-show="favourite").icon.fa.fa-heart
                i(ng-hide="favourite").icon.fa.fa-heart-o
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Delete')
                i.icon.fa.fa-times
.row.l-section.result-content
    .col-lg-6.cat
        ul.cat-content.list-unstyled
            li(ng-if="item.Aura")
                span
                    strong Aura&nbsp;
                    | {{item.Aura}}
            li(ng-if="item.Group")
                span
                    strong Group&nbsp;
                    | {{item.Group}}
            li(ng-if="item.SpellName")
                span
                    strong Spell&nbsp;
                    span(linkify="item.SpellName",linkify-type="spell", mythic="false")
            li(ng-if="item.Slot")
                span
                    strong Slot&nbsp;
                    | {{item.Slot}}
            li(ng-if="item.Weight")
                span
                    strong Weight&nbsp;
                    | {{item.Weight}}
            li(ng-if="item.Price")
                span
                    strong Price&nbsp;
                    | {{item.Price}}&nbsp;{{item.PriceUnit}}
                    span(ng-if="item.Group === 'Gem'")
                        em &nbsp;(average)
            li(ng-if="item.BaseValue")
                span
                    strong Base Value&nbsp;
                    | {{item.BaseValue}}&nbsp;{{item.PriceUnit}}
            li(ng-if="item.AddedValue")
                span
                    strong Added Value&nbsp;
                    | {{item.AddedValue}}
    .col-xs-12.cat.decor(ng-if="item.Requirements || item.Cost")
        legend.cat-heading.t-legend.t-title Construction
        ul.cat-content.list-unstyled
            li(ng-if="item.Requirements")
                span
                    strong Requirements&nbsp;
                    span(linkify="item.Requirements",linkify-type="feat,spell", mythic="false")
            li(ng-if="item.Cost")
                span
                    strong Cost&nbsp;
                    | {{item.Cost}}&nbsp;{{item.CostUnit}}
    .col-xs-12.cat.decor
        legend.cat-heading.t-legend.t-title Description
        .cat-content(ng-show="item.Derived || item.Group === 'Art Object'")
            div(ng-show="item.Group === 'Potion' || item.Group === 'Oil'")
                p.
                    A potion is a magic liquid that produces its effect when imbibed. Potions vary incredibly in appearance.
                    Magic oils are similar to potions, except that oils are applied externally rather than imbibed.
                    A potion or oil can be used only once. It can duplicate the effect of a spell of up to 3rd level that
                    has a casting time of less than 1 minute and targets one or more creatures or objects.
                    The price of a potion is equal to the level of the spell × the creator's caster level × 50 gp.
                    If the potion has a material component cost, it is added to the base price and cost to create.
                    Note that some spells appear at different levels for different casters. The level of such spells depends on the caster brewing the potion.
                p.
                    Potions are like spells cast upon the imbiber. The character taking the potion doesn't get to make any
                    decisions about the effect—the caster who brewed the potion has already done so.
                    The drinker of a potion is both the effective target and the caster of the effect
                    (though the potion indicates the caster level, the drinker still controls the effect).
                p.
                    The person applying an oil is the effective caster, but the object is the target.
            div(ng-show="item.Group === 'Scroll'")
                p.
                    A scroll is a spell (or collection of spells) that has been stored in written form.
                    A spell on a scroll can be used only once. The writing vanishes from the scroll when the spell is activated.
                    Using a scroll is basically like casting a spell.
                    The price of a scroll is equal to the level of the spell × the creator's caster level × 25 gp.
                    If the scroll has a material component cost, it is added to the base price and cost to create.
                    Note that some spells appear at different levels for different casters. The level of such spells depends on the caster scribing the scroll.
            div(ng-show="item.Group === 'Wand'")
                p.
                    A wand is a thin baton that contains a single spell of 4th level or lower.
                    A wand has 50 charges when created—each charge allows the use of the wand's spell one time.
                    A wand that runs out of charges is just a stick.
                    The price of a wand is equal to the level of the spell × the creator's caster level × 750 gp.
                    If the wand has a material component cost, it is added to the base price and cost to create once for each charge (50 × material component cost).
                    Note that some spells appear at different levels for different casters. The level of such spells depends on the caster crafting the wand.
            div(ng-show="item.Group === 'Art Object'")
                p.
                    An art object is an item that has value not because of its function, but because of its aesthetics or the historical,
                    religious, or sentimental value placed upon it by a particular culture.
                    The following tables list art objects of value in a traditional fantasy campaign.
                    In some cases, the listed price represents only the typical value of an item;
                    it may have a higher value to a buyer who knows its origin or is descended from the original owner.
                    For example, a painting of a historical queen may fetch a decent price in her home country,
                    but it sells for much more if brought to an agent of the royal family.
                    Likewise, a silver baby rattle is worth a certain amount as a curiosity or plaything for a wealthy merchant's son,
                    but a historian might recognize markings on it that indicate it belonged to an infant prince who was killed in a succession war,
                    and pay a higher price for it. In this way, an art object may easily be used as a plot hook.
                p.
                    Art objects can usually be bought or sold for their base price, and are sometimes used as currency.
        .cat-content(ng-hide="item.Derived")
            p {{item.Description}}