.form-group.col-xxs-12.col-xs-12
    //label(for='search') Search
    input.form-control#item-search(type='text', name='search', placeholder='Search something…', ng-model='itemNameSubstring')
.form-group.col-xxs-12.col-xs-12
    //label(for='group') Group:
    select.form-control#type(ng-model='group')
        option(value='any') Choose group
        option(value='any') Any
        option(value='Armor') Armor
        option(value='Art Object') Art Object
        option(value='Artifact') Artifact
        option(value='Cursed') Cursed
        option(value='Gem') Gem
        option(value='Legendary Weapon') Legendary Weapon
        option(value='Oil') Oil
        option(value='Potion') Potion
        option(value='Ring') Ring
        option(value='Rod') Rod
        option(value='Scroll') Scroll
        option(value='Staff') Staff
        option(value='Wand') Wand
        option(value='Weapon') Weapon
        option(value='Wondrous Item') Wondrous Item
.form-group.col-xxs-12.col-xs-12
    //label(for='slot') Slot:
    select.form-control#type(ng-model='slot')
        option(value='any') Choose slot
        option(value='any') Any
        option(value='amulet') Amulet
        option(value='armor') Armor
        option(value='arms') Arms
        option(value='belt') Belt
        option(value='body') Body
        option(value='chest') Chest
        option(value='eyes') Eyes
        option(value='feet') Feet
        option(value='hands') Hands
        option(value='head') Head
        option(value='headband') Headband
        option(value='neck') Neck
        option(value='ring') Ring
        option(value='shield') Shield
        option(value='shoulders') Shoulders
        option(value='wrists') Wrists
        option(value='slotless') Slotless
.col-xxs-12.col-xs-12
    .checkbox
        label(for='enchanted-checkbox')
            input#enchanted-checkbox(type='checkbox',ng-model='includeEnchanted')
            | include enchanted items
.col-xxs-12.col-xs-12
    .col-xxs-4.col-xs-4
        .row
            label(for='itemCLSlider') <strong>CL</strong> {{minCL | number}} - {{maxCL | number }}
    .col-xxs-8.col-xs-8
        nouislider(min="minCL", max="maxCL",range-min="0",range-max="20")
