.row.heading.result-heading
    .col-xs-8.col-lg-9.name-container
        h2.title.font-title {{item.Name}}
        small Source: {{item.Source}}
    .col-xs-4.col-lg-3.cr-container
        h3.title.font-title CL
            | {{item.CL}}
        strong {{item.Price}}&nbsp;{{item.PriceUnit}}
        //.row.btn-container
            a.col-xs-3.no-padding.action-btn.btn-1.pointer(title='Copy')
                i.icon.fa.fa-copy
            a.col-xs-3.no-padding.action-btn.btn-2.pointer(title='Settings')
                i.icon.fa.fa-cogs
            a.col-xs-3.no-padding.action-btn.btn-3.pointer(title='Zap')
                i.icon.fa.fa-flash
            a.col-xs-3.no-padding.action-btn.btn-4.pointer(title='Delete')
                i.icon.fa.fa-times
.row.section.result-content
    .col-lg-6.cat
        ul.list-unstyled
            li(ng-if="item.Aura")
                span
                    strong Aura&nbsp;
                    | {{item.Aura}}
            li(ng-if="item.Group")
                span
                    strong Group&nbsp;
                    | {{item.Group}}
            li(ng-if="item.SpellName")
                span
                    strong Spell&nbsp;
                    span(linkify="item.SpellName",linkify-type="spell", mythic="false")
            li(ng-if="item.Slot")
                span
                    strong Slot&nbsp;
                    | {{item.Slot}}
            li(ng-if="item.Weight")
                span
                    strong Weight&nbsp;
                    | {{item.Weight}}
            li(ng-if="item.Price")
                span
                    strong Price&nbsp;
                    | {{item.Price}}&nbsp;{{item.PriceUnit}}
    .col-xs-12.cat.decor(ng-if="item.Requirements || item.Cost")
        legend.legend.font-title Construction
        ul.list-unstyled
            li(ng-if="item.Requirements")
                span
                    strong Requirements&nbsp;
                    span(linkify="item.Requirements",linkify-type="feat,spell", mythic="false")
            li(ng-if="item.Cost")
                span
                    strong Cost&nbsp;
                    | {{item.Cost}}&nbsp;{{item.CostUnit}}
    .col-xs-12.cat.decor
        legend.legend.font-title Description
        div(ng-show="item.Derived")
            div(ng-show="item.Group === 'Potion' || item.Group === 'Oil'")
                p.
                    A potion is a magic liquid that produces its effect when imbibed. Potions vary incredibly in appearance.
                    Magic oils are similar to potions, except that oils are applied externally rather than imbibed.
                    A potion or oil can be used only once. It can duplicate the effect of a spell of up to 3rd level that
                    has a casting time of less than 1 minute and targets one or more creatures or objects.
                    The price of a potion is equal to the level of the spell × the creator's caster level × 50 gp.
                    If the potion has a material component cost, it is added to the base price and cost to create.
                    Note that some spells appear at different levels for different casters. The level of such spells depends on the caster brewing the potion.
                p.
                    Potions are like spells cast upon the imbiber. The character taking the potion doesn't get to make any
                    decisions about the effect—the caster who brewed the potion has already done so.
                    The drinker of a potion is both the effective target and the caster of the effect
                    (though the potion indicates the caster level, the drinker still controls the effect).
                p.
                    The person applying an oil is the effective caster, but the object is the target.
            div(ng-show="item.Group === 'Scroll'")
                p.
                    A scroll is a spell (or collection of spells) that has been stored in written form.
                    A spell on a scroll can be used only once. The writing vanishes from the scroll when the spell is activated.
                    Using a scroll is basically like casting a spell.
                    The price of a scroll is equal to the level of the spell × the creator's caster level × 25 gp.
                    If the scroll has a material component cost, it is added to the base price and cost to create.
                    Note that some spells appear at different levels for different casters. The level of such spells depends on the caster scribing the scroll.
            div(ng-show="item.Group === 'Wand'")
                p.
                    A wand is a thin baton that contains a single spell of 4th level or lower.
                    A wand has 50 charges when created—each charge allows the use of the wand's spell one time.
                    A wand that runs out of charges is just a stick.
                    The price of a wand is equal to the level of the spell × the creator's caster level × 750 gp.
                    If the wand has a material component cost, it is added to the base price and cost to create once for each charge (50 × material component cost).
                    Note that some spells appear at different levels for different casters. The level of such spells depends on the caster crafting the wand.
        div(ng-hide="item.Derived")
            p {{item.Description}}