div(ng-controller='SidebarController')
    div(ng-controller='LeftSidebarTabController')
        .left-sidebar-header
            ul.nav.nav-tabs.text-center#search-tabs.l-search-tabs
                li.col-fourth.tab-1
                    a#campaignsTab.is-pointer(ng-click="selectTab('campaigns')", data-toggle="tab")
                        i.icon.fa.fa-folder
                        // span.tab-name Campaigns
                li.col-fourth.tab-2
                    a#favouritesTab.is-pointer(ng-click="selectTab('favourites')", data-toggle="tab")
                        i.icon.fa.fa-heart
                        // span.tab-name NPCs
                li.col-fourth.tab-3
                    a#creationsTab.is-pointer(ng-click="selectTab('creations')", data-toggle="tab")
                        i.icon.fa.fa-edit
                        // span.tab-name Creations
                li.col-fourth.tab-4
                    a#databaseTab.is-pointer(ng-click="selectTab('database')", data-toggle="tab")
                        i.icon.fa.fa-book
                        // span.tab-name Databae
        div(ng-show="selectedTab === 'campaigns'")
            h2. Campaigns
            .dropdown.encounter-dropdown-container.is-pointer
                a.encounter-dropdown.dropdown-toggle.col-xxs-12.col-xs-12(role='button', data-toggle='dropdown')
                    span.encounter-dropdown-name Create
                    i.icon.fa.fa-angle-down.square.white.pull-right
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                    li
                        a.encounter-dropdown-create.is-pointer(tabindex='-1', ng-click='createEncounter()')
                            i.icon.fa.fa-plus
                            strong &nbsp;Create new encounter
                    li
                        a.encounter-dropdown-create.is-pointer(tabindex='-1', ng-click='createBinder()')
                            i.icon.fa.fa-folder
                            strong &nbsp;Create new binder
            content-tree
        div(ng-show="selectedTab === 'favourites'")
            h2. Favourites
        div(ng-show="selectedTab === 'creations'")
            h2. Creations
        div(ng-switch="selectedTab")
            .database(ng-switch-when="database")
                h2. Database
                include _database