section#left-sidebar.sp-menu.sp-menu-vertical.sp-menu-left.no-print(slide-menu)
    div(ng-controller='SidebarController')
        div(ng-controller='LeftSidebarTabController')
            .sp-menu-content
                ul.nav.nav-tabs.text-center#search-tabs.search-tabs.icon-tabs.hidden-xs
                    li.col-third.tab-1
                        a#campaignsTab.is-pointer(ng-click="selectTab('campaigns')", data-toggle="tab")
                            i.icon.fa.fa-folder
                            // span.tab-name Campaigns
                    li.col-third.tab-2
                        a#favouritesTab.is-pointer(ng-click="selectTab('favourites')", data-toggle="tab")
                            i.icon.fa.fa-heart
                            // span.tab-name NPCs
                    li.col-third.tab-3
                        a#databaseTab.is-pointer(ng-click="selectTab('database')", data-toggle="tab")
                            i.icon.fa.fa-book
                            // span.tab-name Databae
                header.sp-menu-heading(ng-show="selectedTab === 'campaigns'")
                    h2.t-title Library
                    span#console
                    .dropdown.create-dropdown-container.is-pointer
                        a#create-dropdown.create-dropdown.dropdown-toggle.col-xxs-12.col-xs-12(role='button', data-toggle='dropdown')
                            span.create-dropdown-name Create
                            i.icon.fa.fa-angle-down.square.white.pull-right
                        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createBinder()')
                                    i.icon.fa.fa-folder
                                    strong &nbsp;Create new binder
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createEncounter()')
                                    i.icon.fa.fa-list-alt
                                    strong &nbsp;Create new encounter
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserText()')
                                    i.icon.fa.fa-pencil
                                    strong &nbsp;Create new text
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserIllustration()')
                                    i.icon.fa.fa-picture-o
                                    strong &nbsp;Create new illustration
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserMap()')
                                    i.icon.fa.fa-map-marker
                                    strong &nbsp;Create new map
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserMonster()')
                                    i.icon.fa.fa-bug
                                    strong &nbsp;Create new monster
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserNpc()')
                                    i.icon.fa.fa-user
                                    strong &nbsp;Create new NPC
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserItem()')
                                    i.icon.fa.fa-flask
                                    strong &nbsp;Create new item
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserSpell()')
                                    i.icon.fa.fa-magic
                                    strong &nbsp;Create new spell
                            li
                                a.create-dropdown-create.is-pointer(tabindex='-1', ng-click='createUserFeat()')
                                    i.icon.fa.fa-star
                                    strong &nbsp;Create new feat
                .sp-menu-result(ng-switch="selectedTab")
                    .database(ng-switch-when="campaigns")
                        .clearfix
                        content-tree
                    div(ng-show="selectedTab==='favourites'")
                        h2.t-title Favourites
                        .clearfix
                        favourite-tree
                    div(ng-switch-when="creations")
                        h2.t-title Creations
                    .database(ng-switch-when="database")
                        h2.t-title Database
                        include database/_database
