.form-group.col-xs-12
    //label(for='monster-search') Search
    input.form-control#monster-search(type='text', name='search', placeholder='Search something…', ng-model='nameSubstring')
.form-group.col-xs-12
    //label(for='type') Type:
    select.form-control#type(ng-model='type')
        option(value='any') Choose type
        option(value='any') Any
        option(value='aberration') Aberration
        option(value='animal') Animal
        option(value='construct') Construct
        option(value='dragon') Dragon
        option(value='fey') Fey
        option(value='humanoid') Humanoid
        option(value='magical beast') Magical Beast
        option(value='monstrous humanoid') Monstrous Humanoid
        option(value='ooze') Ooze
        option(value='outsider') Outsider
        option(value='plant') Plant
        option(value='undead') Undead
        option(value='vermin') Vermin
.form-group.col-xs-12
    .col-xs-3.col-sm-2.col-md-3
        .row
            label(for='cr-range') CR range:
            input.form-control.hidden#cr-range(type='text', ng-model='crRange', readonly='readonly')
    .col-xs-9.col-sm-10.col-md-9
        #slider-cr-range
