.form-group.col-xxs-12.col-xs-12
    input.form-control#monster-search(type='text', name='search', placeholder='Search something…', ng-model='nameSubstring')
.form-group.col-xxs-12.col-xs-12
    select.form-control#type(ng-model='type')
        // FIXME: this is weird
        option(value='any') Any type
        option(value='aberration') Aberration
        option(value='animal') Animal
        option(value='construct') Construct
        option(value='dragon') Dragon
        option(value='fey') Fey
        option(value='humanoid') Humanoid
        option(value='magical beast') Magical Beast
        option(value='monstrous humanoid') Monstrous Humanoid
        option(value='ooze') Ooze
        option(value='outsider') Outsider
        option(value='plant') Plant
        option(value='undead') Undead
        option(value='vermin') Vermin
.form-group.col-xxs-12.col-xs-12
    .col-xxs-4.col-xs-4
        .row
            label(for='monsterCRSlider') <strong>CR</strong> {{minCR | number}} - {{maxCR | number }}
    .col-xxs-8.col-xs-8
        nouislider(min="minCR", max="maxCR",range-min="0",range-max="40")