.navbar.navbar-red.no-radius.navbar-fixed-top(role='navigation')
    .navbar-container
        ul.nav.nav-pills.sp-menu-toggle-container(ng-hide='!viewport.xs || rightSidebarIsOpened()')
            li(ng-show='leftSidebarIsOpened()')
                a.is-pointer.sp-menu-toggle(ng-click='toggleLeftSidebar()')
                    i.fa.fa-angle-left
                    | &nbsp;
                    i.fa.fa-folder-open
                    | &nbsp;
                    span.sp-menu-left-toggle-text.hidden-xs Open
            li
                a.is-pointer.sp-menu-toggle(ng-click='openLeftSidebarAndSelectTab("campaigns")')
                    i.icon.icon-lg.fa.fa-folder
            li
                a.is-pointer.sp-menu-toggle(ng-click='openLeftSidebarAndSelectTab("favourites")')
                    i.icon.icon-lg.fa.fa-heart
            li
                a.is-pointer.sp-menu-toggle(ng-click='openLeftSidebarAndSelectTab("database")')
                    i.icon.icon-lg.fa.fa-book

        ul.nav.nav-pills.sp-menu-toggle-container.pull-right(ng-hide='viewport.xs && leftSidebarIsOpened()')
            li
                a.t-title.is-pointer.sp-menu-toggle(ng-click='toggleRightSidebar()')
                    i.fa.fa-angle-right
                    | &nbsp;
                    i.fa.fa-book
                    | &nbsp;
                    span.sp-menu-right-toggle-text.hidden-xs Database

        ul.nav.nav-pills.l-nav-user.pull-right
            li.dropdown(ng-controller='LogoutController')
                a#user-dropdown.dropdown-toggle.is-pointer(role='button', data-toggle='dropdown')
                    i.icon.fa.fa-user
                    | &nbsp;
                    span(ng-bind="user.username")
                    | &nbsp;
                    b.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                    li
                        a.is-pointer(tabindex='-1',data-target='#profile-modal', role='button', data-toggle='modal')
                            | Edit Profile
                    li.divider
                    li
                        a#user-dropdown-logout.is-pointer(tabindex='-1', ng-click='logout()')
                            | Log out

        ul.nav.nav-pills.l-nav-social.visible-lg.pull-right(ng-hide='viewport.xs && anySidebarIsOpened()')
            li
                a(href='https://www.facebook.com/EncounterBuilder', target='_blank', title='Like us on Facebook')
                    i.icon.square.fa.fa-facebook
            li
                a(href='https://twitter.com/buildEncounters', target='_blank', title='Follow us on Twitter')
                    i.icon.square.fa.fa-twitter
            li
                a(href='https://plus.google.com/100708201261690131120', target='_blank', title='Join us on Google+')
                    i.icon.square.fa.fa-google-plus
            li
                a.feedback-btn.is-pointer#feedback(href="http://forums.encounterbuilder.com" target="_blank" data-toggle='popover', ng-controller='FeedbackController') Got any feedback? Head to our forums!


include _edit_profile