.navbar.navbar-default.navbar-red.no-radius.navbar-fixed-top(role='navigation')
    .navbar-container
        .navbar-header
            ul.nav.navbar-nav.navbar-right
                li
                    a.t-title.is-pointer.sp-menu-toggle(ng-click='toggleSidebar()')
                        i.fa.fa-file-o
                        | &nbsp;
                        i.fa.fa-angle-left
                        | &nbsp;
                        span.sp-menu-toggle-text.hidden-xs Create
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li.l-nav-feedback
                    a.is-pointer#feedback(href="http://forums.encounterbuilder.com" target="_blank" data-toggle='popover', ng-controller='FeedbackController') Got any feedback? Head to our forums!

                li.dropdown(ng-controller='LogoutController')
                    a#user-dropdown.dropdown-toggle.is-pointer(role='button', data-toggle='dropdown')
                        i.icon.fa.fa-user
                        | &nbsp;{{user.username}}&nbsp;
                        b.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                        li
                            a.is-pointer(tabindex='-1',data-target='#profile-modal', role='button', data-toggle='modal')
                                | Edit Profile
                        li.divider
                        li
                            a#user-dropdown-logout.is-pointer(tabindex='-1', ng-click='logout()')
                                | Log out
include _edit_profile