// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.navbar.navbar-red.no-radius.navbar-fixed-top(role='navigation')
    .navbar-container
        ul.nav.nav-pills.sp-menu-toggle-container(ng-hide='!viewport.xs || rightSidebarIsOpened()')
            li(ng-show='leftSidebarIsOpened()')
                a.is-pointer.sp-menu-toggle(ng-click='toggleLeftSidebar()')
                    i.fa.fa-angle-left
                    | &nbsp;
                    i.fa.fa-folder-open
                    | &nbsp;
                    span.sp-menu-left-toggle-text.hidden-xs Open
            li
                a.is-pointer.sp-menu-toggle(ng-click='openLeftSidebarAndSelectTab("campaigns")')
                    i.icon.icon-lg.fa.fa-folder
            li
                a.is-pointer.sp-menu-toggle(ng-click='openLeftSidebarAndSelectTab("favourites")')
                    i.icon.icon-lg.fa.fa-heart
            li
                a#open-sidebar-and-select-db-tab.is-pointer.sp-menu-toggle(ng-click='openLeftSidebarAndSelectTab("database")')
                    i.icon.icon-lg.fa.fa-book
            li.dropdown.visible-xs
                a.dropdown-toggle.is-pointer(role='button', data-toggle='dropdown')
                    i.icon.icon-lg.fa.fa-bars
                ul.dropdown-menu(role='menu')
                    li
                        a.is-pointer(href="#/chronicles") Chronicles
                    li
                        a.is-pointer(href="#/tutorial") Need some help?
                    li
                        a.is-pointer(href="http://forums.chronicleforge.com") Chronicle Forge Forums
                    li
                        a(href='https://www.facebook.com/chronicleforge', target='_blank', title='Like us on Facebook')
                            i.icon.fa.fa-facebook
                            | &nbsp;
                            span Like us on Facebook
                    li
                        a(href='https://twitter.com/chronicleforge', target='_blank', title='Follow us on Twitter')
                            i.icon.fa.fa-twitter
                            | &nbsp;
                            span Follow us on Twitter
                    li
                        a(href='https://plus.google.com/100708201261690131120', target='_blank', title='Join us on Google+')
                            i.icon.fa.fa-google-plus
                            | &nbsp;
                            span Join us on Google+
        ul.nav.nav-pills.sp-menu-toggle-container.pull-right.hidden-xs(ng-hide='!viewport.lg && leftSidebarIsOpened()')
            li
                a.t-title.is-pointer.sp-menu-toggle(ng-click='toggleRightSidebar()')
                    i.fa.fa-angle-right
                    | &nbsp;
                    i.fa.fa-book
                    | &nbsp;
                    span.sp-menu-right-toggle-text.hidden-xs Database

        ul.nav.nav-pills.l-nav-user.pull-right
            li.dropdown(ng-controller='LogoutController')
                a#user-dropdown.dropdown-toggle.is-pointer(role='button', data-toggle='dropdown')
                    i.icon.fa.fa-user
                    | &nbsp;
                    span(ng-bind="user.username")
                    | &nbsp;
                    b.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                    li
                        a.is-pointer(tabindex='-1',data-target='#profile-modal', role='button', data-toggle='modal')
                            | Edit Profile
                    li.divider
                    li
                        a#user-dropdown-logout.is-pointer(tabindex='-1', ng-click='logout()')
                            | Log out

        ul.nav.nav-pills.l-nav-social.hidden-xs.pull-right(ng-hide='viewport.xs && anySidebarIsOpened()')
            //li
                a(href="#/tutorial", title="Need some help?") Help
                    i.icon.square.fa.fa-question
            li
                a(href='https://www.facebook.com/chronicleforge', target='_blank', title='Like us on Facebook')
                    i.icon.square.fa.fa-facebook
            li
                a(href='https://twitter.com/chronicleforge', target='_blank', title='Follow us on Twitter')
                    i.icon.square.fa.fa-twitter
            li
                a(href='https://plus.google.com/100708201261690131120', target='_blank', title='Join us on Google+')
                    i.icon.square.fa.fa-google-plus

include edit/_edit_profile
