.form-group.col-xs-12
    input.form-control#npc-search(type='text', name='search', placeholder='Search something…', ng-model='nameSubstring')
.form-group.col-xs-12
    select.form-control#class(ng-model='class')
        option(value='any') Any class
        optgroup(label="Core Classes")
            option(value='barbarian') Barbarian
            option(value='bard') Bard
            option(value='cleric') Cleric
            option(value='druid') Druid
            option(value='fighter') Fighter
            option(value='monk') Monk
            option(value='paladin') Paladin
            option(value='ranger') Ranger
            option(value='rogue') Rogue
            option(value='sorcerer') Sorcerer
            option(value='wizard') Wizard
        optgroup(label="Base Classes")
            option(value='alchemist') Alchemist
            option(value='cavalier') Cavalier
            option(value='gunslinger') Gunslinger
            option(value='inquisitor') Inquisitor
            option(value='magus') Magus
            option(value='oracle') Oracle
            option(value='summoner') Summoner
            option(value='witch') Witch
        optgroup(label="Alternate Classes")
            option(value='antipaladin') Antipaladin
            option(value='ninja') Ninja
            option(value='samurai') Samurai
        optgroup(label="NPC Classes")
            option(value='adept') Adept
            option(value='aristocrat') Aristocrat
            option(value='commoner') Commoner
            option(value='expert') Expert
            option(value='warrior') Warrior
        optgroup(label="Other")
            option(value='animal companion') Animal Companion
.form-group.col-xs-12
    .col-xs-4
        .row
            label(for='npcCRSlider') <strong>CR</strong> {{minCR | number}} - {{(maxCR < 20) ? (maxCR | number) : "20+"}}
    .col-xs-8
        #npcCRSlider