// TODO: adapt this
.form-group.col-xs-12
    //label(for='monster-search') Search
    input.form-control#monster-search(type='text', name='search', placeholder='Search something…', ng-model='nameSubstring')