div
    p
        span OPEN GAME LICENSE Version 1.0a
        p  
        p
            span
                | The following text is the property of Wizards of the Coast, Inc. and is Copyright 2000 Wizards of the Coast,
                | Inc ("Wizards"). All Rights Reserved.
        p  
        p
            span
                | 1. Definitions: (a)"Contributors" means the copyright and/or trademark owners who have contributed Open
                | Game Content; (b)"Derivative Material" means copyrighted material including derivative works and translations
                | (including into other computer languages), potation, modification, correction, addition, extension, upgrade,
                | improvement, compilation, abridgment or other form in which an existing work may be recast, transformed or
                | adapted; (c) "Distribute" means to reproduce, license, rent, lease, sell, broadcast, publicly display, transmit
                | or otherwise distribute; (d)"Open Game Content" means the game mechanic and includes the methods, procedures,
                | processes and routines to the extent such content does not embody the Product Identity and is an enhancement
                | over the prior art and any additional content clearly identified as Open Game Content by the Contributor, and
                | means any work covered by this License, including translations and derivative works under copyright law, but
                | specifically excludes Product Identity. (e) "Product Identity" means product and product line names, logos and
                | identifying marks including trade dress; artifacts; creatures characters; stories, storylines, plots, thematic
                | elements, dialogue, incidents, language, artwork, symbols, designs, depictions, likenesses, formats, poses,
                | concepts, themes and graphic, photographic and other visual or audio representations; names and descriptions
                | of characters, spells, enchantments, personalities, teams, personas, likenesses and special abilities; places,
                | locations, environments, creatures, equipment, magical or supernatural abilities or effects, logos, symbols,
                | or graphic designs; and any other trademark or registered trademark clearly identified as Product identity by
                | the owner of the Product Identity, and which specifically excludes the Open Game Content; (f) "Trademark" means
                | the logos, names, mark, sign, motto, designs that are used by a Contributor to identify itself or its products
                | or the associated products contributed to the Open Game License by the Contributor (g) "Use", "Used" or "Using"
                | means to use, Distribute, copy, edit, format, modify, translate and otherwise create Derivative Material of Open
                | Game Content. (h) "You" or "Your" means the licensee in terms of this agreement.
        p  
        p
            span
                | 2. The License: This License applies to any Open Game Content that contains a notice indicating that the
                | Open Game Content may only be Used under and in terms of this License. You must affix such a notice to any Open
                | Game Content that you Use. No terms may be added to or subtracted from this License except as described by the
                | License itself. No other terms or conditions may be applied to any Open Game Content distributed using this
                | License.
        p  
        p
            span
                | 3.Offer and Acceptance: By Using the Open Game Content You indicate Your acceptance of the terms of this
                | License.
        p  
        p
            span
                | 4. Grant and Consideration: In consideration for agreeing to use this License, the Contributors grant
                | You a perpetual, worldwide, royalty-free, non-exclusive license with the exact terms of this License to Use,
                | the Open Game Content.
        p  
        p
            span
                | 5.Representation of Authority to Contribute: If You are contributing original material as Open Game
                | Content, You represent that Your Contributions are Your original creation and/or You have sufficient rights
                | to grant the rights conveyed by this License.
        p  
        p
            span
                | 6.Notice of License Copyright: You must update the COPYRIGHT NOTICE portion of this License to include
                | the exact text of the COPYRIGHT NOTICE of any Open Game Content You are copying, modifying or distributing,
                | and You must add the title, the copyright date, and the copyright holder's name to the COPYRIGHT NOTICE of
                | any original Open Game Content you Distribute.
        p  
        p
            span
                | 7. Use of Product Identity: You agree not to Use any Product Identity, including as an indication as
                | to compatibility, except as expressly licensed in another, independent Agreement with the owner of each
                | element of that Product Identity. You agree not to indicate compatibility or co-adaptability with any
                | Trademark or Registered Trademark in conjunction with a work containing Open Game Content except as expressly
                | licensed in another, independent Agreement with the owner of such Trademark or Registered Trademark.
                | The use of any Product Identity in Open
            span
                | Game Content does not constitute a challenge to the ownership of that Product Identity. The owner of any
                | Product Identity used in Open Game Content shall retain all rights, title and interest in and to that
                | Product Identity.
        p  
        p
            span
                | 8. Identification: If you distribute Open Game Content You must clearly indicate which portions of the
                | work that you are distributing are Open Game Content.
        p  
        p
            span
                | 9. Updating the License: Wizards or its designated Agents may publish updated versions of this License.
                | You may use any authorized version of this License to copy, modify and distribute any Open Game Content
                | originally distributed under any version of this License.
        p  
        p
            span
                | 10 Copy of this License: You MUST include a copy of this License with every copy of the Open Game Content
                | You Distribute.
        p  
        p
            span
                | 11. Use of Contributor Credits: You may not market or advertise the Open Game Content using the name
                | of any Contributor unless You have written permission from the Contributor to do so.
        p  
        p
            span
                | 12 Inability to Comply: If it is impossible for You to comply with any of the terms of this License
                | with respect to some or all of the Open Game Content due to statute, judicial order, or governmental regulation
                | then You may not Use any Open Game Material so affected.
        p  
        p
            span
                | 13 Termination: This License will terminate automatically if You fail to comply with all terms herein
                | and fail to cure such breach within 30 days of becoming aware of the breach. All sublicenses shall survive
                | the termination of this License.
        p  
        p
            span
                | 14 Reformation: If any provision of this License is held to be unenforceable, such provision shall be
                | reformed only to the extent necessary to make it enforceable.
        p  
        p
            span
                | 15 COPYRIGHT NOTICE
                br
                | Open Game License v 1.0 Copyright 2000, Wizards of the Coast, Inc.
        p
            span
                b System Reference Document
            | . Copyright 2000, Wizards of the Coast, Inc.; Authors
            | Jonathan Tweet, Monte Cook, Skip Williams, based on material by E. Gary Gygax and Dave Arneson.
        p
            span
                b Pathfinder Roleplaying Game Reference Document.
            | © 2011, Paizo Publishing, LLC;
            | Author: Paizo Publishing, LLC.
        p
            span
                b Pathfinder Roleplaying Game Core Rulebook
            | . © 2009, Paizo Publishing, LLC;
            | Author: Jason Bulmahn, based on material by Jonathan Tweet, Monte Cook, and Skip Williams.
        p
            span
                b Pathfinder Roleplaying Game Bestiary
            | . © 2009, Paizo Publishing, LLC; Author:
            | Jason Bulmahn, based on material by Jonathan Tweet, Monte Cook, and Skip Williams.
        p
            span
                b Pathfinder Roleplaying Game Bestiary 2
            | . © 2010, Paizo Publishing, LLC; Authors
            | Wolfgang Baur, Jason Bulmahn, Adam Daigle, Graeme Davis, Crystal Frasier, Joshua J. Frost, Tim Hitchcock,
            | Brandon Hodge, James Jacobs, Steve Kenson, Hal MacLean, Martin Mason, Rob McCreary, Erik Mona, Jason Nelson,
            | Patrick Renie, Sean K Reynolds, F. Wesley Schneider, Owen K.C. Stephens, James L. Sutter, Russ Taylor, and Greg
            | A. Vaughan, based on material by Jonathan Tweet, Monte Cook, and Skip Williams.
        p
            span
                b Pathfinder Roleplaying Game Bestiary 3
            | . © 2011, Paizo Publishing, LLC;
            | Authors: Jesse Benner, Jason Bulmahn, Adam Daigle, James Jacobs, Michael Kenway, Rob McCreary, Patrick Renie,
            | Chris Sims, F. Wesley Schneider, James L. Sutter, and Russ Taylor, based on material by Jonathan Tweet, Monte
            | Cook, and Skip Williams.
        p
            span
                b Pathfinder Roleplaying Game GameMastery Guide
            | . © 2010, Paizo Publishing, LLC;
            | Author: Cam Banks, Wolfgang Buar, Jason Bulmahn, Jim Butler, Eric Cagle, Graeme Davis, Adam Daigle, Joshua J.
            | Frost, James Jacobs, Kenneth Hite, Steven Kenson, Robin Laws, Tito Leati, Rob McCreary, Hal Maclean, Colin
            | McComb, Jason Nelson, David Noonan, Richard Pett, Rich Redman, Sean K reynolds, F. Wesley Schneider, Amber
            | Scorr, Doug Seacat, Mike Selinker, Lisa Stevens, James L. Sutter, Russ Taylor, Penny Williams, Skip Williams,
            | Teeuwynn Woodruff.
        p
            span
                b Pathfinder Roleplaying Game Advanced Player's Guide
            | . © 2010, Paizo Publishing,
            | LLC; Author: Jason Bulmahn
        p
            span
                b Pathfinder Roleplaying Game Advanced Race Guide
            | . © 2012, Paizo Publishing,
            | LLC; Authors: Dennis Baker, Jesse Benner, Benjamin Bruck, Jason Bulmahn, Adam Daigle, Jim Groves, Tim Hitchcock,
            | Hal MacLean, Jason Nelson, Stephen Radney-MacFarland, Owen K.C. Stephens, Todd Stewart, and Russ Taylor.
        p
            span
                b Pathfinder Roleplaying Game NPC Codex
            | . © 2012, Paizo Publishing, LLC; Authors:
            | Jesse Benner, Jason Bulmahn, Adam Daigle, Alex Greenshields, Rob McCreary, Mark Moreland, Jason Nelson, Stephen
            | Radney-MacFarland, Patrick Renie, Sean K Reynolds, and Russ Taylor.
        p
            span
                b Pathfinder Roleplaying Game Ultimate Magic
            | . © 2011, Paizo Publishing, LLC;
            | Authors: Jason Bulmahn, Tim Hitchcock, Colin McComb, Rob McCreary, Jason Nelson, Stephen Radney-MacFarland, Sean
            | K Reynolds, Owen K.C. Stephens, and Russ Taylor.
        p
            span
                b Pathfinder Roleplaying Game Ultimate Campaign
            | . © 2013, Paizo Publishing, LLC;
            | Authors: Jesse Benner, Benjamin Bruck, Jason Bulmahn, Ryan Costello, Adam Daigle, Matt Goetz, Tim Hitchcock,
            | James Jacobs, Ryan Macklin, Colin McComb, Jason Nelson, Richard Pett, Stephen Radney-MacFarland, Patrick Renie,
            | Sean K Reynolds, F. Wesley Schneider, James L. Sutter, Russ Taylor, and Stephen Townshend.
        p
            span
                b Pathfinder Roleplaying Game Ultimate Combat
            | . © 2011, Paizo Publishing, LLC;
            | Authors: Dennis Baker, Jesse Benner, Benjamin Bruck, Jason Bulmahn, Brian J. Cortijo, Jim Groves, Tim Hitchcock,
            | Richard A. Hunt, Colin McComb, Jason Nelson, Tom Phillips, Patrick Renie, Sean K Reynolds, and Russ Taylor.
        p
            span
                b Pathfinder Roleplaying Game Ultimate Equipment
            | . © 2012 Paizo Publishing, LLC;
            | Authors: Dennis Baker, Jesse Benner, Benjamin Bruck, Ross Byers, Brian J. Cortijo, Ryan Costello, Mike Ferguson,
            | Matt Goetz, Jim Groves, Tracy Hurley, Matt James, Jonathan H. Keith, Michael Kenway, Hal MacLean, Jason Nelson,
            | Tork Shaw, Owen KC Stephens, and Russ Taylor.
        p
            span
                b Anger of Angels
            | . © 2003, Sean K Reynolds.
        p
            span
                b Book of Fiends
            | . © 2003, Green Ronin Publishing; Authors: Aaron Loeb, Erik
            | Mona, Chris Pramas, Robert J. Schwalb.
        p
            span
                b The Book of Hallowed Might
            | . © 2002, Monte J. Cook.
        p
            span
                b Monte Cook's Arcana Unearthed
            | . © 2003, Monte J. Cook.
        p
            span
                b Path of the Magi
            | . © 2002 Citizen Games/Troll Lord Games; Authors: Mike
            | McArtor, W. Jason Peck, Jeff Quick, and Sean K Reynolds.
        p
            span
                b Skreyn's Register: The Bonds of Magic
            | . © 2002, Sean K Reynolds.
        p
            span
                b The Book of Experimental Might
            | . © 2008, Monte J. Cook. All rights reserved.
        p
            span
                b Tome of Horrors
            | . © 2002, Necromancer Games, Inc.; Authors: Scott Greene, with
            | Clark Peterson, Erica Balsley, Kevin Baase, Casey Christofferson, Lance Hawvermale, Travis Hawvermale, Patrick
            | Lawinger, and Bill Webb; Based on original content from TSR.
        p
            span
                b Kobold Quarterly Issue 7
            | , © 2008, Open Design LLC, www.koboldquarterly.com;
            | Authors: John Baichtal, Wolfgang Baur, Ross Byers, Matthew Cicci, John Flemming, Jeremy Jones, Derek Kagemann,
            | Phillip Larwood, Richard Pett, and Stan!
        p The Tome of Horrors III, © 2005, Necromancer Games, Inc.; Author Scott Greene.
        p
            | Adherer from the
            span
                b Tome of Horrors, Revised
            | , © 2002, Necromancer Games, Inc.;
            | Authors Scott Greene and Clark Peterson, based on original material by Guy Shearer.
        p
            | Amphisbaena from the
            span
                b Tome of Horrors, Revised
            | , © 2002, Necromancer Games,
            | Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Angel, Monadic Deva from the 
            span
                b Tome of Horrors, Revised
            | ,
            | © 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span
                b Animal Lord from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games,Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Ascomid from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Atomie from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Aurumvorax from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Axe Beak from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Baphomet from the 
            span
                b Tome of Horrors Complete
            | © 2011,
            | Necromancer Games, Inc., published and distributed by Frog God Games; Author: Scott Greene, based on original
            | material by Gary Gygax.
        p
            span
                b Bat, Mobat from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Authors Scott Peterson and Clark Peterson, based on original material by Gary Gygax.
        p
            span
                b Beetle, Slicer from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Blindheim from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Roger Musson.
        p
            span
                b Basidirond from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Brownie from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span
                b Bunyip from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Dermot Jackson.
        p
            span
                b Carbuncle from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Authors Scott Greene, based on original material by Albie Fiore.
        p
            span
                b Caryatid Column from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Jean Wells.
        p
            span
                b Cave Fisher from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Lawrence Schick.
        p
            span
                b Crypt Thing from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Roger Musson.
        p
            span
                b Crystal Ooze from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Daemon, Ceustodaemon (Guardian Daemon) from the 
            span
                b Tome of Horrors, Revised
            | ,
            | © 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span
                b Daemon, Derghodaemon from the 
            span
                b Tome of Horrors, Revised
            | ,
            | © 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span
                b Daemon, Hydrodaemon from the 
            span
                b Tome of Horrors, Revised
            | ,
            | © 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span
                b Daemon, Piscodaemon from the 
            span
                b Tome of Horrors, Revised
            | ,
            | © 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span
                b Dark Creeper from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Rik Shepard.
        p
            span
                b Dark Stalker from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Simon Muth.
        p
            span
                b Death Worm from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene and Erica Balsley.
        p
            span
                b Decapus from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Jean Wells.
        p
            span
                b Demodand, Shaggy from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Demodand, Slimy from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Demodand, Tarry from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Demon, Nabasu from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Dire Corby from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Jeff Wyndham.
        p
            span
                b Disenchanter from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Roger Musson.
        p
            span
                b Dragon, Faerie from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Brian Jaeger and Gary Gygax.
        p
            span
                b Dragon Horse from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Dracolisk from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Dust Digger from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Flail Snail from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Simon Tilbrook.
        p
            span
                b Flumph from the 
            span
                b Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Ian McDowell and Douglas Naismith.
        p
            span
                b Froghemoth from the 
            span
                b Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span
                b Foo Creature from the 
            span
                b Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Forlarren from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Ian Livingstone.
        p
            span Genie, Marid from the 
            span Tome of Horrors Complete
            | © 2011,
            | Necromancer Games, Inc., published and distributed by Frog God Games; Author: Scott Greene, based on original
            | material by Gary Gygax.
        p
            span Giant Slug from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Giant, Wood from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Wizards of the Coast.
        p
            span Gloomwing from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Grippli from the 
            span Tome of Horrors Complete
            | © 2011,
            | Necromancer Games, Inc., published and distributed by Frog God Games; Author: Scott Greene, based on original
            | material by Gary Gygax.
            span Nereid from the 
            span Tome of Horrors Complete
            | ©
            | 2011, Necromancer Games, Inc., published and distributed by Frog God Games; Author: Scott Greene, based on
            | original material by Gary Gygax.
        p
            span Gryph from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Peter Brown.
        p
            span Hangman Tree from the 
            span Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Hippocampus from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene and Erica Balsley, based on original material by Gary Gygax.
        p
            span Huecuva from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Underworld Oracle.
        p
            span Ice Golem from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene.
        p
            span Iron Cobra from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Philip Masters.
        p
            span Jackalwere from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Jubilex from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Kamadan from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Nick Louth.
        p
            span Kech from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Kelpie from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Lawrence Schick.
        p
            span Korred from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Leprechaun from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Magma ooze from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene.
        p
            span Marid from the 
            span Tome of Horrors III
            | , © 2005,
            | Necromancer Games, Inc.; Author Scott Greene.
        p
            span Mihstu from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author: Scott Greene, based on original material by E. Gary Gygax.
        p
            span Mite from the 
            span Tome of Horrors
            | , © 2002, Necromancer
            | Games, Inc.; Author Scott Greene, based on original material by Ian Livingstone and Mark Barnes.
        p
            span Mongrelman from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Nabasu Demon from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Necrophidius from the 
            span Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author: Scott Greene, based on original material by Simon Tillbrook.
        p
            span Nereid from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Pech from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Phycomid from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Poltergeist from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Lewis Pulsipher.
        p
            span Quickling from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Quickwood from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Rot Grub from the 
            span Tome of Horrors
            | , © 2002, Necromancer
            | Games, Inc.; Author Scott Greene and Clark Peterson, based on original material by Gary Gygax.
        p
            span Russet Mold from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Sandman from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author: Scott Greene, based on original material by Roger Musson.
        p
            span Scarecrow from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author: Scott Greene, based on original material by Roger Musson.
        p
            span Shadow Demon from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Neville White.
        p
            span Skulk from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Simon Muth.
        p
            span Slime Mold from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Slithering Tracker from the 
            span Tome of Horrors, Revised
            | ,
            | © 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Soul Eater from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by David Cook.
        p
            span Spriggan from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene and Erica Balsley, based on original material by Roger Moore and
            | Gary Gygax.
        p
            span Tenebrous Worm from the 
            span Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Tentamort from the 
            span Tome of Horrors, Revised, © 2002
            | ,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Mike Roberts.
        p
            span Tick, Giant & Dragon from the 
            span Tome of Horrors, Revised
            | , © 2002, Necromancer Games, Inc.; Author Scott Greene, based on
            | original material by Gary Gygax.
        p
            span Troll, Ice from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Russell Cole.
        p
            span Troll, Rock from the 
            span Tome of Horrors, Revised
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene.
        p
            span Vegepygmy from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Wolf-In-Sheep's-Clothing from the 
            span Tome of Horrors, Revised
            | , © 2002, Necromancer Games, Inc.; Author Scott Greene, based on
            | original material by Gary Gygax.
        p
            span Wood Golem from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Authors Scott Greene and Patrick Lawinger.
        p
            span Yellow Musk Creeper from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Albie Fiore.
        p
            span Yellow Musk Zombie from the 
            span Tome of Horrors
            | , © 2002,
            | Necromancer Games, Inc.; Author Scott Greene, based on original material by Albie Fiore.
        p
            span Yeti from the 
            span Tome of Horrors
            | , © 2002, Necromancer
            | Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
        p
            span Zombie, Juju from the 
            span Tome of Horrors, Revised
            | , ©
            | 2002, Necromancer Games, Inc.; Author Scott Greene, based on original material by Gary Gygax.
