.row
    .col-xxs-8.col-xs-8
        h3{{npc.Name}} ({{encounter.Npcs[npc.id].amount}})
            span.pull-right CR {{npc.CR | numberToFractionString}}
        ul.list-unstyled
            li
                span
                    strong XP
                    | &nbsp;{{npc.XP}}
            li(ng-if="npc.Gender||npc.Race||npc.Classes")
                span {{npc.Gender}} {{npc.Race}} {{npc.Classes|classesToString}}
            li
                span {{npc.Alignment}} {{npc.Size}} {{npc.Type}} {{npc.SubType}}
            li
                span
                    strong Init
                    | &nbsp;{{npc.Init}}
            li
                span
                    strong Senses
                    | &nbsp;{{npc.Senses}}
    .col-xs-12
        .row
            .col-xs-12
                legend Defense
                ul.list-unstyled
                    li
                        span
                            strong
                                | AC
                            | &nbsp;{{npc.AC}}; {{npc.AC_Mods}}
                    li
                        span
                            strong HP
                            | &nbsp;{{npc.HP}} {{npc.HD}}
                    li
                        span
                            strong Fort
                            | &nbsp;{{npc.Fort}},
                        span
                            strong Ref
                            | &nbsp;{{npc.Ref}},
                        span
                            strong Will
                            | &nbsp;{{npc.Will}}
                    li(ng-if='npc.DefensiveAbilities')
                        span
                            strong Defensive Abilities
                            | &nbsp;{{npc.DefensiveAbilities}}
                        span(ng-if='npc.Resist')
                            strong Resist
                            | &nbsp;{{npc.Resist}}
                    li(ng-if='npc.DR')
                        span
                            strong DR
                            | &nbsp;{{npc.DR}};
                    li(ng-if='npc.Immune')
                        span
                            strong Immune
                            | &nbsp;{{npc.Immune}};
                    li(ng-if='npc.Weaknesses')
                        span
                            strong Weaknesses
                            | &nbsp;{{npc.Weaknesses}};
                    li(ng-if='npc.SR')
                        span
                            strong SR
                            | &nbsp;{{npc.SR}}
        .row
            .col-xs-12
                legend Offense
                ul.list-unstyled
                    li
                        span
                            strong SPD
                            | &nbsp;{{npc.Speed}}
                    li
                        span
                            strong Melee
                            | &nbsp;{{npc.Melee}}
                    li(ng-if="npc.Ranged")
                        span
                            strong Ranged
                            | &nbsp;{{npc.Ranged}}
                    li
                        span
                            strong Space
                            | &nbsp;{{npc.Space}}
                            | &nbsp;
                        span
                            strong Reach
                            | &nbsp;{{npc.Reach}}
                    li(ng-if='npc.SpecialAttacks')
                        span
                            strong Special Attacks
                            | &nbsp;{{npc.SpecialAttacks}};
                    li(ng-if='npc.SpellsKnown')
                        spell-list(spell-string="{{npc.SpellsKnown}}")
                    li(ng-if='npc.Bloodline')
                        span
                            strong Bloodline
                            | &nbsp;{{npc.Bloodline}}
                    li(ng-if='npc.SpellsPrepared')
                        spell-list(spell-string="{{npc.SpellsPrepared}}")
                    li(ng-bind-html='npc.SLASafe')
        .row
            .col-xs-12(ng-if='npc.BeforeCombat||npc.DuringCombat||npc.Morale||npc.BaseStatistics')
                div
                    legend Tactics
                div
                    ul.list-unstyled
                        li(ng-if='npc.BeforeCombat')
                            span
                                strong Before Combat
                                | &nbsp;{{npc.BeforeCombat}}
                        li(ng-if='npc.DuringCombat')
                            span
                                strong During Combat
                                | &nbsp;{{npc.DuringCombat}}
                        li(ng-if='npc.Morale')
                            span
                                strong Morale
                                | &nbsp;{{npc.Morale}}
                        li(ng-if='npc.BaseStatistics')
                            span
                                strong Base Statistics
                                | &nbsp;{{npc.BaseStatistics}}
            .col-xs-12
                legend Statistics
                ul.list-unstyled
                    li
                        span
                            strong Str
                            | &nbsp;{{npc.Str}},
                        span
                            strong Dex
                            | &nbsp;{{npc.Dex}},
                        span
                            strong Con
                            | &nbsp;{{npc.Con}},
                        span
                            strong Int
                            | &nbsp;{{npc.Int}},
                        span
                            strong Wis
                            | &nbsp;{{npc.Wis}},
                        span
                            strong Cha
                            | &nbsp;{{npc.Cha}}
                    li
                        span
                            strong Base Atk
                            | &nbsp;{{npc.BaseAtk}};
                        span
                            strong CMB
                            | &nbsp;{{npc.CMB}};
                        span
                            strong CMD
                            | &nbsp;{{npc.CMD}}
                    li
                        span
                            strong Feats
                            | &nbsp;{{npc.Feats}}
                    li
                        span
                            strong Skills
                            | &nbsp;{{npc.Skills}}
                        span(ng-if="npc.RacialMods")
                            strong Racial Modifiers
                            | &nbsp;{{npc.RacialMods}}
                    li
                        span
                            strong Languages
                            | &nbsp;{{npc.Languages}}
                    li
                        span(ng-if="npc.SQ")
                            strong SQ
                            | &nbsp;{{npc.SQ}}
                    li
                        span
                            span(ng-if="npc.Gear")
                                strong Combat Gear
                                | &nbsp;{{npc.Gear}}
                            span(ng-if="npc.Gear && npc.OtherGear") ;&nbsp;
                            span(ng-if="npc.OtherGear")
                                strong Other Gear
                                | &nbsp;{{npc.OtherGear}}
    .col-xs-12
        span(ng-if='npc.SpecialAbilitiesSafe')
            legend Special Abilities
            // FIXME Use jQuery to change the <h5> tags into <p> or <div>
            div(ng-bind-html='npc.SpecialAbilitiesSafe')
    .col-xs-12(ng-if='npc.Description')
        legend Description
        div(ng-bind-html='npc.DescriptionSafe')
                         