#image-upload-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='image-upload-modal-label',aria-hidden='true',ng-controller="UploadController")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3#image-upload-modal-label Upload image
            .modal-body
                #error-alert.alert.alert-danger(ng-show="errorMessage") {{errorMessage}}
                .container-fluid
                    .row
                        .col-md-3
                            h3 Select files
                            div(ng-show='uploader.isHTML5')
                                .well.my-drop-zone(ng-file-drop, ng-file-over='another-file-over-class')
                                    | Drop the image here.
                            input(ng-file-select='ng-file-select', type='file')
                        .col-md-9
                            .row
                                table.table.col-md-12
                                    thead
                                        tr
                                            th(width='50%') Name
                                            th(ng-show='uploader.isHTML5') Size
                                    tbody
                                        tr(ng-repeat='item in uploader.queue')
                                            td
                                                strong {{ item.file.name }}
                                                div(ng-show='uploader.isHTML5', thumbnail='{ file: item.file, height: 100 }')
                                            td(ng-show='uploader.isHTML5', nowrap='nowrap') {{ item.file.size/1024/1024|number:2 }} MB
                            .row
                                .col-md-12
                                    p
                                        | Progress:
                                        .progress
                                            .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
                                    button.btn.btn-success.btn-s(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
                                        span.glyphicon.glyphicon-upload
                                        | Upload
                                    button.btn.btn-warning.btn-s(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
                                        span.glyphicon.glyphicon-ban-circle
                                        | Cancel
                                    button.btn.btn-danger.btn-s(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
                                        span.glyphicon.glyphicon-trash
                                        | Remove
            .modal-footer
                button.btn(id="close-upload-modal", href='#', data-dismiss='modal', aria-hidden='true') Close