.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result.is-pointer(ng-controller="EditUserResourceController",click-to-edit='userResource.name', on-save="updateUserResource()")
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        .row.btn-container
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy',ng-click='copy()')
                i.icon.fa.fa-copy
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Upload',data-target='#image-upload-modal', role='button', data-toggle='modal')
                i.icon.fa.fa-upload
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-3.is-pointer(title='Delete',on-confirm="delete()", confirm-click="Are you sure ?", confirm-title="Delete Illustration")
                i.icon.fa.fa-trash-o
.row.l-section.result-content
    .col-xxs-12.col-xs-12.cat
        img(ng-src="{{userResource.url}}")
include _upload-file-modal