.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result {{userText.title}}
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        .row.btn-container
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy')
                i.icon.fa.fa-copy
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Edit',ng-click='editUserText()')
                i.icon.fa.fa-cogs
            //a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Favourite',ng-click='toggleFavourite()')
                i(ng-show="favourite").icon.fa.fa-heart
                i(ng-hide="favourite").icon.fa.fa-heart-o
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-4.is-pointer(title='Delete')
                i.icon.fa.fa-times
.row.l-section.result-content
    .col-xxs-12.col-xs-12.cat
        p.intro.underlined {{userText.synopsis}}
        span(ng-bind-html="userText.content")
