.row.heading.result-heading
    .col-xxs-8.col-xs-8.col-lg-9.name-container
        h2.t-title.t-title-result.is-pointer(click-to-edit='userResource.name', on-save="updateUserResource(userResource)")
    .col-xxs-4.col-xs-4.col-lg-3.cr-container
        .row.btn-container
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-1.is-pointer(title='Copy', ng-click='copy()')
                i.icon.fa.fa-copy
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-2.is-pointer(title='Upload', onclick='$("#hidden-file-select").click();')
                i.icon.fa.fa-upload
            a.col-xxs-3.col-xs-3.no-padding.action-btn.btn-3.is-pointer(title='Delete', on-confirm="delete()", confirm-click="Are you sure ?", confirm-title="Delete Illustration")
                i.icon.fa.fa-trash-o
.row.l-section.result-content
    .col-xxs-12.col-xs-12.cat
        #error-alert.alert.alert-danger(ng-show="errorMessage") {{errorMessage}}
        .upload(ng-if="uploader.isUploading")
            small {{uploadedFileName}}
            .row
                .col-xs-10
                    .progress
                        .progress-bar(role='progressbar', ng-style="{ 'width': uploader.progress + '%' }")
                .col-xs-2
                    button.btn.btn-s(type="button" ng-click="uploader.cancelAll()")
                        span.glyphicon.glyphicon-ban-circle Cancel
        div(pending="uploader.isUploading")
            img(ng-src="{{userResource.url}}")
        input#hidden-file-select.hidden(ng-file-select='ng-file-select', type='file')