.l-xs-nopadding
    .row
        .col-xxs-12.col-xs-12.col-sm-12.col-lg-12.l-app-content
            .l-section.col-sm-12.encounter-binder-container.encounter-binder.l-shadow.l-binder-container(ng-controller='BinderController', fade-in-fade-out="startFade")
                div(ng-if="binder")
                    include _binder
                div(ng-if="!binder")
                    span Could not find binder.