#wrapper
    div(ng-if="tabletWidthOrLarger")
        div(ng-include="'right-sidebar.html'")
    #sidebar-wrapper.home(ng-if="tabletWidthOrLarger")
        div(ng-include="'left-sidebar.html'")
    #page-content-wrapper
        header.l-header
            include _header
        .l-xs-nopadding
            .row
                .col-xxs-12.col-xs-12.col-sm-12.col-lg-12.l-app-content
                    .l-section.col-sm-12.encounter-binder-container.encounter-binder.l-shadow.l-binder-container(ng-controller='BinderController', fade-in-fade-out="startFade")
                        include _binder
        footer.l-footer
            include _footer