// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row
    .col-xs-12.l-section.encounter-binder-container.encounter-binder.l-binder-container(ng-controller='BinderController', fade-out="startFade")
        include binder/_binder