.row
    .col-xxs-12.col-xs-12.col-sm-12.col-lg-12
        .l-section.col-sm-12.encounter-binder-container.encounter-binder.l-binder-container(ng-controller='BinderController', fade-in-fade-out="startFade")
            include _binder