// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#chronicles(ng-controller="ChroniclesController")
    .row.max-width-720
        .panel.panel-default(ng-repeat="chronicle in chronicles|orderBy:'lastModified':true")
            .panel-body
                a.row.is-pointer(ng-click="selectChronicle(chronicle)") {{chronicle.name}}
                .btn-group.pull-right
                    button.btn.btn-default(title='Read the complete chronicle on one page', ng-click="view(chronicle)")
                        i.icon.fa.fa-book
                    button.btn.btn-default(title='Copy Chronicle', ng-click="copy(chronicle)", ng-disabled="copyPending", ng-hide="copyPending")
                        i.icon.fa.fa-copy
                    button.btn.btn-default(title='Copy Chronicle', ng-show="copyPending")
                        i.icon.fa.fa-spinner.fa-spin
                    button.btn.btn-danger(title='Delete Chronicle', tabindex='-1',data-target='#delete-chronicle-modal', role='button', data-toggle='modal',ng-click="toDelete(chronicle)")
                        i.icon.fa.fa-trash-o
                span.row {{chronicle.lastModified | timestampToHowlongago}}
            .panel-footer
                | {{chronicle.synopsis}}

        button.btn.btn-primary(ng-click="createChronicle()")
            i.icon.fa.fa-plus &nbsp;&nbsp;
            | New Chronicle
    include details/_confirm-delete-chronicle