// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

//(ng-controller="TutorialController")
#chronicles
    .row
        .col-xs-12.max-width-720.l-section.l-shadow.search-result
            p(style="color:white;") Hello World