// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row(ng-controller='ContentController')
    .col-lg-6.l-section.l-shadow.search-result.user-monster(ng-controller="EditUserResourceController", fade-out="startFade", ng-hide="contentType && !viewport.lg")
        include edit/_edit-user-npc
    .col-lg-6
        include details/_right-details-pane