.row(ng-controller='ContentController')
    .col-lg-6.l-section.l-shadow.search-result.user-monster(ng-controller="EditUserNpcController", fade-out="startFade", ng-hide="contentType && !viewport.lg")
        include edit/_edit-user-npc
    .col-lg-6
        include details/_right-details-pane