.row(ng-controller='ContentController')
    .l-section.l-shadow.search-result.user-monster(ng-controller="EditUserResourceController", ng-class="{'col-lg-6': !expanded,'col-lg-12':expanded}",fade-out="startFade", ng-hide="contentType && !viewport.lg")
        include _edit-user-item
    .col-lg-6
        include _right-details-pane