.container-fluid
    .row-fluid
        .span3
            .well.encounter-well.sidebar-nav(ng-controller='EncounterController')
                include encounter
        .span9(ng-controller='TabController')
            .row-fluid
                .span12
                    ul.nav.nav-tabs
                        li
                            a#monstersTab.pointer(ng-click="showTab('monsters')", data-toggle="tab")
                                | Monsters
                        li
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                | Items
            .row-fluid(ng-show="selectedTab === 'monsters'")
                .span4(ng-controller='SearchMonsterController')
                    .well.sidebar-nav
                        include monster-filters
                    .result-list
                        include monster-list
                .span8.well(ng-controller='MonsterDetailController')
                    include monster-details
            .row-fluid(ng-show="selectedTab === 'items'")
                .span4(ng-controller='SearchItemController')
                    .well.sidebar-nav
                        |TODO
                    .result-list
                        include item-list
                .span8.well
                    include item-details
.navbar.navbar-inverse.navbar-fixed-top
    include navbar
hr
footer
    include footer
