div.encounter(ng-show="encounter")
    .row.heading
        .col-sm-12
            a.pointer.remove-encounter.pull-right(ng-click="removeEncounter(encounter)", confirm-click="Are you sure ?", confirm-title="Delete encounter")
                i.icon.icon-remove
                    | ×
            h3.encounter-title.font-title
                span.encounter-name.pointer(click-to-edit='encounter.Name', on-save="encounterChanged()")
        .col-sm-12
            span#encounter-cr.pull-right
                strong CR&nbsp;
                |{{encounter.CR | numberToFractionString}}
            span#encounter-xp.pull-left
                strong XP&nbsp;
                |{{encounter.xp | number}}
    .row.content.content-monsters
        .col-sm-12
            legend.legend
                span Monsters
                i.icon.fa.fa-github.pull-left
            table#encounter-monsters.table.encounter-list
                tbody
                    tr.encounter-row.encounter-monster-row(ng-repeat='(id,monster) in encounter.Monsters')
                        td.badge-container
                            span.badge.red.pointer.monster-amount {{monster.amount}}
                        td.name-container
                            span.monster-name
                                a.pointer(ng-click='selectMonsterById(id)') {{monster.Name}}
                        td.cr-container
                            span.monster-cr
                                strong
                                    small CR&nbsp;
                                    | {{monster.CR | numberToFractionString}}
                        td.btn-container
                            span.encounter-monsters-buttons.pointer.pull-right
                                //button.item-btn.light-grey.decrement-monster-btn(ng-class="{disabled: monster.amount<=1}", ng-disabled="monster.amount<=1", ng-click='decrementMonster(monster)')
                                    i.icon
                                        | -
                                //button.item-btn.light-grey.increment-monster-btn(ng-click='incrementMonster(monster)')
                                    i.icon
                                        | +
                                button.item-btn.remove-monster-btn(ng-click='removeMonsterById(id)')
                                    i.icon.icon-remove
                                        | ×
                tfoot
                    tr.encounter-row
                        td
                        td.text-right(colspan='3')
                            strong XP&nbsp;
                            span#encounter-xp {{encounter.xp | number}}

    .row.content.content-treasure
        .col-sm-12
            legend.legend
                span Treasure
                i.icon.fa.fa-github.pull-left
                a.pointer.randomize-loot.pull-right(title='Randomize', ng-click="randomizeLoot(encounter)" , confirm-click="Are you sure ?", confirm-title="Randomize treasure")
                    i.icon.fa.fa-random
            table.table.encounter-list#encounter-items
                tbody
                    tr.encounter-row.encounter-item-row(ng-repeat='(id,item) in encounter.items')
                        td.badge-container
                            span.badge.red.pointer.item-amount {{item.amount}}
                        td.name-container
                            span.item-name
                                a.pointer(ng-click='selectItemById(id)') {{item.Name}}
                        td.price-container
                            span.item-price
                                | {{item.Price}}&nbsp;{{item.PriceUnit}}
                        td.btn-container
                            span.encounter-items-buttons.pointer.pull-right
                                //button.item-btn.light-grey.decrement-item-btn(ng-class="{disabled: item.amount<=1}", ng-disabled="item.amount<=1", ng-click='decrementItem(item)')
                                    i.icon.fa.fa-minus
                                //button.item-btn.light-grey.increment-item-btn(ng-click='incrementItem(item)')
                                    i.icon.fa.fa-plus
                                button.item-btn.remove-item-btn(ng-click='removeItemById(id)')
                                    i.icon.icon-remove
                                        | ×
            tfoot
                tr.encounter-row
                    td
                    td(colspan='3')
                        .col-xs-8.text-right
                            strong Coins
                        .col-xs-4
                            ul.list-unstyled.text-right
                                li
                                    span.encounter-coins-pp.pointer.underline-dotted(click-to-edit='encounter.coins.pp', display="{{encounter.coins.pp | number}}", on-save="encounterChanged()", numeric="true")
                                    i.icon.fa.fa-bullseye.platinum(title='Platinum Pieces')
                                li
                                    span.encounter-coins-gp.pointer.underline-dotted(click-to-edit='encounter.coins.gp', display="{{encounter.coins.gp | number}}", on-save="encounterChanged()", numeric="true")
                                    i.icon.fa.fa-bullseye.gold(title='Gold Pieces')
                                li
                                    span.encounter-coins-sp.pointer.underline-dotted(click-to-edit='encounter.coins.sp', display="{{encounter.coins.sp | number}}", on-save="encounterChanged()", numeric="true")
                                    i.icon.fa.fa-bullseye.silver(title='Silver Pieces')
                                li
                                    span.encounter-coins-cp.pointer.underline-dotted(click-to-edit='encounter.coins.cp', display="{{encounter.coins.cp | number}}", on-save="encounterChanged()", numeric="true")
                                    i.icon.fa.fa-bullseye.copper(title='Copper Pieces')
                        .col-xs-8.text-right
                            strong Value
                        .col-xs-4
                            .text-right
                                span#encounter-loot-value {{encounter.lootValue | number}}


div.encounter-no-encounter(ng-hide="encounter")
    | There is no encounter. Please
    | &nbsp;
    a.pointer(ng-click="createFirstEncounter()")
        | create one
    | .