div.encounter(ng-show="encounter")
    h3
        span.encounter-name.pointer(click-to-edit='encounter.Name', on-save="encounterChanged()")
        span#encounter-cr
            | (CR {{encounter.CR | numberToFractionString}})
            a.pointer.remove-encounter(ng-click="removeEncounter(encounter)")
                i.icon-trash
    .row-fluid
        legend Monsters
        ul#encounter-monsters.unstyled
            li.encounter-monster-row(ng-repeat='(id,monster) in encounter.Monsters')
                span.badge.badge-info.monster-amount {{monster.amount}}
                | &nbsp;
                span.monster-name
                    a.pointer(ng-click='selectMonsterById(id)') {{monster.Name}}
                | &nbsp;
                span.monster-cr
                    strong CR {{monster.CR | numberToFractionString}}
                | &nbsp;
                span.encounter-monsters-buttons.pointer
                    button.btn.btn-xmini.decrement-monster-btn(ng-class="{disabled: monster.amount<=1}", ng-disabled="monster.amount<=1", ng-click='decrementMonster(monster)')
                        i.icon-minus
                    button.btn.btn-xmini.increment-monster-btn(ng-click='incrementMonster(monster)')
                        i.icon-plus
                    button.btn.btn-danger.btn-xmini.remove-monster-btn(ng-click='removeMonsterById(id)')
                        i.icon-remove
        p
            b XP&nbsp;
            span#encounter-xp {{encounter.xp | number}}
    .row-fluid
        legend Treasure
        ul#encounter-items.unstyled
            li.encounter-item-row(ng-repeat='(id,item) in encounter.items')
                span.badge.badge-info.item-amount {{item.amount}}
                | &nbsp;
                span.item-name
                    a.pointer(ng-click='selectItemById(id)') {{item.Name}}
                | &nbsp;
                span.item-price
                    |{{item.Price}}&nbsp;{{item.PriceUnit}}
                | &nbsp;
                span.encounter-items-buttons.pointer
                    button.btn.btn-xmini.decrement-item-btn(ng-class="{disabled: item.amount<=1}", ng-disabled="item.amount<=1", ng-click='decrementItem(item)')
                        i.icon-minus
                    button.btn.btn-xmini.increment-item-btn(ng-click='incrementItem(item)')
                        i.icon-plus
                    button.btn.btn-danger.btn-xmini.remove-item-btn(ng-click='removeItemById(id)')
                        i.icon-remove
            li
              b Coins&nbsp;
              span.encounter-coins.pointer(click-to-edit='encounter.coins', display="{{encounter.coins | number}}", on-save="encounterChanged()", numeric="true")
              | &nbsp;gp
        p
            b Value&nbsp;
            span#encounter-loot-value {{encounter.lootValue / 100 | number}}
            | &nbsp;gp
div.encounter-no-encounter(ng-hide="encounter")
    | There is no encounter. Please
    | &nbsp;
    a.pointer(ng-click="createFirstEncounter()")
        | create one
    | .