#monster-list-view.container-fluid(ng-controller='MonsterListController')
    .row-fluid
        .span3
            .well.sidebar-nav(style='position: fixed; width: 400px;')
                h3
                    span.encounter-name(click-to-edit='selectedEncounter.Name')
                    span (CR {{selectedEncounter.CR | numberToFractionString}})
                .row-fluid
                    legend Monsters
                    ul#encounter-monsters.unstyled
                        li.encounter-monster-row(ng-repeat='(id,monster) in selectedEncounter.Monsters')
                            span.badge.badge-info.monster-amount {{monster.amount}}
                            | &nbsp;
                            span.monster-name
                                a.pointer(ng-click='selectMonster(id)') {{monster.Name}}
                            | &nbsp;
                            span.monster-cr
                                strong CR {{monster.CR | numberToFractionString}}
                            | &nbsp;
                            span.encounter-monsters-buttons.pointer
                                button.btn.btn-xmini.decrement-monster-btn(ng-class="{disabled: monster.amount<=1}", ng-disabled="monster.amount<=1", ng-click='decrementMonster(monster)')
                                    i.icon-minus
                                button.btn.btn-xmini.increment-monster-btn(ng-click='incrementMonster(monster)')
                                    i.icon-plus
                                button.btn.btn-danger.btn-xmini.remove-monster-btn(ng-click='removeMonster(id)')
                                    i.icon-remove
                .row-fluid
                    legend Treasure
                    ul.unstyled
                        li
                            span.badge.badge-info 8
                            | Orc
                            strong CR 1
                        li
                            span.badge.badge-info 5
                            | Elf
                            strong CR 5
        .span3
            .well.sidebar-nav
                include monster-filters
            .result-list
                include monster-list
        .span6.well(ng-controller='MonsterDetailController')
            include monster-detail
.navbar.navbar-inverse.navbar-fixed-top
    include navbar
hr
footer
.container-fluid
    .row-fluid
        .span12
            span © DemonSquid 2014
            | &nbsp; &nbsp;
            a.btn(data-target='#ogl-modal', role='button', data-toggle='modal') Open Game License
#ogl-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='ogl-modal-label', aria-hidden='true')
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    .modal-header
        h3#ogl-modal-label Open Game Content
    .modal-body
        include ogl
    .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
