header
    include _header
.container
    .row
        .col-sm-4.col-lg-3.app-content
            .section.col-sm-12.encounter-well.gradient.shadow(ng-controller='EncounterController')
                include _encounter
        .col-sm-8.col-lg-9(ng-controller='TabController')
            .row
                .col-xs-12.no-padding-left
                    ul.nav.nav-tabs.text-center#search-tabs
                        li.col-fifth.tab-1
                            a#monstersTab.pointer(ng-click="showTab('monsters')", data-toggle="tab")
                                i.icon.fa.fa-key
                                span.tab-name Monsters
                        li.col-fifth.tab-2
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                i.icon.fa.fa-key
                                span.tab-name Items
                        li.col-fifth.tab-3
                            a#monstersTab.pointer(ng-click="showTab('monsters')", data-toggle="tab")
                                i.icon.fa.fa-flask
                                span.tab-name Spells
                        li.col-fifth.tab-4
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                i.icon.fa.fa-trophy
                                span.tab-name Feats
                        li.col-fifth.last.tab-5
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                i.icon.fa.fa-trophy
                                span.tab-name Rules
            .row(ng-show="selectedTab === 'monsters'")
                .col-xs-12.no-padding-left
                    .col-md-5.col-lg-4.no-padding-left.shadow(ng-controller='SearchMonsterController')
                        .section.sidebar-nav
                            include _monster-filters
                        .section.result-list.app-content
                            include _monster-list
                    .col-md-7.col-lg-8.app-content.section.shadow(ng-controller='MonsterDetailController')
                        include _monster-details
            .row(ng-show="selectedTab === 'items'")
                .col-xs-12.no-padding-left
                    .col-md-5.col-lg-4.no-padding-left.shadow(ng-controller='SearchItemController')
                        .section.sidebar-nav
                            include _item-filters
                        .section.result-list.app-content
                            include _item-list
                    .col-md-7.col-lg-8.section.app-content.shadow(ng-controller='ItemDetailsController')
                        include _item-details
footer
    include _footer
