header
    include _header
.container
    .row
        .col-sm-4.col-lg-3.app-content
            .section.col-sm-12.encounter-well.gradient.shadow(ng-controller='EncounterController')
                include _encounter
        .col-sm-8.col-lg-9(ng-controller='TabController')
            .row
                .col-xs-12.no-padding-left
                    ul.nav.nav-tabs.text-center#search-tabs
                        li.col-sixth.tab-1
                            a#monstersTab.pointer(ng-click="showTab('monsters')", data-toggle="tab")
                                i.icon.fa.fa-bug
                                span(style="font-size:90%").tab-name Monsters
                        li.col-sixth.tab-2
                            a#npcTab.pointer(ng-click="showTab('npcs')", data-toggle="tab")
                                i.icon.fa.fa-user
                                span.tab-name NPCs
                        li.col-sixth.tab-3
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                i.icon.fa.fa-flask
                                span.tab-name Items
                        li.col-sixth.tab-4
                            a#spellsTab.pointer(ng-click="showTab('spells')", data-toggle="tab")
                                i.icon.fa.fa-magic
                                span.tab-name Spells
                        li.col-sixth.tab-5
                            a#itemsTab.pointer(ng-click="showTab('feats')", data-toggle="tab")
                                i.icon.fa.fa-star
                                span.tab-name Feats
                        //li.col-sixth.last.tab-6
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                i.icon.fa.fa-key
                                span.tab-name Rules
            .row(ng-show="selectedTab === 'monsters'")
                .col-xs-12.no-padding-left
                    .col-sm-6.col-md-5.col-lg-4.no-padding-left(ng-controller='SearchMonsterController')
                        .section.sidebar-nav.shadow
                            include _monster-filters
                        .section.result-list.app-content.shadow
                            include _monster-list
                    .col-sm-6.col-md-7.col-lg-8.search-result.app-content.section.shadow(ng-controller='MonsterDetailController')
                        include _monster-details
            .row(ng-show="selectedTab === 'npcs'")
                .col-xs-12.no-padding-left
                    .col-sm-6.col-md-5.col-lg-4.no-padding-left(ng-controller='SearchNpcController')
                        .section.sidebar-nav.shadow
                            include _npc-filters
                        .section.result-list.app-content.shadow
                            include _npc-list
                    .col-sm-6.col-md-7.col-lg-8.search-result.app-content.section.shadow(ng-controller='NpcDetailController')
                        include _npc-details
            .row(ng-show="selectedTab === 'items'")
                .col-xs-12.no-padding-left
                    .col-sm-6.col-md-5.col-lg-4.no-padding-left(ng-controller='SearchItemController')
                        .section.sidebar-nav.shadow
                            include _item-filters
                        .section.result-list.app-content.shadow
                            include _item-list
                    .col-sm-6.col-md-7.col-lg-8.search-result.section.app-content.shadow(ng-controller='ItemDetailsController')
                        include _item-details
            .row(ng-show="selectedTab === 'spells'")
                .col-xs-12.no-padding-left
                    .col-sm-6.col-md-5.col-lg-4.no-padding-left(ng-controller='SearchSpellController')
                        .section.sidebar-nav.shadow
                            include _spell-filters
                        .section.result-list.app-content.shadow
                            include _spell-list
                    .col-sm-6.col-md-7.col-lg-8.search-result.section.app-content.shadow(ng-controller='SpellDetailsController')
                        include _spell-details
            .row(ng-show="selectedTab === 'feats'")
                .col-xs-12.no-padding-left
                    .col-sm-6.col-md-5.col-lg-4.no-padding-left(ng-controller='SearchFeatController')
                        .section.sidebar-nav.shadow
                            //include _spell-filters
                        .section.result-list.app-content.shadow
                            include _feat-list
                    //(ng-controller='SpellDetailsController')
                    .col-sm-6.col-md-7.col-lg-8.search-result.section.app-content.shadow
                        //include _spell-details
footer
    include _footer
