// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section.row(ng-controller='ContentController')
    .col-md-5(ng-controller='EncounterController', pending="pending", ng-hide="contentType && (viewport.xs || viewport.sm)")
        .l-section.col-sm-12.encounter-well.gradient.l-shadow(fade-out="startFade")
            include edit/_encounter
    .col-md-7
        include details/_right-details-pane