header
    include header
.container
    .row
        .col-md-3
            .section.col-sm-12.encounter-well.sidebar-nav(ng-controller='EncounterController')
                include encounter
        .col-md-9(ng-controller='TabController')
            .row
                .col-md-12
                    ul.nav.nav-tabs
                        li
                            a#monstersTab.pointer(ng-click="showTab('monsters')", data-toggle="tab")
                                | Monsters
                        li
                            a#itemsTab.pointer(ng-click="showTab('items')", data-toggle="tab")
                                | Items
            .row(ng-show="selectedTab === 'monsters'")
                .col-md-4(ng-controller='SearchMonsterController')
                    .section.sidebar-nav
                        include monster-filters
                    .result-list
                        include monster-list
                .col-md-8.section(ng-controller='MonsterDetailController')
                    include monster-details
            .row(ng-show="selectedTab === 'items'")
                .col-md-4(ng-controller='SearchItemController')
                    .section.sidebar-nav
                        include item-filters
                    .result-list
                        include item-list
                .col-md-8.section(ng-controller='ItemDetailsController')
                    include item-details
footer
    include footer
