header.l-header
    include _header
include _left-sidebar
include _right-sidebar
.container.l-xs-nopadding
    .row
        .col-xxs-12.col-xs-12.col-sm-12.col-lg-12.l-app-content
            .l-section.col-sm-12.encounter-binder-container.encounter-binder.l-shadow.l-binder-container
                h1 This is your new home. I hope you like it :-)
footer.l-footer
    include _footer