#wrapper
    include _right-sidebar
    #sidebar-wrapper.home
        include _left-sidebar
    #page-content-wrapper
        header.l-header
            include _header
        .home
            include _left-sidebar
        footer.l-footer
            include _footer