table.items.table.table-striped.well
    thead
        tr
            th Name
            th Price
            th Source
    tbody
        tr.pointer.item-row(ng-repeat='item in items')
            td(ng-class='{selected: selectedItemId == item._id}', ng-click='selectItem(item.id)')
                p {{item.Name}}
            td(ng-class='{selected: selectedItemId == item._id}', ng-click='selectItem(item.id)')
                p {{item.Price}}
            td(ng-class='{selected: selectedItemId == item._id}', ng-click='selectItem(item.id)')
                abbr(title='{{item.Source}}')
                    small {{item.Source | abbreviateMonsterSource}}
            td(ng-class='{selected: selectedItemId == item._id}')
                input(type='text', placeholder='1', ng-model='item.amountToAdd', style='width: 25px;')
                button.btn.btn-mini(ng-class="{disabled: !selectedEncounter}", ng-disabled="!selectedEncounter", ng-click='addItem(item)')
                    i.icon-plus
pagination.pagination-sm.page.pointer(boundary-links='true', total-items='totalItems', page='currentPage', items-per-page='itemsPerPage', max-size='maxSize', previous-text='‹', next-text='›', first-text='«', last-text='»')
