// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row
    .col-xs-12.max-width-720.l-section.l-shadow.search-result(ng-controller='ItemDetailsController', pending="pending")
        include details/_item-details
