.heading
    h2 {{item.Name}}
    small Source: {{item.Source}}
    div
        div
            b Aura&nbsp;
            | {{item.Aura}};&nbsp
            b CL&nbsp;
            | {{item.CL}}
        div
            b Slot&nbsp;
            | {{item.Slot}};&nbsp
            b Price&nbsp;
            | {{item.Price}};&nbsp
            b Weight&nbsp;
            | {{item.Weight}}.
    legend Description
    p {{item.Description}}
    legend Construction
    div
        b Requirements&nbsp;&nbsp
        | {{item.Requirements}};
    div
        b Cost&nbsp;
        | {{item.Cost}}
