.heading
    h2 {{item.Name}}
    small Source: {{item.Source}}
    div
        div
            b Aura&nbsp;
            | {{item.Aura}};
            b CL&nbsp;
            | {{item.CL}}
        div
            b Slot&nbsp;
            | {{item.Slot}};
            b Price&nbsp;
            | {{item.Price}};
            b Weight&nbsp;
            | {{item.Weight}}.
    legend Description
    p {{item.Description}}
    legend Construction
    div
        b Requirements&nbsp;
        | {{item.Requirements}};
    div
        b Cost&nbsp;
        | {{item.Cost}}.
