.container(ng-controller='LoginController')
    .content
        .alert.alert-danger(ng-if='loginFailed')
            strong Log in failed
        .row
            .login-form
                h2 Log In
                form#login(ng-submit='submit()')
                    fieldset.row
                        .form-group
                            input.form-control(type='text', placeholder='Username', name='username', ng-model='username')
                        .form-group
                            input.form-control(type='password', placeholder='Password', name='password', ng-model='password')
                        button#login-button.btn.btn-default.primary(type='submit')
                            |Log in