.row-fluid
    .span8
        h2 {{monster.Name}}
        small Source: {{monster.Source}}
        p {{monster.Description_Visual}}
    .span4
        .thumbnail
            ul.unstyled
                li
                    strong CR
                    | &nbsp;{{monster.CR | numberToFractionString}}
                li
                    strong XP
                    | &nbsp;{{monster.XP}}
                li
                    strong {{monster.Alignment}}
                    | &nbsp;{{monster.Size}} {{monster.Type}} {{monster.SubType}}
                li
                    strong Init
                    | &nbsp;{{monster.Init}}
                li
                    strong Senses
                    | &nbsp;{{monster.Senses}}
.row-fluid
    .span8
        legend Offense
        ul.unstyled
            li
                strong SPD
                | &nbsp;{{monster.Speed}}
            li
                strong Melee
                | &nbsp;{{monster.Melee}}
            li
                strong Space
                | &nbsp;{{monster.Space}}
                | &nbsp;
                strong Reach
                | &nbsp;{{monster.Reach}}
            li(ng-if='monster.SpecialAttacks')
                strong Special Attacks
                | &nbsp;{{monster.SpecialAttacks}};
            li(ng-bind-html='monster.SLASafe')
    .span4
        legend Defense
        ul.unstyled
            li
                strong
                    abbr(title='Armor Class') AC
                | &nbsp;{{monster.AC}}
            li
                strong HP
                | &nbsp;{{monster.HP}}
            li
                strong Fort
                | &nbsp;{{monster.Fort}},
                strong Ref
                | &nbsp;{{monster.Ref}},
                strong Will
                | &nbsp;{{monster.Will}}
            li(ng-if='monster.DR')
                strong DR
                | &nbsp;{{monster.DR}};
            li(ng-if='monster.Immune')
                strong Immune
                | &nbsp;{{monster.Immune}};
            li(ng-if='monster.Weaknesses')
                strong Weaknesses
                | &nbsp;{{monster.Weaknesses}};
            li(ng-if='monster.SR')
                strong SR
                | &nbsp;{{monster.SR}}
.row-fluid
    .span8
        legend Statistics
        ul.unstyled
            li
                strong Str
                | &nbsp;{{monster.Str}},
                strong Dex
                | &nbsp;{{monster.Dex}},
                strong Con
                | &nbsp;{{monster.Con}},
                strong Int
                | &nbsp;{{monster.Int}},
                strong Wis
                | &nbsp;{{monster.Wis}},
                strong Cha
                | &nbsp;{{monster.Cha}}
            li
                strong Base Atk
                | &nbsp;{{monster.BaseAtk}};
                strong CMB
                | &nbsp;{{monster.CMB}};
                strong CMD
                | &nbsp;{{monster.CMD}}
            li
                strong Feats
                | &nbsp;{{monster.Feats}}
            li
                strong Skills
                | &nbsp;{{monster.Skills}}
                | &nbsp;
                strong Racial Modifiers
                | &nbsp;{{monster.RacialMods}}
            li
                strong Languages
                | &nbsp;{{monster.Languages}}
            li
                strong SQ
                | &nbsp;{{monster.SQ}}
    .span4
        div
            legend Ecology
        div
            ul.unstyled
                li
                    strong Environment
                    | &nbsp;{{monster.Environment}}
                li
                    strong Organization
                    | &nbsp;{{monster.Organization}}
                li
                    strong Treasure
                    | &nbsp;{{monster.Treasure}}
.row-fluid
    .span12
        span(ng-if='monster.SpecialAbilitiesSafe')
            legend Special Abilities
            // FIXME Use jQuery to change the <h5> tags into <p> or <div>
            div(ng-bind-html='monster.SpecialAbilitiesSafe')
.row-fluid
    .span12
        legend Description
        div(ng-bind-html='monster.DescriptionSafe')
