.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type="button",data-toggle='collapse',data-target='.navbar-collapse')
                span.sr-only
                    |Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only
                    |Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            a.navbar-brand.pointer(href='#', title='Go to home page')
                |Encounter Builder
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a#feedback.pointer(data-uv-trigger='data-uv-trigger', data-toggle='popover', ng-controller='FeedbackController') Send us Feedback !!!

                li.dropdown(ng-controller='LogoutController')
                    a#user-dropdown.text-right.dropdown-toggle.pointer(role='button', data-toggle='dropdown')
                        i.fa.fa-user
                        | &nbsp;{{user.username}}&nbsp;
                        b.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                        li
                            a.pointer(tabindex='-1')
                                |Profile
                        li
                            a.pointer(tabindex='-1')
                                |Settings
                        li.divider
                        li
                            a#user-dropdown-logout.pointer(tabindex='-1', ng-click='logout()')
                                | Log out

//.navbar-inner
    .row
        button.btn(type='button', data-toggle='collapse', data-target='.navbar-collapse')                                                                                                         span.sr-only
            | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='#', title='') Encounter Builder
        .dropdown.navbar-text.pull-left(ng-controller="EncounterListController")
            a.encounter-dropdown.dropdown-toggle.btn.btn-default.navbar-link(role='button', data-toggle='dropdown', ng-show="selectedEncounter")
                | {{selectedEncounter.Name}} (CR {{selectedEncounter.CR | numberToFractionString}})
                | &nbsp;
                b.caret
            a.encounter-dropdown-no-encounter.dropdown-toggle.btn.btn-default.navbar-link(role='button', data-toggle='dropdown', ng-hide="selectedEncounter")
                | (no encounters)
                | &nbsp;
                b.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                li
                    a.encounter-dropdown-create.pointer(tabindex='-1', ng-click='createEncounter()')
                        i.fa.fa-plus
                        strong &nbsp;Create new encounter
                li.divider.pointer
                li(ng-repeat='encounter in encounters')
                    a.pointer.encounter-dropdown-select(tabindex='-1', ng-click='selectEncounter(encounter)')
                        i.fa.fa-chevron-right
                        | &nbsp;{{encounter.Name}} (CR {{encounter.CR | numberToFractionString}})
        .navbar-collapse.collapse
            ul.nav.nav-social
                li.active
                    a(href='#todo')
                        i.fa.fa-eye-open
                        | Views
                li
                    a(href='#todo')
                        i.fa.fa-heart
                        | Likes
                li
                    a(href='#todo')
                        i.fa.fa-bullhorn
                        | Comments
                li
                    a(href='#todo')
                        i.fa.fa-user
                        | Spawns
            ul.nav.nav-settings
                li.active
                    a(href='#todo')
                        i.fa-cog.fa
                li
                    a(href='#todo')
                        i.fa-folder-close.fa
                li
                    a#feedback.pointer(data-uv-trigger='data-uv-trigger', style='background-color: #E2753A; color: white; position: fixed;', data-toggle='popover', ng-controller='FeedbackController') Send us Feedback !!!
            .dropdown.navbar-text.pull-right(ng-controller='LogoutController')
                a#user-dropdown.dropdown-toggle.btn.btn-default.navbar-link(role='button', data-toggle='dropdown')
                    i.fa.fa-user
                    | &nbsp;{{user.username}}&nbsp;
                    b.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                    li
                        a.pointer(tabindex='-1') Profile
                    li
                        a.pointer(tabindex='-1') Settings
                    li.divider.pointer
                    li
                        a#user-dropdown-logout.pointer(tabindex='-1', ng-click='logout()')
                            | Log
                            | out