.navbar-inner
    .container-fluid
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.brand(href='#', title='') Encounter Builder
        .dropdown.navbar-text.pull-left(ng-controller="EncounterListController")
            a.encounter-dropdown.dropdown-toggle.btn.navbar-link(role='button', data-toggle='dropdown', ng-show="selectedEncounter")
                | {{selectedEncounter.Name}} (CR {{selectedEncounter.CR | numberToFractionString}})
                | &nbsp;
                b.caret
            a.encounter-dropdown-no-encounter.dropdown-toggle.btn.navbar-link(role='button', data-toggle='dropdown', ng-hide="selectedEncounter")
                | (no encounters)
                | &nbsp;
                b.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                li
                    a.encounter-dropdown-create.pointer(tabindex='-1', ng-click='createEncounter()')
                        i.icon-plus
                        strong &nbsp;Create new encounter
                li.divider.pointer
                li(ng-repeat='encounter in encounters')
                    a.pointer.encounter-dropdown-select(tabindex='-1', ng-click='selectEncounter(encounter)')
                        i.icon-chevron-right
                        | &nbsp;{{encounter.Name}} (CR {{encounter.CR | numberToFractionString}})
        .nav-collapse.collapse
            ul.nav.nav-social
                li.active
                    a(href='#todo')
                        i.icon-eye-open.icon-white
                        | Views
                li
                    a(href='#todo')
                        i.icon-heart.icon-white
                        | Likes
                li
                    a(href='#todo')
                        i.icon-bullhorn.icon-white
                        | Comments
                li
                    a(href='#todo')
                        i.icon-user.icon-white
                        | Spawns
            ul.nav.nav-settings
                li.active
                    a(href='#todo')
                        i.icon-cog.icon-white
                li
                    a(href='#todo')
                        i.icon-folder-close.icon-white
                li
                    a#feedback.pointer(data-uv-trigger='data-uv-trigger', style='background-color: #E2753A; color: white; position: fixed;', data-toggle='popover', ng-controller='FeedbackController') Send us Feedback !!!
            .dropdown.navbar-text.pull-right(ng-controller='LogoutController')
                a#user-dropdown.dropdown-toggle.btn.navbar-link(role='button', data-toggle='dropdown')
                    i.icon-user
                    | &nbsp;{{user.username}}&nbsp;
                    b.caret
                ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                    li
                        a.pointer(tabindex='-1') Profile
                    li
                        a.pointer(tabindex='-1') Settings
                    li.divider.pointer
                    li
                        a#user-dropdown-logout.pointer(tabindex='-1', ng-click='logout()')
                            | Log
                            | out