.container.app-content(ng-controller='PrintableEncounterController')
    .row(style="padding-top: 100px")
        .col-sm-12.col-lg-12
            .section.col-sm-12.encounter-well.gradient.shadow
                .encounter
                    button.item-btn.back-btn(ng-click='back()') Back
                    .row.heading
                        .col-sm-12
                            h3.encounter-title.font-title
                                span.encounter-name
                                    |{{encounter.Name}}
            div(style="padding-top: 30px")
                .col-xs-12.no-padding-left(ng-repeat="monster in monsters")
                    .col-md-7.col-lg-8.section.shadow(ng-controller='MonsterDetailController')
                        include _printable-monster-details