.container(ng-controller='PrintableEncounterController')
    style(type='text/css').
        #back-btn {
            background-color: #9d1f1f;
            color: white;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 5px;
        }
        .page-break {
            page-break-after: always;
        }
        .printed-parent {
            float:none;
        }
        body{
            background:white !important;
            color:black;
        }

    .row
        .col-xs-12.col-lg-12
            include _printable-encounter-summary
    .page-break
    .row
        div(style="padding-top: 30px")
            .row
                .col-xs-12
                    .col-xs-12(ng-repeat="monster in monsters")
                        include _printable-monster-details