.container(ng-controller='PrintableEncounterController')
    style(type='text/css').
        #back-btn {
            background-color: #9d1f1f;
            color: white;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 5px;
        }
        .page-break {
            page-break-after: always;
        }
        .printed-parent {
            float:none;
        }
        body{
            background:white !important;
            color:black;
        }
        @media print
        {
            #footer {
                display: block;
                position: fixed;
                bottom: 0;
            }
        }
    .row
        .col-xs-12.col-lg-12
            include _printable-encounter-summary
    .page-break
    .printed-parent(ng-repeat="monster_row in monsters_rows")
        .row
            .col-xs-6(ng-if="monster_row.length === 2", ng-repeat="monster in monster_row")
                include _printable-monster-details
            .col-xs-12(ng-if="monster_row.length === 1", ng-repeat="monster in monster_row")
                include _printable-monster-details
        .page-break
    .printed-parent(ng-repeat="npc in npcs")
        .row
            .col-xs-12
                include _printable-npc-details
        .page-break
span#footer
    strong Encounter Builder
    | &nbsp;
    em Less prep. More game.