.row(ng-controller='UserImageResourceController', fade-out="startFade")
    .col-xs-12.max-width-720.l-section.l-shadow.search-result(pending="!userResource.$resolved")
        include _user-image-resource