// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.row(ng-controller='UserTextController', fade-out="startFade")
    .col-xs-12.max-width-720.l-section.l-shadow.search-result( pending="pending")
        include details/_user-text