.row(ng-controller='UserIllustrationController', fade-out="startFade")
    .col-xs-12.max-width-720.l-section.l-shadow.search-result(pending="!userResource.$resolved || (!uploader.isUploading && uploadInProgress)")
        include _user-illustration