header.lf-heading.row
    a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
        .lf-name-container
            h3.lf-name
                i.icon.fa.fa-flask
                | {{leaf.Name}}
        .lf-cr-container
            span.lf-cr
                strong CL&nbsp;
                | {{leaf.CL | numberToFractionString}}
            //span.lf-xp
                strong {{item.Price}}&nbsp;{{item.PriceUnit}}
.lf-content.row
    .col-sm-12
        ul.cat-content.list-unstyled
            li(ng-if="leaf.Price")
                span
                    strong {{leaf.Price}}
                        | {{leaf.PriceUnit}}
            li(ng-if="leaf.Aura")
                span
                    strong Aura&nbsp;
                    | {{leaf.Aura}}
            li(ng-if="leaf.Group")
                span
                    strong Group&nbsp;
                    | {{leaf.Group}}
            li(ng-if="item.SpellName")
                span
                    strong Spell&nbsp;
                    span(linkify="item.SpellName",linkify-type="spell", mythic="false")
            li(ng-if="item.Slot")
                span
                    strong Slot&nbsp;
                    | {{item.Slot}}
            li(ng-if="item.Weight")
                span
                    strong Weight&nbsp;
                    | {{item.Weight}}