header.lf-heading.row
    a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
        .lf-name-container
            h3.lf-name
                i.icon.fa.fa-user
                | {{leaf.Name}}
        .lf-cr-container
            span.lf-cr
                strong CR&nbsp;
                | {{leaf.CR | numberToFractionString}}
.lf-content.row
    .col-sm-12
        ul.cat-content.list-unstyled
            li
                span
                    strong XP
                    | &nbsp;{{leaf.XP}}
            li(ng-if="leaf.Gender||leaf.Race||leaf.Classes")
                span {{leaf.Gender}} {{leaf.Race}} {{leaf.Classes|classesToString}}
            li
                span {{leaf.Alignment}} {{leaf.Size}} {{leaf.Type}} {{leaf.SubType}}
            li
                span
                    strong Init
                    | &nbsp;{{leaf.Init}}
            li
                span
                    strong Senses
                    | &nbsp;{{leaf.Senses}}
            li(ng-if="leaf.Aura")
                span
                    strong Aura
                    | &nbsp;{{leaf.Aura}}
            li
                span
                    strong
                        abbr(title='Armor Class') AC
                    | &nbsp;{{leaf.AC}}; {{leaf.AC_Mods}}