// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.
header.lf-heading.row
    a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
        .lf-name-container
            h3.lf-name
                i.icon.fa.fa-star
                | {{leaf.name}}
.lf-content.row
    .col-xs-12.cat
        span.cat-content {{leaf.description}}
    .col-xs-12.cat
        ul.cat-content.list-unstyled
            li
                span
                    strong Type&nbsp;
                    | {{leaf.type}}
            li(ng-if="leaf.prerequisites")
                span
                    strong Prerequisites
                    | :&nbsp;
                    span(linkify='leaf.prerequisites',linkify-type="feat", mythic="false")
            li(ng-if="leaf.benefit")
                span
                    strong Benefit
                    | : {{leaf.benefit}}
            li(ng-if="leaf.normal")
                span
                    strong Normal
                    | : {{leaf.normal}}
            li(ng-if="leaf.special")
                span
                    strong Special
                    | : {{leaf.special}}