// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.
.binder.row
    header.binder-heading.col-sm-12
        .pull-right
            a.is-pointer.remove-binder(on-confirm="removeBinder()", confirm-click="{{removeBinderMessage}}", confirm-title="Delete binder")
                i.icon.icon-remove
                    | &#215;
        h1.t-title.t-binder-title
            span.binder-name.is-pointer(click-to-edit='binder.Name', on-save="binderChanged()")

    .encounter-dropdown-container( pending="pending")
        .row.leaves
            .col-sm-6.col-lg-4.leaf(ng-repeat='leaf in leaves',ng-switch="leaf.$type")
                article.col-sm-12.l-shadow.encounter(ng-switch-when="encounter")
                    include _encounter-ro
                article.col-sm-12.l-shadow.binder(ng-switch-when="binder")
                    header.lf-heading.row
                        a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
                            .lf-name-container
                                h3.t-title.lf-title.lf-name
                                    | {{leaf.Name}}
                article.col-sm-12.l-shadow.user-text(ng-switch-when="userText")
                    header.lf-heading.row
                        a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
                            .lf-name-container
                                h3.lf-name
                                    i.icon.fa.fa-pencil
                                    | {{leaf.title}}
                    .lf-content.row
                        .col-sm-12
                            p.t-italic {{leaf.synopsis}}
                        .col-sm-12
                            div(ng-bind-html="leaf.content | toTrustedHtml")
                article.col-sm-12.l-shadow.monster(ng-switch-when="monster")
                    include _abbr-monster
                article.col-sm-12.l-shadow.npc(ng-switch-when="npc")
                    include _abbr-npc
                article.col-sm-12.l-shadow.user-spell(ng-switch-when="user-spell")
                    include _abbr-spell
                article.col-sm-12.l-shadow.user-feat(ng-switch-when="user-feat")
                    include _abbr-feat
                article.col-sm-12.l-shadow.user-item(ng-switch-when="user-item")
                    include _abbr-item