.binder.row.leaves
    header.heading.binder-heading.col-sm-12
        .pull-right
            a.is-pointer.remove-binder(on-confirm="removeBinder()", confirm-click="{{removeBinderMessage}}", confirm-title="Delete binder")
                i.icon.icon-remove
                    | &#10008;
        h3.t-title.t-binder-title
            span.binder-name.is-pointer(click-to-edit='binder.Name', on-save="binderChanged()")

    .encounter-dropdown-container( pending="pending")
        .row
            article.col-sm-6.col-md-4.col-lg-4.leaf(ng-repeat='leaf in leaves')
                .l-section.encounter-well.gradient.l-shadow(ng-show="'encounter' === leaf.$type")
                    include _encounter-ro
                .l-section.encounter-well.gradient.l-shadow(ng-show="'binder' === leaf.$type")
                    .binder
                        header.heading.col-sm-12
                            h3.t-title.t-binder-title
                                a.binder-name.is-pointer(ng-click="selectLeaf(leaf)")
                                    | {{leaf.Name}}
                .l-section.encounter-well.gradient.l-shadow(ng-show="'userText' === leaf.$type")
                    .encounter
                        header.heading.col-sm-12
                            h4.t-title.t-binder-title
                                a.binder-name.is-pointer(ng-click="selectLeaf(leaf)")
                                    i.icon.fa.fa-pencil
                                    | &nbsp;
                                    | {{leaf.title}}
                        .content.col-sm-12
                            p.underlined {{leaf.synopsis}}
                .l-section.encounter-well.gradient.l-shadow(ng-show="'monster' === leaf.$type")
                    include _abbr-monster
                .l-section.encounter-well.gradient.l-shadow(ng-show="'npc' === leaf.$type")
                    include _abbr-npc
                .l-section.encounter-well.gradient.l-shadow(ng-show="'user-spell' === leaf.$type")
                    include _abbr-spell
                .l-section.encounter-well.gradient.l-shadow(ng-show="'user-feat' === leaf.$type")
                    include _abbr-feat
                .l-section.encounter-well.gradient.l-shadow(ng-show="'user-item' === leaf.$type")
                    include _abbr-item