// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.
.binder.row
    header.binder-heading
        .col-sm-12
            .pull-right
                a.is-pointer.remove-binder(on-confirm="removeBinder()", confirm-click="{{removeBinderMessage}}", confirm-title="Delete binder")
                    i.icon.icon-remove.fa.fa-trash-o
            h1.t-title.t-binder-title
                span.binder-name.is-pointer(click-to-edit='binder.Name', on-save="binderChanged()")
    .encounter-dropdown-container
        .leaves
            .col-sm-6.col-lg-4.leaf(ng-repeat='leaf in leaves',ng-switch="leaf.$type")
                .encounter(ng-switch-when="encounter")
                    .l-shadow.col-sm-12
                        include _encounter-ro
                .l-shadow.binder(ng-switch-when="binder")
                    header.lf-heading
                        a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
                            .lf-name-container
                                h3.lf-name
                                    i.icon.fa.fa-folder
                                    | {{leaf.Name}}
                    .lf-content
                        .col-sm-12
                .l-shadow.user-text(ng-switch-when="user-text")
                    header.lf-heading
                        a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
                            .lf-name-container
                                h3.lf-name
                                    i.icon.fa.fa-pencil
                                    | {{leaf.name}}
                    .lf-content
                        p.t-italic {{leaf.synopsis}}
                        div(ng-bind-html="leaf.content | toTrustedHtml")
                .l-shadow.user-text(ng-switch-when="user-illustration")
                    header.lf-heading
                        a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
                            .lf-name-container
                                h3.lf-name
                                    i.icon.fa.fa-picture-o
                                    | {{leaf.name}}
                    .lf-content
                        a.is-pointer(ng-href="{{leaf.url}}", target="blank")
                            img(ng-src="{{leaf.url}}")
                .l-shadow.user-text(ng-switch-when="user-map")
                    header.lf-heading
                        a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
                            .lf-name-container
                                h3.lf-name
                                    i.icon.fa.fa-map-marker
                                    | {{leaf.name}}
                    .lf-content
                .monster(ng-switch-when="monster")
                    .l-shadow.col-sm-12
                        include _abbr-monster
                .npc(ng-switch-when="npc")
                    .l-shadow.col-sm-12
                        include _abbr-npc
                .l-shadow.user-spell(ng-switch-when="user-spell")
                    .col-sm-12
                        include _abbr-spell
                .l-shadow.user-feat(ng-switch-when="user-feat")
                    .col-sm-12
                        include _abbr-feat
                .l-shadow.user-item(ng-switch-when="user-item")
                    .col-sm-12
                        include _abbr-item