header.lf-heading.row
    a.t-title.lf-title.is-pointer(ng-click="selectLeaf(leaf)")
        //.ect-remove.pull-right
            a.is-pointer.remove-encounter(on-confirm="removeEncounter(leaf)", confirm-click="Are you sure ?", confirm-title="Delete encounter")
                i.icon.icon-remove
                    | &#215;
        //.col-xxs-8.col-xs-8.col-lg-9.name-container
        .lf-name-container
            h3.lf-name
                i.icon.fa.fa-shield
                | {{leaf.Name}}
        //.col-xxs-4.col-xs-4.col-lg-3.lf-cr-container
        .lf-cr-container
            span.lf-cr
                strong CR&nbsp;
                | {{leaf.CR | numberToFractionString}}
            //span.lf-xp
                strong XP&nbsp;
                | {{leaf.xp | number}}

.lf-content.row
    .content-monsters.col-sm-12
        legend.t-legend
            span Monsters
            i.icon.fa.fa-bug.pull-left
        table#encounter-monsters.table.encounter-list
            tbody
                tr.encounter-row.encounter-monster-row(ng-repeat='(id,monster) in leaf.Monsters')
                    td.badge-container
                        span.badge.red.monster-amount {{monster.amount}}
                    td.encounter-name-container
                        span.monster-name
                            a.is-pointer(ng-click='selectMonsterById(id)') {{monster.Name}}
                    td.ect-cr-container
                        span.monster-cr
                            strong
                                small CR&nbsp;
                                | {{monster.CR | numberToFractionString}}
    .content-npcs.col-sm-12
        legend.t-legend
            span NPCs
            i.icon.fa.fa-user.pull-left
        table#encounter-npcs.table.encounter-list
            tbody
                tr.encounter-row.encounter-npc-row(ng-repeat='(id,npc) in leaf.Npcs')
                    td.badge-container
                        span.badge.red.npc-amount {{npc.amount}}
                    td.encounter-name-container
                        span.npc-name
                            | {{npc.Name}}
                    td.ect-cr-container
                        span.npc-cr
                            strong
                                small CR&nbsp;
                                | {{npc.CR | numberToFractionString}}
    .content-treasure.col-sm-12
        legend.t-legend
            span Treasure
            i.icon.fa.fa-flask.pull-left
        table.table.encounter-list#encounter-items
            tbody
                tr.encounter-row.encounter-item-row(ng-repeat='(id,item) in leaf.items')
                    td.badge-container
                        span.badge.red.item-amount {{item.amount}}
                    td.name-container
                        span.item-name
                           | {{item.Name}}
                    td.price-container
                        span.item-price
                            | {{item.Price}}&nbsp;{{item.PriceUnit}}
            tfoot
                tr.encounter-row
                    td
                    td(colspan='3')
                        .row
                            .col-xxs-8.col-xs-8.text-right
                                strong Value
                            .col-xxs-4.col-xs-4
                                .text-right
                                    span#encounter-loot-value {{leaf.lootValue | number}}