.item-btn, .btn {
  &.grey {
    color: $red;
    background-color: $grey-light;
    &:hover {
      color: $red-light;
      background-color: white;
    }
  }
  &.red {
    color: $grey-light;
    background-color: $red;
    &:hover {
      color: white;
      background-color: $red-light;
    }
  }
}

.item-btn {
  @extend .no-border;
  @extend .no-radius;
  @include transition(all,0.2s,ease-in-out);
  margin-left: 0.125em;
  padding: 0;
  line-height: 1;
  width: 1.25em;
  height: 1.25em;
}