//GREY SHADES
$coal: #1E1A0D;
$coa-2: #1f1c11;
$coal-transparent: rgba(31, 28, 17,0.7);
$grey-dark: #56534A;
$grey: #bdb8b4;
$grey-2: #c4c3c0;
$grey-light: #d9d6d4;
$grey-light-2: #f2f2f1;
$grey-light-transparent: rgba(217, 214, 212, 0.4);
$grey-light-transparent-2: rgba(217, 214, 212, 0.1);
$white-transparent: rgba(255,255,255,0.7);

//BROWN SHADES
$brown-dark: #312e27;
$brown-dark-transparent: rgba(49, 46, 39, 0.3);
$brown: #57544a;
$brown-transparent: rgba(87, 84, 74, 0.2);
//GOLD SHADES
$gold-dark: #665924;
$gold: #b2932f;
//METAL SHADES
$platinum: #e2f4f7;
$gold-2: #e8cc0f;
$silver: #d0cbc7;
$copper: #db8d12;
//RED SHADES
$red: #9d1f1f;
$red-transparent: rgba(157,26,0,0.6);
$red-light: #c82020;
//BLUE SHADES
$teal: #057882;
$teal-dark: #004f53;

// GRADIENT
@mixin gradientGreyDark {
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brown', endColorstr='$brown-dark',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  background-color: $brown-dark; /* Old browsers */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -ms-radial-gradient(center 160px, circle closest-corner, $brown 0%, $brown-dark 100%); /* IE10 Consumer Preview */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -moz-radial-gradient(center 160px, circle closest-corner, $brown 0%, $brown-dark 100%);/* Mozilla Firefox */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -o-radial-gradient(center 160px, circle closest-corner, $brown 0%, $brown-dark 100%);/* Opera */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -webkit-gradient(radial, center 160px, 0, center top, 320, color-stop(0, $brown), color-stop(1, $brown-dark));/* Webkit (Safari/Chrome 10) */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -webkit-radial-gradient(center 160px, circle closest-corner, $brown 0%, $brown-dark 100%); /* Webkit (Chrome 11+) */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), radial-gradient(circle closest-corner at center 160px, $brown 0%, $brown-dark 100%);/* W3C Markup, IE10 Release Preview */
  background-repeat: repeat, no-repeat;
}
@mixin gradientGreyLight {
  background-color: $grey-light-2; /* Old browsers */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -ms-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%); /* IE10 Consumer Preview */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -moz-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%);/* Mozilla Firefox */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -o-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%);/* Opera */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -webkit-gradient(radial, center 160px, 0, center top, 320, color-stop(0, $grey-light-2), color-stop(1, $grey-2));/* Webkit (Safari/Chrome 10) */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -webkit-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%); /* Webkit (Chrome 11+) */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), radial-gradient(circle closest-corner at center 160px, $grey-light-2 0%, $grey-2 100%);/* W3C Markup, IE10 Release Preview */
  background-repeat: repeat, no-repeat;
}
@mixin gradientGreyLight2 {
  background-color: $grey-light-2; /* Old browsers */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -ms-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%); /* IE10 Consumer Preview */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -moz-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%);/* Mozilla Firefox */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -o-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%);/* Opera */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -webkit-gradient(radial, center 160px, 0, center top, 320, color-stop(0, $grey-light-2), color-stop(1, $grey-2));/* Webkit (Safari/Chrome 10) */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), -webkit-radial-gradient(center 160px, circle closest-corner, $grey-light-2 0%, $grey-2 100%); /* Webkit (Chrome 11+) */
  background-image: url('../img/bg/noisy-texture-100x100-o3-d10-c-312e27-t1.png'), radial-gradient(circle closest-corner at center 160px, $grey-light-2 0%, $grey-2 100%);/* W3C Markup, IE10 Release Preview */
  background-repeat: repeat, no-repeat;
}