label {
  font-weight: normal;
}
[ng-show='isEditing'],
[ng-hide='isEditing'] {
  overflow: hidden;
  max-width: 100%;
  input[type="text"] {
    max-width: 90%;
    display: inline-block;
    color: white;
    background: transparent;
    border: none;
    &:focus {
      outline: none !important;
      border-color: $red;
    }
  }
}