label {
  font-weight: normal;
}
[ng-show='isEditing'],
[ng-hide='isEditing'] {
  overflow: hidden;
  max-width: 100%;
  input[type="text"] {
    max-width: 90%;
    display: inline-block;
    color: white;
    background: transparent;
    border: none;
    &:focus {
      outline: none !important;
      border-color: $red;
    }
  }
}
button, input, select {
  outline: none;
}
.form-control {
  //border-color: transparent;
  &:focus {
    border-color: $teal-transparent;
  }
}
.password-do-not-match {
  display: none;
  position:absolute;
  z-index: 100;
  top: -6px;
  left: 160px;
  width:200px;
  padding:10px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #aaa;
  border:1px solid #ddd;
  opacity: 0.9;
}
input.ng-pristine + .password-do-not-match {
  display: none;
}
.ng-dirty.ng-invalid {
  border-color:#ec3f41;
}
.ng-invalid + .password-do-not-match {
  display: block;
  border-color: #ec3f41;
}