// OPACITY
@mixin opacity($alpha) {
  opacity: $alpha;
  -moz-opacity: $alpha;
  //-ms-filter:'progid:DXImageTransform.Microsoft.Alpha'(Opacity=$alpha);
}

// BOXES
@mixin box-shadow($horizontal,$vertical,$blur,$color) {
  -moz-box-shadow: $horizontal $vertical $blur $color;
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin box-shadow-inset($horizontal,$vertical,$blur,$color) {
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin background-size-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg/bg_forest_teal.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg/bg_forest_teal.png', sizingMethod='scale')";

}

// TRANSITIONS
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}