//THEME TEAL
body.teal {
  background: $teal-dark-2 url('../img/bg/bg_forest_teal.png') no-repeat center center fixed;
  @include background-size-cover();
  .section {
    background-color: $grey-light;
    &.encounter-well {
      background-color: $brown-dark;
      @include gradientGreyDark();
    }
  }
  .result-list {
    @include gradientGreyLight();
    .table td {
      &.selected {
        background-color: $teal-light;
        color: white;
      }
    }
  }
  .search-result {
    .result-heading {
      background-color: $teal;
    }
  }
}