// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Weekly update #3: URLs & back button, better random loot generation
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                | Posted on April 11th, 2014 at 07:18 AM
            //hr
            // img.img-responsive(src='http://placehold.it/900x300')
            // hr
            //p.lead
                | Science cuts two ways, of course; its products can be used for both good and evil. But there's no

            p Hey everyone,
            p This week was a bit slower in terms of new features, but we've added some nifty things nonetheless :)
            p <strong>URLs and back button support</strong>
            p We've added full support for the back button inside Encounter Builder! This makes navigation between tabs and links much more comfortabe than before.
            p Note that this also means that you can set bookmarks to your favorite spells, NPCs, monsters, etc.
            p URLs will only work when logged in during the private beta. We'll change this in the future.
            p <strong>Better random loot generation : gems & art objects</strong>
            p The loot generator is now nearly complete with our latest addition of gems and art objects. We've still got to implement the Lair Treasure and Treasure Hoard types, which we'll do soon.
            p <strong>Loading spinner and other fixes</strong>
            p We've patched a few things here and there and added a spinner when content is loading from the network.
            p See you next week!
            p Cheers,
            p Nick & Chris

            hr
            p Please head over to <a href="http://forums.encounterbuilder.com/topic/31/weekly-update-3-urls-back-button-better-random-loot-generation">our forums</a> if you'd like to react to this post.