// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Update #6: Encounter Builder becomes Chronicle Forge!
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                | Posted on August 9th, 2014 at 5:05 PM

            p Hey everyone,
            p We have several exciting announcements!
            p First (you probably noticed already) we have a new name! Farewell Encounter Builder, you shall now be known as Chronicle Forge. We hope you like it :)
            p Next, we are super happy to announce that Chronicle Forge is now in Open Beta! Starting today, everybody can freely create an account and start building adventures. We plan to keep Chronicle Forge in beta until at least September 15th, and it will remain completely free until then. We have also completely revised <a href="http://www.chronicleforge.com/#pricing">our pricing options</a>.
            p So, what’s ahead? In the next few weeks, we’ll be working on the collaboration aspect of Chronicle Forge. Our first step will be to allow users to make their creations publicly available and browseable within the app. After that, we’ll allow users to rate, tag, and comment all public content. Of course, we’ll also continue working on improving existing features and fixing bugs.
            p As always, if you have ideas or comments to share, please voice them in <a href="http://forums.chronicleforge.com/topic/45/update-7-encounter-builder-becomes-chronicle-forge">our forums</a>.
            p Happy beta testing!
            p Cheers,
            p Nick & Chris