.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Weekly update #1: NPCs, spells, editable profile
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o&nbsp;
                | Posted on March 28, 2014 at 7:24 PM
            //hr
            // img.img-responsive(src='http://placehold.it/900x300')
            // hr
            //p.lead
                | Science cuts two ways, of course; its products can be used for both good and evil. But there's no

            p Hi there!
            p A little over two weeks have gone by since we launched the private beta of Encounter Builder and we're happy to announce some cool updates:
            p <strong>NPC database</strong>
            p Encounter Builder now includes a database of about 2,800 NPCs of all levels. These include the generic NPCs from the Game Mastery Guide, and also a ton of NPCs from Paizo's Adventure Paths and Modules. We're really excited about this addition because many campaigns have a lot of encounters that contain mostly NPCs (like the Way of the Wicked series which we are currently playing). Also, it's now very easy to tweak published encounters within Encounter Builder, to accommodate for small or large groups of players for instance. A huge thanks to Chopswil for making his NPC database available! Without his hard work we could never have done this. Please check out his pages at <a href="http://www.d20pfsrd.com">d20pfsrd.com</a> if you'd like to know more about his awesome work.
            p <strong>Spell database</strong>
            p We've also added a database of about 1,700 spells from many official Pathfinder sources. For your convenience, all spell references in monster and NPC descriptions have been changed to clickable links that bring you to the corresponding spell. We have not yet added support for the browser back button in the app, but in the meantime you can simply click on the monster or NPC tab to get back where you came from.
            p <strong>User profiles now editable</strong>
            p You can now change your username, email, and password by going to the menu in the top right corner and clicking on "Edit profile". Also, usernames are now case insensitive for authentication (passwords remain case sensitive).
            p That's it for now. Next week we'll add a feat database and improve the loot generator!
            p Cheers,
            p Nick & Chris

            hr
            p Please head over to <a href="http://forums.encounterbuilder.com/topic/27/weekly-update-1-npcs-spells-editable-profile#50">our forums</a> if you'd like to react to this post.