.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Update #5: Good news everyone! We're back!
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                | Posted on July 7th, 2014 at 07:58 AM

            p Hey everyone,
            p Great news!
            p It’s been three long months since we’ve updated Encounter Builder, but we. are. back ! :D
            p We sincerely apologize for leaving you so long in the dark and feel we owe you an explanation. So here goes. We’ve had some sort of an existential crisis here at DemonSquid, as we increasingly felt that EncounterBuilder wasn’t doing (and going to do) enough to help Game Masters prepare their games. After many sleepless nights of debate and drawing mockups, we took the decision to make a much more ambitious app that will allow GM’s to prepare everything related to running great games, including custom NPC’s and monsters, texts, notes, handouts, illustrations and maps. Also, we want to allow GM’s to share their creations with others. Long story short (and adding the fact that Nick moved half a world away to New Zealand from his native Belgium), it took us three whole months to redesign and rebuild our app according to our new vision.
            p But we are now back on track and ready to make regular updates!
            p Here’s a list of what’s new since the last update:
            ul
                li organize your content in binders with easy drag & drop interface
                li create custom monsters and NPC’s (copied from DB or from scratch)
                li integrated text editor for notes, scenes, handouts, ...
                li favourite system to remember your favourite spells, feats, monsters, ….
                li more powerful loot generator that allows you to select specific loot types
                li 100% phone and tablet compatible (Android + iOS + Windows Phone)
            p Coming soon:
            ul
                li monster and NPC templates !
                li illustrations & maps (simple image upload, for now)
                li custom feats, items, and spells

            p We can’t wait to hear what you think of all this! As always, please voice your opinions in <a href="http://forums.encounterbuilder.com/topic/36/update-5-good-news-everyone-we-re-back">the forums</a>. Additionnally, we’d love to talk with you directly and exchange ideas, so come and chat with us on Google Hangout next Saturday at 2pm PDT (5pm EDT)! Contact either nick@encounterbuilder.com or chris@encounterbuilder.com to join the chat.

            p Cheers,
            p Nick & Chris
