// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Weekly update #2: feats, scrolls / wands / potions descriptions
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                | Posted on April 4th, 2014 at 07:35 AM
            //hr
            // img.img-responsive(src='http://placehold.it/900x300')
            // hr
            //p.lead
                | Science cuts two ways, of course; its products can be used for both good and evil. But there's no

            p Hey everyone!
            p Another week, another round of updates :)
            p <strong>Feat database</strong>
            p Encounter Builder now contains a huge database of about 1,700 feats, which is essentially all feats published in official Pathfinder sources. Like spells, feats appearing in monster and NPC stat blocks are highlighted as clickable links. Again, we’d like to thank Mike Chopswil for his incredible work on his databases.
            p <strong>Number of monsters, NPCs, items now editable</strong>
            p The red-colored badges on the left of monsters, NPCs, and items in the encounter pane are now clickable so that you can change the amount directly. This should make it much easier to make small adjustments like removing or adding one monster.
            p <strong>Scrolls, Wands, Potions and Oils now have a proper stat block</strong>
            p These items now have a proper description, cost, price and prerequisites shown in the details pane.
            p We also added a direct link to the corresponding spell from these items.
            p <strong>Bug fixes</strong>
            p We took some time to fix some bugs:
            ul
                li the app would sometimes wrongly claim that you have no encounters
                li NPCs with CR above 20 were not displayed
                li a large number of sources were shown as “?” in the search result list
                li the “Resist” attribute (and a few others) were missing in monster and NPC stat blocks
            p Next week we’ll continue working on the loot generator and add proper support for the browser back button. Stay tuned!
            p Cheers,
            p Nick & Chris

            hr
            p Please head over to <a href="http://forums.encounterbuilder.com/topic/30/weekly-update-2-feats-scrolls-wands-potions-descriptions">our forums</a> if you'd like to react to this post.