.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Update #4: A more ambitious goal ahead
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                | Posted on June 17th, 2014 at 07:56 AM

            p Hey everyone,
            p When we started working on EncounterBuilder 5 months ago, our goal was to make a tool that would allow Game Masters to prepare their games faster and more easily than with pen & paper. We’ve always considered the encounter building aspect of GM prep work quite time consuming (especially for those tables who like to track XP and loot) and so we set out to tackle that issue first.
            p But building encounters is only a small part of preparing great games!
            p And so we’ve set ourselves a more ambitious goal. We’re going to build an app where Game Masters will have everything they need to prepare great games, including NPC creation, monster creation, notes, text, handouts, illustrations and maps.
            p Better yet, for those GM’s who like to share their creations, they’ll be able to make them public for all other GM’s to use. We’ll also enable GM’s to work collaboratively on campaigns and other projects (mega-dungeons, settings, cities, illustration packs, map packs… we can’t wait to see what you’ll do with it!).
            p Of course, building all of this will require more time than we originally anticipated. It took us a long time to redesign our app to allow for our new vision, but we’re now at a point where we’ll soon start to release new features regularly. So hang in there! And please share your thoughts in the forums, all ideas are welcome!
            p One last thing ! The name Encounter Builder isn’t going to cut it anymore. The search for a new name is on… any ideas?
            p Cheers,
            p Nick & Chris

            hr
            p Please head over to <a href="http://forums.encounterbuilder.com/topic/34/update-4-a-more-ambitious-goal-ahead">our forums</a> if you'd like to react to this post.