.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 The Encounter Builder private Beta is now open!
            p.lead
                | by
                a(href='#')
                    |  Nick & Chris
            p
                span.fa.fa-clock-o
                |  Posted on March 10, 2014 at 4:57 PM
            //hr
            // img.img-responsive(src='http://placehold.it/900x300')
            // hr
            //p.lead
                | Science cuts two ways, of course; its products can be used for both good and evil. But there's no

            p Hi there!
            p We are very happy to announce that DemonSquid’s Encounter Builder is now in private Beta.
            p After several months of hard work, we feel we have sufficient functionality to make it useful. We have many ideas for going forward but we first want to know what you think!
            p Interested ? You can:
                ul
                    li drop us an email at <a href="mailto:beta@encounterbuilder.com?subject=Please%20sign%20me%20up%20to%20the%20private%20Beta">beta@encounterbuilder.com</a> if you’d like to participate to the private Beta;
                    li head over to <a href="forums.encounterbuilder.com">our forums</a> to learn more about what we’re up to, ask questions, or give your feedback.
            p Here’s the core functionality that we have implemented so far:
            p <b>Search for monsters</b>: we’ve imported a large number of monsters along with a powerful search box. Just type any part of a monster’s name and you’ll get updated results in real-time. A huge thanks to Paizo Publishing for their amazing PRD, as well as the good people at d20pfsrd.com for making their DB available! Without their hard work, we couldn’t have done any of this.
            p <b>Search for items</b>: we’ve imported a large number of items, and many more will come. We’ve also included variants such as masterwork and non-masterwork items and enchanted items (you can filter those out). Want to look up the cost of a <em>flaming kukri +2</em> ? Just type it and you’re done :)
            p <b>Assemble a set of monsters</b>: right now you can assemble an encounter by selecting a set of monsters, and you get the encounter’s CR and XP value. NPC’s will be added in the near future.
            p <b>Assemble a set of loot items & coins</b>: just like monsters, you can add any item to an encounter and the total loot value is calculated for you. You can also change the coin value of the encounter.
            p <b>Randomly generate loot</b>: our personal favorite =) We’ve started implementing the random treasure generator described in the appendix of Paizo’s Ultimate Equipment. Generate the right amount of loot items in just one click! You can of course regenerate the treasure and tweak it at will until you’re satisfied with it.
            p Cheers,
            p Nick & Chris
            hr
            <a class="fancybox" rel="group" href="assets/img/blog/encounter.jpg"><img src="assets/img/blog/encounter_small.jpg" alt="" /></a>
            <a class="fancybox" rel="group" href="assets/img/blog/item_search.jpg"><img src="assets/img/blog/item_search_small.jpg" alt="" /></a>
            <a class="fancybox" rel="group" href="assets/img/blog/monster_search.jpg"><img src="assets/img/blog/monster_search_small.jpg" alt="" /></a>
            <a class="fancybox" rel="group" href="assets/img/blog/printed_two_pages.jpg"><img src="assets/img/blog/printed_two_pages_small.jpg" alt="" /></a>
            hr
            p Please head over to <a href="#TODO">our forums</a> if you'd like to react to this post.