.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Update #6: Monster templates are here! And more!
            p.lead
                | by&nbsp;
                a(href='#')
                    | Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                | Posted on July 19th, 2014 at 11:32 AM

            p Hey everyone !
            p We have just updated Encounter Builder with several exciting new features:
            h2 Monster Templates
            em Advanced fiendish Worgs ? Giant augmented Trolls ? We have it all !
            img.img-responsive(src="assets/img/blog/templates.png")
            h2 Upload Illustrations
            em Upload your illustrations directly in Encounter Builder and have them ready at the table!
            img.img-responsive(src="assets/img/blog/illustration.png")
            h2 Custom feats, items, and spells !
            em Have an idea for an obscure feat for a home campaign? You’d like a spell but it’s missing from our DB? Want to give your NPC a unique artifact with crazy powers? Done!
            img.img-responsive(src="assets/img/blog/dropdown.png")
            p We’ll keep you posted on what comes next !
            p Cheers,
            p Nick & Chris