// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

.container-fluid.blog-container
    .row-fluid
        .col-lg-6.col-md-offset-3.well.blog-post
            h1 Making the Jump
            p.lead
                | by
                a(href='#')
                    |  Nick & Chris
            p
                span.fa.fa-clock-o &nbsp;
                |  Posted on March 7, 2014 at 4:46 PM
            //hr
            // img.img-responsive(src='http://placehold.it/900x300')
            // hr
            //p.lead
                | Science cuts two ways, of course; its products can be used for both good and evil. But there's no
            p.
                Greetings!
            p.
                We are Nick and Chris &ndash;two software engineers and longtime RPG fans&ndash; and three months ago we decided to quit our jobs to create a company and make web applications for RPG players. Explaining the career move to our friends and family has been an interesting experience: some raised eyebrows, a few ominous warnings, but mostly a lot of love and support. We want to start this blog by thanking everyone who are supporting us. In particular, a huge thank you to our respective partners, Amandine and Audrey, who have generously supported our decision to leave our stable and well-paid jobs and spend a sizeable portion of our savings on this crazy adventure. We love you!
            p.
                So here’s a bit of background about us. We’re two dudes from Belgium, in our early thirties, both with a professional background in software engineering, and we’ve been playing RPG’s together for over 15 years. We got hooked on RPG’s in our teens, first playing Vampire the Masquerade and Warhammer Fantasy Roleplay, and we’ve beeing RPG geeks ever since. Lately, we found ourselves playing a lot of Pathfinder with Amandine, Audrey and two other friends (Cédric & David we salute you), and we love it. We’re currently playing a weekly game on the Way of the Wicked Adventure Path (published by Fire Mountain Games, that we recommend heartily), and we’re just about to finish Act 1.
            p.
                So what’s next? Two things, essentially. First, we are going to incorporate our company in the US in the following weeks. As non-US citizens, we’ll have quite a few legal hurdles to go through but we expect everything to be ready real soon. Second, we’re launching the private Beta of our first product, DemonSquid’s Encounter Builder. But we’re going to need a whole blog post in itself to talk about that :-)
            p.
                Cheers,
            p.
                Nick & Chris
            hr
            p Please head over to <a href="http://forums.encounterbuilder.com/topic/1/making-the-jump">our forums</a> if you'd like to react to this post.