#divider01
    .container
        .row.centered
            #carousel-example-generic.carousel.slide
                .carousel-inner
                    .item.active
                        h1 Working with Bootstack was amazing. Their team is incredible.
                    .item
                        h1 Bootstack has helped my team build amazing products. This team Rocks!
                br
                br
                br