#divider01
    .container
        .row.centered
            #carousel-example-generic.carousel.slide
                .carousel-inner
                    .item.active
                        h1
                            | Q: How do you know if there's a Paladin in the party?
                            br
                            | A: Trust me, you'll know.
                    .item
                        h1
                            | Q: What do you call a vampire goblin?
                            br
                            | A: The Hemo Goblin
                    .item
                        h1
                            | Three dragons walk into a bar.
                            br
                            | There were no survivors.
                    .item
                        h1
                            | Q: What do Dwarfs call their Lockpicks?
                            br
                            | A: Adamantine Warhammers!
                    .item
                        h1
                            | Q: Why did the Fey cross the road?
                            br
                            | A: To get to the other Sidhe.
                    .item
                        h1
                            | Q: How many Dwarves does it take to screw in a lantern?
                            br
                            | A: 13. 1 To hold the lantern, and 12 to drink until the room spins.
                    .item
                        h1
                            | Q: Why are hit points so popular?
                            br
                            | A: They're the life of the party.
                br
                br
                br