section#features(name='features')
#intro
    .container
        .row.centered
            h1 Available Today
            hr
            p Chronicle Forge aims to become the #1 Game Master aid for preparing Pathfinder Games.<br>Available on all desktops (Windows and Mac), tablets and smartphones (iOS, Android, Windows).
        .row.centered
            .col-lg-3
                licon.li_pen &nbsp;
                h3 Pathfinder database
                p Look-up any of our 100,000+ monsters, NPCs, magic items, feats and spells.
            .col-lg-3
                licon.li_lab &nbsp;
                h3 Rich text editor
                p Create notes, dialogues, player handouts, and more with our integrated text editor.
            .col-lg-3
                licon.li_like &nbsp;
                h3 Customizable content
                p Easily create your own monsters, NPCs, magic items, feats and spells.
            .col-lg-3
                licon.li_note &nbsp;
                h3 Monster templates
                p Apply monster templates in one click, such as Advanced, Giant, and Celestial.
        .row.centered
            .col-lg-3
                licon.li_pen &nbsp;
                h3 Adventure Organizer
                p Organize your content with binders and our easy drag & drop interface.
            .col-lg-3
                licon.li_lab &nbsp;
                h3 Encounter builder
                p Create encounters and generate appropriate treasure automatically in a few clicks.
            .col-lg-3
                licon.li_like &nbsp;
                h3 Favourites system
                p Quickly access often-used monsters, NPC, items, feats and spells.
            .col-lg-3
                licon.li_note &nbsp;
                h3 Illustrations and maps
                p Upload your illustrations and maps to add flavour to your adventures.
        br
#features
    .container
        .row
            h1.centered Upcoming Features
            hr
            p.centered Chronicle Forge aims to become the #1 Game Master aid for preparing Pathfinder Games.<br>Available on all desktops (Windows and Mac), tablets and smartphones (iOS, Android, Windows).
            .col-lg-2
            .col-lg-4
                h3
                    licon.li_star &nbsp;
                    | Share your creations
                p
                    | Make your adventures publically available for other GMs to use.
                h3
                    licon.li_eye &nbsp;
                    | Browse GM creations
                p
                    | Browse other GMs publicly available adventures and reuse what you like best in your own.
                h3
                    licon.li_user &nbsp;
                    | Content rating system
                p
                    | Reddit-inspired upvote and downvote system for GM creations.
            .col-lg-4
                h3
                    licon.li_user &nbsp;
                    | Commenting system
                p
                    | Give and get feedback on GM creations.
                h3
                    licon.li_user &nbsp;
                    | Export to PDF / HTML
                p
                    | Export your adventure in a standalone format for offline use.
        br
        br
        br