// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section#features(name='features')
.container
    #intro
        .row.centered
            h1 Core Features <small>Available Today</small>
            hr
            p Chronicle Forge aims to become the #1 online Game Master aid for preparing Pathfinder Games.<br>Available on all desktops (Windows and Mac), tablets and smartphones (iOS, Android, Windows).
        .row.centered
            .col-lg-3.col-sm-6
                licon.li_data &nbsp;
                h3 Pathfinder database
                p Look-up any of our thousands of monsters, NPCs, magic items, feats and spells.
            .col-lg-3.col-sm-6
                licon.li_pen &nbsp;
                h3 Rich text editor
                p Create notes, dialogues, player handouts, and more with our integrated text editor.
            .col-lg-3.col-sm-6
                licon.li_settings &nbsp;
                h3 Customizable content
                p Easily create your own monsters, NPCs, magic items, feats and spells.
            .col-lg-3.col-sm-6
                licon.li_params &nbsp;
                h3 Monster templates
                p Apply monster templates in one click, such as Advanced, Giant, and Celestial.
        .row.centered
            .col-lg-3.col-sm-6
                licon.li_news &nbsp;
                h3 Adventure Organizer
                p Organize your content with binders and our easy drag & drop interface.
            .col-lg-3.col-sm-6
                licon.li_lab &nbsp;
                h3 Encounter builder
                p Create encounters and generate appropriate treasure automatically in a few clicks.
            .col-lg-3.col-sm-6
                licon.li_heart &nbsp;
                h3 Favourites system
                p Quickly access often-used monsters, NPC, items, feats and spells.
            .col-lg-3.col-sm-6
                licon.li_photo &nbsp;
                h3 Illustrations and maps
                p Upload your illustrations and maps to add flavour to your adventures.
        .row.centered
            a.btn.btn-lg.btn-theme(href='#register', data-toggle='modal', data-target='#register') CREATE AN ACCOUNT
    br
    br
    br
