// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section#features(name='features')
#intro
    .container
        .row.centered
            h1 What we've done so far.
            hr
            br
            br
            .col-lg-3
                licon.li_pen &nbsp;
                h3 Monster & Item Databases
                p Look up the stats for any of the included thousands of monsters and items.
            .col-lg-3
                licon.li_lab &nbsp;
                h3 Loot Generator
                p Randomly (or manually) generate appropriate loot for any encounter.
            .col-lg-3
                licon.li_like &nbsp;
                h3 Easy Encounter Building
                p Automatically calculates the challenge rating, XP and loot value.
            .col-lg-3
                licon.li_note &nbsp;
                h3 Print or export to PDF
                p Encounter Builder can export all stat blocks in a printer-friendly format.
        br
#features
    .container
        .row
            h1.centered What's coming soon.
            hr
            br
            br
            p Here are some of the features we plan to add to Encounter Builder:
            h3
                licon.li_star &nbsp;
                | Apply Monster Templates
            p
                | Want to spice up your boring goblin dog ? How about an advanced zombie goblin dog ? In just two clicks, Encounter Builder will rebuild the creature stats for you.
            h3
                licon.li_eye &nbsp;
                | Balance Monsters by Role
            p
                | Want a supporting caster to your pack of Minotaurs ? Encounter Builder will automatically suggest ideal complementary creatures that go together nicely.
            h3
                licon.li_user &nbsp;
                | NPC Creator
            p
                | Need a cool level 6 warrior NPC with a few custom twists ? Encounter Builder will soon include a fully-featured NPC creator.
            p And much more!
        br
        br
        br