section#contact(name='contact')
    //#footerwrap
        .container.centered
            .row
                .col-lg-6
                    h3 We Are Social
                    br
                    p
                        a(href='https://www.facebook.com/EncounterBuilder')
                            i.fa.fa-facebook.fa-lg
                        a(href='https://twitter.com/buildEncounters')
                            i.fa.fa-twitter.fa-lg
                        a(href='https://plus.google.com/100708201261690131120')
                            i.fa.fa-google-plus.fa-lg
                .col-lg-6
                    h3 Newsletter
                    br
                    p Subscribe to our newsletter and be the first to know our latest updates.
                    .form-inline
                        input.form-control(type='text', placeholder='Your email')
                        &nbsp;
                        button.btn.btn-theme(type='button') Subscribe
    #c
        .container.centered © Copyright 2014 DemonSquid, Inc. All Rights Reserved.