// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section#links(name='links')
    #footerwrap
        .container
            .row
                .col-lg-12
                p
                    span Contact:&nbsp;
                    // this generates our email adress
                    script.
                        var s="=b!isfg>#nbjmup;jogpAfodpvoufscvjmefs/dpn#?jogpAfodpvoufscvjmefs/dpn=0b?";
                        m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
            .row
                .col-lg-12
                span Pathfinder links:
                ul
                    li
                        a(href="http://www.paizo.com/") Paizo Publishing
                    li
                        a(href="http://www.paizo.com/prd/") Pathfinder RPG Reference Document
                    li
                        a(href="http://www.d20pfsrd.com") D20 PFSRD
        .container.centered
            .row
                a.smoothScroll(href="/#top", type="submit", class="btn btn-lg btn-theme smoothScroll") Back to top
    #c
        .container.centered
            .row
                | © Copyright 2014 DemonSquid, Inc. All Rights Reserved.
            .row
                | Pathfinder is a registered trademark of Paizo Publishing, LLC.
            .row
                a(href="/terms-of-service") Terms of Service and Privacy Policy
            br
