section#contact(name='contact')
    #footerwrap
        .container.centered
            .row
                .col-lg-12
                p
                    span Contact:&nbsp;
                    // this generates our email adress
                    script.
                        var s="=b!isfg>#nbjmup;jogpAfodpvoufscvjmefs/dpn#?jogpAfodpvoufscvjmefs=0b?";
                        m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
                a.smoothScroll(href="/#top", type="submit", class="btn btn-lg btn-theme smoothScroll") Back to top
    #c
        .container.centered
            .row
                | © Copyright 2014 DemonSquid, Inc. All Rights Reserved.
            .row
                | Pathfinder is a registered trademark of Paizo Publishing, LLC.
            br
