// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section#home(name='home')
#headerwrap
    .container
        .row.centered
            .col-lg-12
                h1 Welcome To
                    strong
                        |   Encounter Builder
                h3 Save time preparing your Pathfinder encounters. Play more!
                br
            .col-lg-2
                h5 Thousands of Monsters
                p Encounter Builder includes thousands of monsters from CR 1/8 all the way up to CR 39 (yes, Lucifer is a real badass).
                img.hidden-xs.hidden-sm.hidden-md(src='assets/img/arrow1.png')
            .col-lg-8
                img.img-responsive(src='assets/img/app-bg.png', alt='')
                a.btn.btn-lg.btn-theme.smoothScroll(href='#features', type='submit') LEARN MORE
            .col-lg-2
                br
                img.hidden-xs.hidden-sm.hidden-md(src='assets/img/arrow2.png')
                h5 Thousands of Items
                p Encounter Builder includes thousands of loot items for all levels of play, and can randomly generate an appropriate treasure for any encounter.