// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

section#home(name='home')
#headerwrap
    .container
        .row.centered
            .col-lg-12
                h1 Welcome To
                    strong
                        |   Chronicle Forge
        .row.centered
            .col-lg-3
            .col-lg-4
                h5 All you need to create and prepare great games
                p All your GM prep work in one place and available anywhere. Don’t start from scratch with our included thousands of monsters, NPC’s and items!
            .col-lg-1
                img.hidden-xs.hidden-sm.hidden-md(src='assets/img/right_to_bottom_arrow.png')
        .row.centered
            .col-lg-2
                img.hidden-xs.hidden-sm.hidden-md(src='assets/img/bottom_to_right_arrow.png')
                h5 Smart tools that save you time
                p Don’t waste your time on mundane tasks such as applying monster templates, generating treasure, computing CR,… Chronicle Forge does it all for you. Play more!
            .col-lg-8
                img.img-responsive(src='assets/img/app-bg.png', alt='')
                a.btn.btn-lg.btn-theme.smoothScroll(href='#features', type='submit') LEARN MORE
            .col-lg-2
                br
                h5 Share your creations with the world
                p Feel the glory of having your adventures used and appreciated by other GM’s around the world. Pick and choose from the creations of other GM’s to weave into your own!
                img.hidden-xs.hidden-sm.hidden-md(src='assets/img/top_to_left_arrow.png')