#login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='login', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#login.modal-title Login
            .modal-body
                #login-failed-alert.alert.alert-danger.hidden Login Failed (username and password are case sensitive)
                form#login-form.form-horizontal(method='post')
                    .form-group
                        label.col-md-4.control-label(for='username') Username
                        .col-md-5
                            input#username.form-control.input-md(name='username', type='text', placeholder='Username', required='')
                    .form-group
                        label.col-md-4.control-label(for='passwordinput') Password
                        .col-md-5
                            input#password.form-control.input-md(name='password', type='password', placeholder='Password', required='')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-theme(type='submit') Login