// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='login', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#login.modal-title Login
            .modal-body
                #login-failed-email-notvalidated.alert.alert-danger.hidden Please validate your email to activate your account.
                #login-failed-alert.alert.alert-danger.hidden Login Failed
                #login-email-validated.alert.alert-info.hidden Your email has been successfully validated. You can now login using your username and password.
                form#login-form.form-horizontal(method='post')
                    .form-group
                        label.col-md-4.control-label(for='username') Username
                        .col-md-5
                            input#username.form-control.input-md(name='username', type='text', placeholder='Username', required='')
                    .form-group
                        label.col-md-4.control-label(for='passwordinput') Password
                        .col-md-5
                            input#password.form-control.input-md(name='password', type='password', placeholder='Password', required='')
                    .form-group
                        label.pointer.col-md-5.col-md-offset-4
                            input#rememberme(type="checkbox", checked='checked')
                            | &nbsp;Remember Me
                    .modal-footer
                        a.register-btn.pull-left.pointer.hidden-xs Create an Account
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-theme(type='submit') Login