#navigation.navbar.navbar-default.navbar-fixed-top
    .container
        .ribbon-wrapper
            .ribbon BETA
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/#home')
                strong Encounter Builder
                span.beta-small-screen
                    |  BETA
        .nav-social.pull-right(style="padding-left:20px;")
            a(href='https://www.facebook.com/EncounterBuilder', target='_blank', title='Like us on Facebook', style="color: #c82020;")
                i.icon.icon-lg.square.fa.fa-facebook
            a(href='https://twitter.com/buildEncounters', target='_blank', title='Follow us on Twitter', style="color: #c82020;")
                i.icon.icon-lg.square.fa.fa-twitter
            a(href='https://plus.google.com/100708201261690131120', target='_blank', title='Join us on Google+', style="color: #c82020;")
                i.icon.icon-lg.square.fa.fa-google-plus
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li.active
                    a.smoothScroll(href='/#home') Home
                li
                    a.smoothScroll(href='/#features') Features
                li
                    a.smoothScroll(href='/#pricing') Pricing
                li
                    a(href='http://forums.encounterbuilder.com') Forums
                li
                    a(href='/blog') Blog
                li
                    a#register-link(href='#register', data-toggle='modal', data-target='#register',style='color:#c82020;') Private Beta Signup
            ul.nav.navbar-nav.navbar-right
                li
                    a#login-link(href='#login', data-toggle='modal', data-target='#login') Login
