// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#pricing
    .container.centered
        br
        h2 Our Pricing Options
        hr
        h3(style="color:#c82020")
            | Currently Chronicle Forge is in beta and <b>free</b> for all users!
        //a.btn.btn-lg.btn-theme(href='#register', data-toggle='modal', data-target='#register') CREATE AN ACCOUNT
        brs
        //.row
            .col-xs-12
                .switch-toggle.switch-ios.pointer#priceSwitch
                    input#beta1Radio.pointer(name='view', type='radio', checked='', onclick="beta1RadioClicked();")
                    label.pointer(for='beta1Radio', onclick='') Beta Price
                    input#beta2Radio.pointer(name='view', type='radio', onclick="beta2RadioClicked();")
                    label.pointer(for='beta2Radio', onclick='') Launch Price
                    a.pointer
        // TEST BEGIN
        br
        .row
            .col-lg-4.col-sm-6.col-xs-12
                .pricing-option(style="max-width:360px;")
                    .pricing-top#dragon-pricing
                        span.pricing-edition.whiteTextShadow Lifetime
                        span.price.whiteTextShadow
                            sup $
                            span.price-amount 29
                        br
                        small.price.whiteTextShadow(style="position:relative; top:-10px;") full price: $59
                        span.special-label reduced price until November 1st
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') GET STARTED
            .col-lg-4.col-sm-6.col-xs-12
                .pricing-option(style="max-width:360px;")
                    .pricing-top#lich-pricing
                        span.pricing-edition.whiteTextShadow Yearly
                        span.price.whiteTextShadow
                            sup $
                            span.price-amount 19
                            small /year
                        br
                        small.price.whiteTextShadow(style="position:relative; top:-10px;") full price: $39 / year
                        span.special-label reduced price until November 1st
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') GET STARTED
            .col-lg-4.col-sm-6.col-xs-12
                .pricing-option(style="max-width:360px;")
                    .pricing-top#minotaur-pricing
                        span.pricing-edition.whiteTextShadow Monthly
                        span.price.whiteTextShadow
                            sup $
                            span.price-amount 3
                            small /month
                        br
                        small.price.whiteTextShadow(style="position:relative; top:-10px;") full price: $5 / month
                        span.special-label reduced price until November 1st
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') GET STARTED
