#pricing
    .container.centered
        br
        h2 Our Pricing Options
        hr
        h3(style="color:red")
            |We have not yet launched so these prices are still subject to changes.
        br
        .row
            .col-xs-12
                .switch-toggle.switch-ios.switch-3.pointer#priceSwitch
                    input#beta1Radio.pointer(name='view', type='radio', checked='', onclick="beta1RadioClicked();")
                    label.pointer(for='beta1Radio', onclick='') Beta 1
                    input#beta2Radio.pointer(name='view', type='radio', onclick="beta2RadioClicked();")
                    label.pointer(for='beta2Radio', onclick='') Beta 2
                    input#launchRadio.pointer(name='view', type='radio', onclick="launchRadioClicked();")
                    label.pointer(for='launchRadio', onclick='') At Launch
                    a.pointer
        // TEST BEGIN
        br
        br
        .row
            .col-lg-4#lifetime-col
                .pricing-option
                    .pricing-top#dragon-pricing
                        span.pricing-edition.whiteTextShadow Lifetime
                        span.price.beta1Price.whiteTextShadow
                            span.price-amount FREE
                        span.price.beta2Price.whiteTextShadow.hide
                            sup $
                            span.price-amount 29
                        span.price.launchPrice.whiteTextShadow.hide
                            sup $
                            span.price-amount 59
                        span.special-label.beta2Price.hide register during Beta 2 and save $30
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') Start your 30-day Free Trial
            .col-lg-4#yearly-col
                .pricing-option
                    .pricing-top#lich-pricing
                        span.pricing-edition.whiteTextShadow Yearly
                        span.price.beta1Price.whiteTextShadow
                            span.price-amount FREE
                        span.price.beta2Price.whiteTextShadow.hide
                            sup $
                            span.price-amount 19
                            small /year
                        span.price.launchPrice.whiteTextShadow.hide
                            sup $
                            span.price-amount 39
                            small /year
                        span.special-label.beta2Price.hide register during Beta 2 and save $19/year
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') Start your 30-day Free Trial
            .col-lg-4#monthly-stub-col
            .col-lg-4
                .pricing-option
                    .pricing-top#minotaur-pricing
                        span.pricing-edition.whiteTextShadow Monthly
                        span.price.beta1Price.whiteTextShadow
                            span.price-amount FREE
                        span.price.beta2Price.whiteTextShadow.hide
                            sup $
                            span.price-amount 3
                            small /month
                        span.price.launchPrice.whiteTextShadow.hide
                            sup $
                            span.price-amount 5
                            small /month
                        span.special-label.beta2Price.hide register during Beta 2 and save $2/month
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') Start your 30-day Free Trial