// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#pricing
    .container.centered
        br
        h2 Our Pricing Options
        hr
        h3(style="color:red")
            |We have not yet launched so these prices are still subject to changes.
        br
        .row
            .col-xs-12
                .switch-toggle.switch-ios.pointer#priceSwitch
                    input#monthlyRadio.pointer(name='view', type='radio', checked='', onclick="monthlyRadioClicked();")
                    label.pointer(for='monthlyRadio', onclick='') Monthly
                    input#yearlyRadio.pointer(name='view', type='radio', onclick="yearlyRadioClicked();")
                    label.pointer(for='yearlyRadio', onclick='') Yearly
                    a.pointer
        // TEST BEGIN
        br
        br
        .row
            .col-lg-4
                .pricing-option
                    .pricing-top#dragon-pricing
                        span.pricing-edition.whiteTextShadow Dragon
                        span.price.monthlyPrice.whiteTextShadow
                            sup $
                            span.price-amount 8
                            small /month
                        span.price.yearlyPrice.whiteTextShadow.hide
                            sup $
                            span.price-amount 59
                            small /year
                        span.special-label.yearlyPrice.hide you save $37
                    ul
                        li
                            strong Unlimited&nbsp;
                            | encounters
                        li
                            strong No limit&nbsp;
                            | on monster CR
                        li
                            strong No limit&nbsp;
                            | on encounter CR
                        li
                            | Ideal for PC's of&nbsp;
                            strong all levels
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') Get Started
            .col-lg-4
                .pricing-option
                    .pricing-top#lich-pricing
                        span.pricing-edition.whiteTextShadow Lich
                        span.price.monthlyPrice.whiteTextShadow
                            sup $
                            span.price-amount 5
                            small /month
                        span.price.yearlyPrice.whiteTextShadow.hide
                            sup $
                            span.price-amount 45
                            small /year
                        span.special-label.yearlyPrice.hide you save $15
                    ul
                        li
                            strong Unlimited&nbsp;
                            | encounters
                        li
                            | Monsters up to&nbsp;
                            strong CR 10
                        li
                            | Encounters up to&nbsp;
                            strong CR 20
                        li
                            | Ideal for PC's&nbsp;
                            strong level 1 to 14
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') Get Started
            .col-lg-4
                .pricing-option
                    .pricing-top#minotaur-pricing
                        span.pricing-edition.whiteTextShadow Minotaur
                        span.price.monthlyPrice.whiteTextShadow
                            sup $
                            span.price-amount 0
                            small /month
                        span.price.yearlyPrice.whiteTextShadow.hide
                            sup $
                            span.price-amount 0
                            small /year
                    ul
                        li
                            strong Unlimited&nbsp;
                            | encounters
                        li
                            | Monsters up to&nbsp;
                            strong CR 5
                        li
                            | Encounters up to&nbsp;
                            strong CR 10
                        li
                            | Ideal for PC's&nbsp;
                            strong level 1 to 7
                    a.pricing-signup(href='#register', data-toggle='modal', data-target='#register') Get Started