#register-success.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#register.modal-title Sign up
            .modal-body
                p
                    span Thanks for signing up for Encounter Builder! You should receive an email with a confirmation link in a few minutes.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Ok