// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#register.modal-title Create an Account
            .modal-body
                //p
                    span We are  currently in private Beta. If you would like to participate send us an email at&nbsp;
                    script.
                        var s="=b!isfg>#nbjmup;cfubAfodpvoufscvjmefs/dpn@tvckfdu>Qmfbtf&31tjho&31nf&31vq&31up&31uif&31qsjwbuf&31Cfub#?cfubAfodpvoufscvjmefs/dpn=0b?";
                        m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
                    span &nbsp;and we'll be in touch.
                #register-failed-user.alert.alert-danger.hidden Username already exists.
                #register-failed-email.alert.alert-danger.hidden Email already in use.
                #register-failed-alert.alert.alert-danger.hidden
                    span Sign up Failed, Sorry. If the problem persists contact us in <a href="http://forums.encounterbuilder.com/">our forums</a> or by email at&nbsp;
                    script.
                        var s="=b!isfg>#nbjmup;cfubAfodpvoufscvjmefs/dpn@tvckfdu>Qmfbtf&31tjho&31nf&31vq&31up&31uif&31qsjwbuf&31Cfub#?cfubAfodpvoufscvjmefs/dpn=0b?";
                        m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
                form#register-form
                    .form-group
                        label.control-label(for='email') Email
                        input#email.form-control.input-md(type='email', name='email',required='')
                    .form-group
                        label.control-label(for='username') User Name
                        input.form-control.input-md(type='text', name='username',required='')
                    .form-group
                        label.control-label(for='confirm_password') Choose your password
                        input.form-control.input-md(type='password', name='password',required='')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        //button.btn.btn-default(type='button', data-dismiss='modal') Ok
                        button.btn.btn-theme(type="submit") Create an account
