// Copyright (c) 2014 DemonSquid, Inc. All rights reserved.

#register-success.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#register.modal-title Sign up
            .modal-body
                p
                    span Thanks for signing up for Chronicle Forge! You can now login into your account.
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Ok
