doctype html

head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Encounter Builder - Save time preparing your Pathfinder encounters. Play more!")
    meta(name="author", content="Nicolas Maquet & Christophe Muylaert")
    link(rel="shortcut icon", href="assets/ico/favicon.png")
    title Encounter Builder - Home
    link(href="assets/css/bootstrap.min.css", rel="stylesheet")
    link(href="assets/css/linecons.css", rel="stylesheet")
    link(href="assets/css/font-awesome.min.css", rel="stylesheet")
    link(href="assets/css/toggle-switch.css", rel="stylesheet")
    link(href="assets/css/main.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,700', rel='stylesheet', type='text/css')
    script(src="assets/js/modernizr.custom.js")

body
    script.
            var WRInitTime=(new Date()).getTime();
    include _navbar
    include _login-modal
    include _register-modal
    include _register-success-modal
    #logged-in.hide
        a#app-link(href='/app') Welcome Back! Click here to go to Encounter Builder
    include _home
    include _features
    include _divider
    include _pricing
    include _footer
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/jquery.easing.1.3.js')
    script(src='assets/js/smoothscroll.js')
    script(src='assets/js/retina.js')
    script(src='assets/js/main.js')
    script.
        // function ClickTalePreRecordingHook() { /* place your customized code here */  }
        document.write(unescape("%3Cscript%20src='" + (document.location.protocol=='https:'?
        "https://clicktalecdn.sslcs.cdngc.net/www02/ptc/51d0da2f-d688-44c5-8ea6-7215f6828f52.js":
        "http://cdn.clicktale.net/www02/ptc/51d0da2f-d688-44c5-8ea6-7215f6828f52.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-48885055-1', 'encounterbuilder.com');
        ga('send', 'pageview');